@mixin icon {
  width: 50px;
  height: 50px;
  outline: 0;
  outline: none;
  @content;
}

.icon-cms-down {
  @include icon;
  background: url("/assets/icons/icon-no-network.png") no-repeat center center transparent;
}
