button {
    border-radius: .25em;
    padding: 1em;
}

::ng-deep .mat-tooltip.tooltipCustomClass {
    font-size: 13px;
    background-color: #9c1c23;
    padding: .5em 1em;
    border-radius: 1in;
}