<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>DD -> Tiger Bets</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Note: Tiger bets applicable only on Cluster Antenna table -->
        <div class="wd-dd__container tiger-bets wd-dd__container--transformed">
            <main class="wd-dd__content-wrapper">
                <div class="wd-dd__content shared-pos-bet-left"></div>
                <div class="wd-dd__content shared-pos-bet-right"></div>
                <div class="wd-dd__content position-bet left">
                    <div class="wd-dd__position pos-1 bet-placed">
                        <div class="row">
                            <div class="active-position-number">2</div>
                            <div class="active-casino-player-id">6001</div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">B</div>
                                <div class="bet-value">12,345,678.90</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">T</div>
                                <div class="bet-value">12,345,678.90</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">TP</div>
                                <div class="bet-value">12,345,678.90</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">TS</div>
                                <div class="bet-value">12,345,678.90</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">ST</div>
                                <div class="bet-value">12,345,678.90</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">BT</div>
                                <div class="bet-value">12,345,678.90</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">I</div>
                                <div class="bet-value">12,345,678.90</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">R</div>
                                <div class="bet-value">12,345,678.90</div>
                            </div>
                        </div>
        
                    </div>
                    <div class="wd-dd__position pos-2 bet-placed">
                        <div class="row">
                            <div class="active-position-number">1</div>
                            <div class="active-casino-player-id">6009</div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">B</div>
                                <div class="bet-value"><!-- Don't show value=0 --></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">P</div>
                                <div class="bet-value"><!-- Don't show value=0 --></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">T</div>
                                <div class="bet-value">100</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">TP</div>
                                <div class="bet-value"><!-- Don't show value=0 --></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">TS</div>
                                <div class="bet-value"><!-- Don't show value=0 --></div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">L6</div>
                                <div class="bet-value"> Don't show value=0 </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="wd-dd__content position-bet top">
                    <div class="positions">
                        <div class="wd-dd__position pos-3 bet-placed">
                            <div class="row">
                                <div class="active-position-number">3</div>
                                <div class="active-casino-player-id">6050</div>
                            </div>
                            <div class="row">
                                <div class="main-bet">
                                    <div class="bet-label">B</div>
                                    <div class="bet-value">12,345,678.90</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">T</div>
                                    <div class="bet-value">12,345,678.90</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">TP</div>
                                    <div class="bet-value">12,345,678.90</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">TS</div>
                                    <div class="bet-value">12,345,678.90</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">ST</div>
                                    <div class="bet-value">12,345,678.90</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">BT</div>
                                    <div class="bet-value">12,345,678.90</div>
                                </div>
                            </div>
                        </div>
                        <div class="wd-dd__position pos-5 bet-placed">
                            <div class="row">
                                <div class="active-position-number">5</div>
                                <div class="active-casino-player-id">6020</div>
                            </div>
                            <div class="row">
                                <div class="main-bet">
                                    <div class="bet-label">P</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">BB</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">BP</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">T</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">I</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="wd-dd__position pos-6">
                            <div class="row">
                                <div class="active-position-number">5</div>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                        </div>
                    </div>
                </div>
                <div class="wd-dd__content position-bet right">
                    <div class="wd-dd__position pos-7 bet-placed">
                        <div class="row">
                            <div class="active-position-number">6</div>
                            <div class="active-casino-player-id">6045</div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">B</div>
                                <div class="bet-value">
                                    500
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">P</div>
                                <div class="bet-value">
                                    2,000
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">T</div>
                                <div class="bet-value">
                                    <!-- Don't show value=0 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">TP</div>
                                <div class="bet-value">
                                    <!-- Don't show value=0 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">TS</div>
                                <div class="bet-value">
                                    <!-- Don't show value=0 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wd-dd__position pos-8">
                        <div class="row">
                            <div class="active-position-number">7</div>
                        </div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="wd-dd__content msg-area"></div>
        
            </main>
            <footer class="wd-dd__footer">
                <div class="content-wrapper">
                    <span>Table-240</span>
                    <button mat-button>
                        <span>90,000</span>
                        <span>(10)</span>
                    </button>
                    <span>Version 2.1.0.0</span>
                </div>
        
            </footer>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                DD -> Standard bets
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="wd-dd__container">
            <main class="wd-dd__content-wrapper">
                <div class="wd-dd__content shared-pos-bet-left"></div>
                <div class="wd-dd__content shared-pos-bet-right"></div>
                <div class="wd-dd__content position-bet left">
                    <div class="wd-dd__position pos-1 bet-placed">
                        <div class="row">
                            <div class="active-position-number">2</div>
                            <div class="active-casino-player-id">6001</div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">B</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">BB</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">BP</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">T</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">L6</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="wd-dd__position pos-2 bet-placed">
                        <div class="row">
                            <div class="active-position-number">1</div>
                            <div class="active-casino-player-id">6009</div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">B</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">P</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">BB</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">BP</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">T</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">L6</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wd-dd__content position-bet top">
                    <div class="positions">
                        <div class="wd-dd__position pos-3">
                            <div class="row">
                                <div class="active-position-number">3</div>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                        </div>
                        <div class="wd-dd__position pos-5 bet-placed">
                            <div class="row">
                                <div class="active-position-number">5</div>
                                <div class="active-casino-player-id">6020</div>
                            </div>
                            <div class="row">
                                <div class="main-bet">
                                    <div class="bet-label">P</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">BB</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">BP</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">T</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shared-bet">
                                    <div class="bet-label">I</div>
                                    <div class="bet-value">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="wd-dd__position pos-6">
                            <div class="row">
                                <div class="active-position-number">6</div>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                        </div>
                    </div>
                </div>
                <div class="wd-dd__content position-bet right">
                    <div class="wd-dd__position pos-7 bet-placed">
                        <div class="row">
                            <div class="active-position-number">7</div>
                            <div class="active-casino-player-id">6045</div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">B</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="main-bet">
                                <div class="bet-label">P</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">BB</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">BP</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="shared-bet">
                                <div class="bet-label">T</div>
                                <div class="bet-value">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="wd-dd__position pos-8">
                        <div class="row">
                            <div class="active-position-number">8</div>
                        </div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="wd-dd__content msg-area"></div>
        
            </main>
            <footer class="wd-dd__footer">
                <div class="content-wrapper">
                    <span>Table-240</span>
                    <button mat-button>
                        <span>90,000</span>
                        <span>(10)</span>
                    </button>
                    <span>Version 2.1.0.0</span>
                </div>
        
            </footer>
        </div>
    </mat-expansion-panel>
</mat-accordion>



<p>
  <!-- Blank -->
  </p>


