@import '../../styles/variables', '../../styles/mixins';

:host {
  background-color: #262626;
}

.wd-dd__container--transformed {
  padding: 1vmin 1vmin 3vmin;

  .wd-dd__content-wrapper,
  .wd-dd__content,
  .positions {
    grid-gap: 0;
  }

  .wd-dd__position,
  .shared-pos-bet-left,
  .shared-pos-bet-right,
  .msg-area {
    transform: scale(.96);
  }

  .wd-dd__content {
    &.shared-pos-bet-left
    &.left .wd-dd__position {
      transform-origin: center left;
    }

    &.shared-pos-bet-right,
    &.right .wd-dd__position {
      transform-origin: center right;
    }

    &.msg-area {
      transform-origin: center;
    }

    .pos-3.wd-dd__position {
      .shared-bet {
        font-size: 1.2em;
        line-height: 1;
      }
    }
  }

  .wd-dd__footer .content-wrapper {
    padding: .5vmin 0 0;
  }
}
