<div class="wd-row">
    <details>
        <summary><p style="display: inline; line-height: 2;">Basic Buttons</p></summary>
        <button type="button" mat-button class="common-button common-button--default" (click)="clicked = true">
            Default button
        </button>
    
        <button type="button" mat-button class="common-button" (click)="clicked = true">
            Basic button
        </button>
    
        <button type="button" mat-button class="common-button common-button--primary" (click)="clicked = true">
            Primary button
        </button>
    
        <button type="button" mat-button class="common-button common-button--accent" (click)="clicked = true">
            Accent button
        </button>
    
        <button type="button" mat-button class="common-button common-button--disabled" (click)="clicked = true" disabled>
            Disabled button
        </button>
    </details>
    
</div>

<mat-divider style="margin: 1em 0"></mat-divider>

<div class="wd-row">
    <details>
        <summary><p style="display: inline; line-height: 2;">Raised Buttons</p></summary>
        <button mat-raised-button type="button" class="common-button common-button--default">
            <mat-icon>add</mat-icon>
            <span>Add Default</span>
        </button>
    
        <button mat-raised-button type="button" class="common-button">
            <mat-icon>add</mat-icon>
            <span>Add Basic</span>
        </button>
    
        <button mat-raised-button type="button" class="common-button common-button--primary">
            <mat-icon>add</mat-icon>
            <span>Add Primary</span>
        </button>
    
        <button mat-raised-button type="button" class="common-button common-button--primary-fill">
            <mat-icon>add</mat-icon>
            <span>Add Primary Fill</span>
        </button>
    
        <button mat-raised-button type="button" class="common-button common-button--accent">
            <mat-icon>add</mat-icon>
            <span>Add Accent</span>
        </button>
    
        <button mat-raised-button type="button" class="common-button common-button--accent-fill">
            <mat-icon>add</mat-icon>
            <span>Add Accent Fill</span>
        </button>
    
        <button mat-raised-button type="button" class="common-button common-button--disabled" disabled>
            <mat-icon>add</mat-icon>
            <span>Add Disabled</span>
        </button>
    </details>
</div>

<mat-divider style="margin: 1em 0"></mat-divider>

<div class="wd-row">
    <details>
        <summary><p style="display: inline; line-height: 2;">Cashier Window Buttons</p></summary>
        <div class="wd-flex">
            <button mat-raised-button type="button" class="btn-add-player">
                <mat-icon class="icon-add-player"></mat-icon>
                <span class="btn-title">Player</span>
            </button>
    
            <div class="card-added-player" [matMenuTriggerFor]="addedplayermenu">
                <mat-icon>arrow_drop_down</mat-icon>
                <section class="player-image">
                    <span class="btn-title">Player</span>
                    <img [src]="playerImage" alt="Player Name" />
                </section>
                <section class="player-details">
                    <span class="name">Gupta, Amit Kumar</span>
                    <span class="id">173001</span>
                </section>
            </div>
    
            <mat-menu #addedplayermenu="matMenu" class="cw-added-player-menu-list" xPosition="before">
                <button mat-menu-item>
                    <span>Update</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item>
                    <span class="text-error">Remove</span>
                </button>
            </mat-menu>
        </div>
    </details>
</div>

<mat-divider style="margin: 1em 0"></mat-divider>

<div class="wd-row">
    <details>
        <summary><p style="display: inline; line-height: 2;">Toggle Buttons</p></summary>
        <div class="wd-flex">
            <div class="common-content-wrapper">
                <button mat-stroked-button 
                    matTooltip="Flip all position-cards"
                    class="common-button common-button--default mat-elevation-z4">
                    <img _ngcontent-cbi-c354="" src="/assets/icons/icon-card-flip-32.svg">
                </button>
                <div class="button-toggle-wrapper mat-elevation-z4">
                    <mat-button-toggle-group name="playerPositions" aria-label="Player position states">
                        <mat-button-toggle value="seated">Seated</mat-button-toggle>
                        <mat-button-toggle value="a">A</mat-button-toggle>
                        <mat-button-toggle value="b">B</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                
                <button mat-stroked-button 
                    matTooltip="Refresh screen data"
                    class="common-button common-button--default button--refresh mat-elevation-z4">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </div>
    </details>
</div>

<mat-divider style="margin: 1em 0"></mat-divider>

<div class="wd-row">
    <details>
        <summary><p style="display: inline; line-height: 2;">App Switcher Buttons</p></summary>
        <div class="wd-flex" style="flex-wrap: wrap; gap: 1em">
            <div class="app-thumbnail__wrapper mat-elevation-z2" *ngFor="let item of appTypes">
                <button mat-button type="button" class="common-button common-button--primary">
                    <mat-icon class="app-icon__{{item}}"></mat-icon>
                            <span class="app-thumbnail__label" >{{item}}</span>
                    <!-- <mat-card>
                        <mat-card-content>
                            <mat-icon class="app-icon__{{item}}"></mat-icon>
                            <span class="app-thumbnail__label" >{{item}}</span>
                        </mat-card-content>
                    </mat-card> -->
                </button>
            </div>
        </div>
    </details>
</div>