@use "../../../styles/variables" as vars;
@use "../../../styles/mixins" as mixins;

$btn-max-width:             210px;
$btn-height:                6rem;
$app-btn-base-color:        vars.$white;
$app-btn-surface-color:     vars.$w2-primary;
$app-btn-text-color:        vars.$black;


.wd-row + .wd-row {
    margin-top: 1em;
}

.common-button + .common-button {
    margin-left: 1em;
}





.btn-add-player {
    @include mixins.btn-add-player;
    max-width: $btn-max-width;
    height: $btn-height;
}

// .btn-added-player {
//     @include mixins.btn-added-player;
//     height: $btn-height;

//     span.btn-title {
//         position: absolute;
//         left: -0.5em;
//         transform: scale(0.5);
//         top: -0.6em;
//         opacity: 0.65;
//         text-transform: uppercase;
//         letter-spacing: 2px;
//         padding: 0;
//     }

//     img {
//         width: 46px;
//         height: auto;
//         max-height: 48px;
//         left: 0;
//         border: 1px solid silver;
//         border-radius: 50%;
//         margin-top: 0.7em;
//     }

//     span.btn-label {
//         display: flex;
//     }

//     .player-image {
//         position: relative;
//     }
// }





.card-added-player {
    @include mixins.set-font-family();
    border: 1px solid #bb9156;
    background-color: white;
    border-radius: 8px;
    display: inline-flex;
    margin-left: 1em;
    padding: 1em;
    position: relative;
    overflow: hidden;
    max-width: $btn-max-width;
    height: $btn-height;

    &:hover {
        cursor: pointer;
    }

    .mat-icon {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        color: $app-btn-surface-color;
    }

    span.btn-title {
        left: 0;
        transform: matrix(.8, 0, 0, .8, 0, 0);
        top: 0;
        opacity: 0.65;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        font-weight: 600;
        padding: 0;
        transform-origin: center;
    }

    img {
        width: 46px;
        height: auto;
        max-height: 48px;
        left: 0;
        box-shadow: 0 0 2px rgb(0, 0, 0);
        border-radius: 50%;
    }

    .player-details {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 0 0 .5em;

        .name,
        .id {
            @include mixins.add-ellipsis();
            font-size: 0.875rem;
            font-weight: 600;
            padding: 0;
            width: 9em;
        }
    }

    .player-image {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 2px;
        flex-direction: column;
    }
}

::ng-deep .cw-added-player-menu-list.mat-menu-panel {
    button.mat-menu-item {
        @include mixins.set-font-family();
        @include mixins.include-font-style(1rem, 500, 1.3);
    }
}





$app-icons:
	"casino-manager" "icon-casino-manager",
	"configuration" "icon-configurations",
	"player-dashboard" "icon-player-dash",
	"treasury" "icon-treasury-manager",
	"alerts" "icon-alerts",
	"reports" "icon-report-app",
	"cam" "icon-cam",
	"cashier" "icon-cashier",
    "table-dash" "icon-table-dash";


.app-icon {
  background: $app-btn-base-color no-repeat center top;
  display: flex;
  height: 60px;
  margin: 0 auto;
  width: 80px;
}

@each $name, $icon in $app-icons {
  .app-icon__#{$name} {
    @extend .app-icon;
    background-image: url("/assets/icons/#{$icon}.svg");
  }
}

.app-thumbnail {
    padding: 0;
    width: 250px;
    
    &__wrapper {
        display: flex;
        position: relative;

        .common-button {
            height: auto; 
            padding: 1em; 
            width: 250px;

            &:hover {
                color: $app-btn-surface-color;
            }
        }
    }

    &__label {
        @include mixins.include-font-style(1rem, 500, 1.3);
        color: $app-btn-surface-color;
        text-transform: capitalize;
    }
}







// Toggle buttons used in Table Dashboard
.common-content-wrapper {
    font-size: 1rem;
    display: flex;
    // position: fixed; // Intentionally commented this line.
    position: relative;
    // top: 10vmin;
    // right: 2vmin;
    // z-index: 12;
    
    ::ng-deep .mat-button-toggle-group-appearance-standard {
        border-radius: 0.4vmin;

        .mat-button-toggle + .mat-button-toggle {
            border-left: 1px solid #bb9156!important;
        }

        .mat-button-toggle-label-content {
            line-height: 1;
        }
    }

    ::ng-deep .mat-button-toggle-appearance-standard, 
    ::ng-deep .mat-button-toggle-group-appearance-standard {
        border: none!important;
        max-height: 100%;
        height: 100%;
    }

    ::ng-deep .mat-button-toggle-button {
        min-width: 5vw;
        height: 100%;
    }
    
    ::ng-deep .mat-button-toggle-checked {
        background: #9c1c23!important;
        color: #fff!important;
    }

    .button--flip {
        padding: 0 1vw;
        border: 1px solid #bb9156;
        border-radius: 0.5vmin;
        filter: none;
    }

    .button-toggle-wrapper {
        border: 1px solid #bb9156;
        border-radius: 0.5vmin;
        height: auto;
        margin: 0 1vw;
    }

    .button--refresh.common-button--default.common-button {
        display: flex;
        align-items: center;
        padding: 0 1vw;
        border: 1px solid #bb9156;
        border-radius: 0.5vmin;
        filter: none;
        
        .material-icons {
            font-size: 4vmin;
            transition: transform .4s ease-in-out;
            width: 100%;
            height: 100%;
        }
    }
}
