<div class="wd-row" style="padding: 1em 0">
    <button mat-raised-button class="common-button" routerLink="" *ngIf="backButton">Back</button>
</div>

<div class="scene-wrapper">
    <div class="scene">
        <div class="floor"></div>
        <div class="cube">
            <div class="front"></div>
            <div class="back"></div>
            <div class="left"></div>
            <div class="right"></div>
            <div class="top">
                <div class="ball-shadow"></div>
            </div>
            <div class="bottom"></div>
        </div>
        <div class="ball"></div>
    </div>
</div>
