.scene {
    position: relative;
    transform-style: preserve-3d;
    animation: sceneRotate var(--rotateSpeed) infinite linear;

    @keyframes sceneRotate {
        to {
            transform: rotateY(360deg);
        }
    }

    &-wrapper {
        background-color: #000;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
        perspective: 10em;
        perspective-origin: 50% calc(50% - 3em);
        overflow: hidden;
    }

    .ball {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: lightblue;
        position: absolute;
        left: -.5em;
        bottom: 1em;
        background-image: radial-gradient(circle at top, lightblue, 40%, #000);
        animation: ballBounce var(--bounceSpeed) infinite ease-out, ballRotate var(--rotateSpeed) infinite linear reverse;
    }

    @keyframes ballRotate {
        to {
            transform: rotateY(360deg);
        }
    }

    @keyframes ballBounce {
        0%, 100% {
            bottom: .4em;
        }
        
        50% {
            bottom: 3em; animation-timing-function: ease-in;
        }
    }

    .ball-shadow {
        position: absolute;
        width: 100%; height: 100%;
        background-image:
          radial-gradient(#0007,  #0000 50%);
        animation: ballShadow var(--bounceSpeed) infinite ease-out;
    }

    @keyframes ballShadow {
        0%, 18%, 94%, 100% {
            transform: scale(1);
        }
        
        50% {
            transform: scale(1.7); animation-timing-function: ease-in;
        }
    }

    .cube {
        width: 2em;
        height: 2em;
        position: absolute;
        left: -1em;
        bottom: -1em;
        transform-style: preserve-3d;
        animation: cubeHeight var(--bounceSpeed) infinite ease-out;
        transform-origin: bottom;
    }

    @keyframes cubeHeight {
        0%,  100% {
            height: 1.5em; transform: scale3d(1.15, .85, 1.15);;
        }
        
        18%, 94% {
            height: 2em; animation-timing-function: linear; transform: scale3d(1, 1, 1);
        }
    }

    .floor {
        width: 15em;
        height: 15em;
        background-image:
          radial-gradient(#0000, #000 75%),
          repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
        background-size: 100%, 1em 1em;
        position: absolute;
        transform: translate(-50%, -50%) rotateX(90deg);
        top: 1em;
    }

    .left, .right, .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--boxColor);
        box-shadow: inset 0 0 .5em #000;
    }

    .front { transform: translateZ(1em); }
    .right { transform: rotateY(90deg) translateZ(1em); }
    .back { transform: rotateY(180deg) translateZ(1em); }
    .left { transform: rotateY(270deg) translateZ(1em); }

    .top, .bottom {
        position: absolute;
        width: 2em;
        height: 2em;
    }

    .top {
        background: var(--boxColor);
        transform: translateY(-50%) rotateX(90deg);
        box-shadow: inset 0 0 .5em #000;
    }

    .bottom {
        background: #0007;
        transform: translateY(50%) rotateX(90deg);
        box-shadow: 0 0 .5em #000;
        bottom: 0;
    }
    
    
    
}