.cluster-antenna-view {
  display: block;
  // min-width: 1200px;
  // min-height: 768px;
}

.cluster-antenna-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.position {
  display: grid;
  height: 10em;
  width: fit-content;
}
