<div class="cluster-antenna-view">
  <div class="cluster-antenna-grid">
    <div class="position position-1"></div>
    <div class="position position-2"></div>
    <div class="position position-3"></div>
    <div class="position position-4"></div>
    <div class="position position-5"></div>
    <div class="position position-6"></div>
    <div class="position position-7"></div>
  </div>
</div>
