@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins' as mixins;

:host {
    display: flex;
    justify-content: space-between;
}
//
// Snackbar customization:
// Success::Green | Error:: Red | Warn::Orange | Info::Blue
//
%snack-bottom-margin {
    margin-bottom: 5em !important; //re-position snackbar to avoid overlapping
}

$snack-colors:(
    success: vars.$green,
    error: vars.$error-red,
    warn: vars.$orange-bright,
    info: vars.$blue-bright
);

@each $name, $status in $snack-colors {
    .snack__#{$name}{
        background-color: $status;
        color: vars.$white;
        font-weight: 600;
        float:right;
        position: absolute;
        right: 0;
        bottom: 0;
        @extend %snack-bottom-margin;
    }
}