.cw-footer {
  &__bottom-content {
      @include include-font-style(.75rem, 600, 1.3);
      align-items: center;
      background-color: $footer-surface-color;
      color: $footer-text-color;
      flex: 1;
      height: 16px;
      letter-spacing: 1px;
      padding: 4px 0;
      text-transform: uppercase;

      .wd-col:first-child {
          padding: 0 0 0 1em;
      }

      .wd-col:last-child {
          padding: 0 1em 0 0;
      }

      span + span {
          margin: 0 0 0 1em;
          padding: 0 0 0 1em;
          border-left: 1px solid $footer-border-color;
      }
  }

  &--links-disabled ::ng-deep {
      .sub-nav__tab-link:not(.mat-tab-label-active) {
          color: #4d4d4d !important;
          cursor: not-allowed;
          filter: grayscale(1);
          pointer-events: none;
          user-select: none;
      }
  }
}