<div class="location-cards">
    <ng-container *ngFor="let cage of cages; first as chipsCard">
        <app-location-card [cardTitle]="cage" [isChipsCard]="chipsCard? true: false"></app-location-card>
    </ng-container>
</div>