@import '../../styles/variables', '../../styles/mixins' ;

.location-cards {
    overflow: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    gap: 1vw;
    justify-items: start ;
}


