<div class="wd-row" style="min-height: 5rem">
    <div class="title-content-wrapper">
        <h1>PP 2.0 UI Components Library</h1>
        <button *ngIf="!router.url.includes('dashboard')" mat-raised-button class="common-button" routerLink="/dashboard">Back</button>
        <button *ngIf="!isFullScreen" mat-raised-button class="common-button fullscreen" (click)="goFullscreen()">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="isFullScreen" mat-raised-button class="common-button fullscreen" (click)="exitFullscreen()">
            <mat-icon>fullscreen_exit</mat-icon> Press <kbd>Esc</kbd> to exit Fullscreen.
        </button>
       
    </div>
</div>
<div class="wd-container">
    <div class="wd-row">
        <div class="wd-container__inner wd-container__inner--customized">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
