// @import '../../styles/variables', '../../styles/mixins' ;
@import '../../styles/variables';

:host {
    background-color: #dbf0f0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.title-content-wrapper {
    background: #28285e;
    padding: 1.6em 1em;
    position: relative;
    box-shadow: 0 -3px #00aeff inset;

    h1 {
        color: white;
        text-align: center;
        margin: 0;
    }

    .common-button {
        position: absolute;
        top: 1em;
        left: 3em;


        &.fullscreen {
            position: absolute;
            width: fit-content;
            left: auto;
            right: 1em;
        }
    }
}

.wd-container__inner--customized {
    resize: both; 
    background-color: var(--white); 
    max-height: calc(100vh - 8rem); 
    border-color: #00aeff;
    min-width: 60vw;
    max-width: calc(100% - 4rem);
}