<div class="wd-row" style="background-color: var(--black)">
    <div class="wd-flex">
        <button mat-button class="cw-btn-menu" [matMenuTriggerFor]="cashierWindowMenu">
            <mat-icon>view_list</mat-icon>
            <span>Cashier Window</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #cashierWindowMenu="matMenu" class="cw-btn-menu-list" xPosition="before">
            <button mat-menu-item>Change Roll Time</button>
            <button mat-menu-item>Player Search</button>
            <mat-divider></mat-divider>
            <button mat-menu-item>Chinese</button>
        </mat-menu>

        <button mat-icon-button class="cw-btn-menu" [matMenuTriggerFor]="cashierWindowIconMenu" matTooltip="Opened">
            <mat-icon class="app-status-icon" [ngClass]="{'app-status-icon--opened': isAppOpened}"></mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #cashierWindowIconMenu="matMenu" class="cw-btn-menu-list">
            <button mat-menu-item *ngIf="isAppOpened">
                <mat-icon class="app-status-icon app-status-icon--closed"></mat-icon>
                <span>Close</span>
            </button>
            <button mat-menu-item *ngIf="!isAppOpened">
                <mat-icon class="app-status-icon app-status-icon--opened"></mat-icon>
                <span>Open</span>
            </button>
        </mat-menu>

        <button mat-button class="cw-btn-menu" aria-label="Gaming Day" [matMenuTriggerFor]="gamingday">
            <mat-icon>today</mat-icon>
            <small *ngIf="calendarDate"> {{calendarDate | date: 'dd-MMM'}}</small>
            <span>{{currentDate}}</span>
            <mat-icon class="downarrow-icon">arrow_drop_down</mat-icon>
        </button>

        <mat-menu class="cw-btn-menu-list" #gamingday="matMenu" [overlapTrigger]="false" xPosition="before">
            <button mat-menu-item role="menuitem" *ngFor="let gDay of gamingDaysArr; let i = index"
                (click)="setCalendarGamingDay(i, gDay)">
                <ng-container *ngIf="!calendarDate">
                    <span [ngClass]="{'calender_tick': i==0}"></span>
                    <span style="padding-left: 1em">{{gDay | date: 'dd-MMM'}}</span>
                </ng-container>
            </button>
        </mat-menu>

        <button mat-button class="cw-btn-menu" aria-label="Promotion" [matMenuTriggerFor]="userprofile">
            <mat-icon>person</mat-icon>
            <span>199000</span>
            <mat-icon class="downarrow-icon">arrow_drop_down</mat-icon>
        </button>

        <mat-menu class="cw-menu" #userprofile="matMenu" [overlapTrigger]="false" xPosition="before">
            <ng-container *ngFor="let detail of userDetails; let idx = index">
              <button mat-menu-item role="menuitem">
                <span>{{detail}}</span>
              </button>
              <mat-divider *ngIf="idx == 0"></mat-divider>
            </ng-container>
        </mat-menu>

        <div class="space-filler"></div>

        <button mat-button class="cw-btn-menu" aria-label="Promotion" [matMenuTriggerFor]="collapsedlist">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu class="cw-btn-menu-list" #collapsedlist="matMenu" [overlapTrigger]="false" xPosition="before">
            <button mat-menu-item role="menuitem" aria-describedby="BlackJack Game Cards">
                <mat-icon>
                    <img src="../../../assets/icons/icon-cards-20.svg"/>
                </mat-icon>
                <span>BJ Game Cards</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item role="menuitem" aria-describedby="Refresh button or last refresh time">
                <mat-icon>autorenew</mat-icon>
                <span>22:10</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item role="menuitem" [matMenuTriggerFor]="gamingdayslist" aria-describedby="List last 2 gaming days">
                <mat-icon>today</mat-icon>
                <span>{{currentDate}}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item role="menuitem" [matMenuTriggerFor]="loggedinuser" aria-describedby="User details">
                <mat-icon>person</mat-icon>
                <span>199000</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item role="menuitem" disabled aria-describedby="Current gaming day">
                <small>Gaming Day</small>
                <div>{{currentDate}}</div>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item role="menuitem" disabled aria-describedby="Roll time">
                <small>Roll Time</small>
                <div>15:45</div>
            </button>
        </mat-menu>

        <mat-menu class="cw-menu" #gamingdayslist="matMenu" [overlapTrigger]="false" xPosition="before">
            <button mat-menu-item role="menuitem"
              *ngFor="let gDay of gamingDaysArr; let i = index"
              (click)="setCalendarGamingDay(i, gDay)">
              <ng-container *ngIf="!calendarDate">
                <span [ngClass]="{'calender_tick': i==0}"></span>
                <span style="padding-left: 1em">{{gDay | date: 'dd-MMM'}}</span>
              </ng-container>
            </button>
          </mat-menu>

        <mat-menu class="cw-menu" #loggedinuser="matMenu" [overlapTrigger]="false" xPosition="before">
            <ng-container *ngFor="let detail of userDetails; let idx = index">
              <button mat-menu-item role="menuitem">
                <span>{{detail}}</span>
              </button>
              <mat-divider *ngIf="idx == 0"></mat-divider>
            </ng-container>
        </mat-menu>
    </div>
</div>