@use "../../../styles/variables" as vars;
@use "../../../styles/mixins" as mixins; 
@use "../../../styles/icons" as icons;

$menu-fsize:                1rem;
$menu-fcolor:               vars.$w2-primary;
$menu-green:                vars.$green;
$menu-red-bright:           vars.$red-bright;
$menu-icon-open-color:      vars.$dark-green;
$menu-icon-closed-color:    vars.$dark-red;
$menu-icon-open-border:     2px solid $menu-icon-open-color;
$menu-icon-closed-border:   2px solid $menu-icon-closed-color;

.cw-btn-menu {
    font-size: $menu-fsize;
    color: $menu-fcolor;
}

@mixin set-app-status() {
    &--opened {
        border: $menu-icon-open-border;
        background: radial-gradient(ellipse at top, #e6fbcb 0%, $menu-green 60%, #3ba211 100%);
    }
    &--closed {
        background: radial-gradient(ellipse at top, #ffffff 0%, $menu-red-bright 100%);
        border: $menu-icon-closed-border;
    }
}

.app-status-icon {
    $icons-size: 1.5rem;
    @include set-app-status;
    display: inline-block;
    width: $icons-size;
    height: $icons-size;
    border-radius: 50%;
}

::ng-deep .cw-btn-menu-list.mat-menu-panel,
::ng-deep .cw-menu.mat-menu-panel {
    button.mat-menu-item {
        @include mixins.set-font-family();
        @include mixins.include-font-style($menu-fsize, 600, 1.3);
    }

    button.mat-menu-item:not([disabled]){
        color: $menu-fcolor;

        .mat-icon,
        .mat-menu-submenu-icon {
            color: currentColor;
        }
    }
}
