<h2>
    <!-- <form (ngSubmit)="on"></form> -->
    <mat-slide-toggle #wdAddAgentToggle
    [labelPosition]="'before'"
    class="wd-slide-toggle" 
    [ngClass]="{'active': addPlayer}" 
    [checked]="addAgent" 
    (change)="onSlideToggleChecked($event)">Add Player</mat-slide-toggle>

     <mat-label 
    class="wd-slide-toggle__label"
    [ngClass]="{'active': addAgent}"
    (click)="onSlideToggle($event)">Add Agent</mat-label>
</h2>
<mat-dialog-content>

</mat-dialog-content>

<mat-dialog-actions align="end">

</mat-dialog-actions>

