.wd-slide-toggle {
    ::ng-deep .mat-slide-toggle-content {
        opacity: .5;
    }

    &.active {
        ::ng-deep .mat-slide-toggle-content {
            opacity: 1;
        }
    }

    &__label {
        padding-left: .5em;
        opacity: .5;
    
        &:hover {
            cursor: pointer;
        }
    
        &.active {
            opacity: 1;
        }
    }
}
