<mat-tab-group class="wd-tab-group">
    <mat-tab label="Forth">
        <div class="wd-table-override-ui">
            <div class="wd-table-override-ui__container">
                <!-- Cards Override UI -->
                <div class="wd-table-override-ui__row">
                    <div class="wd-table-override-ui__view">
                        <section class="wd-table-override-ui__grid">
                            <section class="banner">
                                <div class="banner-text">Bet Management</div>
                            </section>
                            <div class="wd-cb-seats">
                                <mat-checkbox class="wd-cb-seat">Select All </mat-checkbox>
                                <hr>
                                <div>
                                    <mat-checkbox class="wd-cb-seat">Seat 1</mat-checkbox>
                                    <mat-checkbox class="wd-cb-seat">Seat 2</mat-checkbox>
                                    <mat-checkbox class="wd-cb-seat">Seat 3</mat-checkbox>
                                    <mat-checkbox class="wd-cb-seat">Seat 5</mat-checkbox>
                                    <mat-checkbox class="wd-cb-seat">Seat 6</mat-checkbox>
                                    <mat-checkbox class="wd-cb-seat">Seat 7</mat-checkbox>
                                    <mat-checkbox class="wd-cb-seat">Seat 8</mat-checkbox>
                                    <mat-checkbox class="wd-cb-seat">Independent Pair & Tie</mat-checkbox>
                                </div>

                                <section class="controls">
                                    <button mat-raised-button class="common-button common-button--disabled" disabled>Settle</button>
                                    <button mat-raised-button class="common-button common-button--disabled" disabled>Book Bets</button>
                                    <button mat-raised-button class="common-button common-button--disabled" disabled>Cancel Bets</button>
                                    <button mat-raised-button class="common-button common-button--disabled" disabled>Book Insurance ></button>
                                </section>
                            </div>
                            
                        </section>
                        <hr>
                        <section class="wd-table-override-ui__grid">
                            <section class="banner">
                                <div class="banner-text">Card Buffer</div>
                            </section>
                            <div>
                                <section class="controls">
                                    <button mat-raised-button class="common-button common-button--disabled" disabled>Return to Game</button>
                                    <button mat-raised-button class="common-button common-button--disabled" disabled>Burn</button>
                                </section>
                            </div>
                        </section>
                        <hr>
                        <section class="wd-table-override-ui__grid">
                            <section class="banner">
                                <div class="banner-text">Burn</div>
                            </section>
                            <section class="controls" style="align-self: center">
                                <button mat-button class="common-button common-button--default">Start Burn</button>
                                <button mat-button class="common-button common-button--default">Burn Cards</button>
                            </section>
                        </section>
                        <hr>
                        <section class="wd-table-override-ui__grid">
                            <section class="banner">
                                <div class="banner-text">Result</div>
                            </section>
                            <div class="playing-cards__wrapper">
                                <div class="playing-cards__side-labels"></div>
                                <section class="playing-cards">
                                    <div class="wd-table-override-ui__flex wd-justify-content-between">
                                        <div class="wd-table-override-ui__flex reverse">
                                            <div class="playing-card__wrapper">
                                                <div class="playing-card">
                                                    <div class="playing-card__inner">
                                                        <div class="playing-card__front">
                                                            <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                                            <div class="playing-card__value">
                                                                J
                                                            </div>
                                                            <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                                        </div>
                                                        <div class="playing-card__back"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="playing-card__wrapper">
                                                <div class="playing-card">
                                                    <div class="playing-card__inner">
                                                        <div class="playing-card__front">
                                                            <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                                            <div class="playing-card__value">
                                                                Q
                                                            </div>
                                                            <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                                        </div>
                                                        <div class="playing-card__back"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="playing-card__wrapper third-card">
                                                <div class="playing-card">
                                                    <div class="playing-card__inner">
                                                        <div class="playing-card__front">
                                                            <div class="playing-card__suit playing-card__suit--spades"> </div>
                                                            <div class="playing-card__value">
                                                                K
                                                            </div>
                                                            <div class="playing-card__suit playing-card__suit--spades"> </div>
                                                        </div>
                                                        <div class="playing-card__back"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="wd-table-override-ui__flex">
                                            <div class="playing-card__wrapper">
                                                <div class="playing-card">
                                                    <div class="playing-card__inner">
                                                        <div class="playing-card__front">
                                                            <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                                            <div class="playing-card__value">
                                                                7
                                                            </div>
                                                            <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                                        </div>
                                                        <div class="playing-card__back"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="playing-card__wrapper">
                                                <div class="playing-card">
                                                    <div class="playing-card__inner">
                                                        <div class="playing-card__front">
                                                            <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                                            <div class="playing-card__value">
                                                                8
                                                            </div>
                                                            <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                                        </div>
                                                        <div class="playing-card__back"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="playing-card__wrapper third-card">
                                                <div class="playing-card">
                                                    <div class="playing-card__inner">
                                                        <div class="playing-card__front">
                                                            <div class="playing-card__suit playing-card__suit--spades"> </div>
                                                            <div class="playing-card__value">
                                                                9
                                                            </div>
                                                            <div class="playing-card__suit playing-card__suit--spades"> </div>
                                                        </div>
                                                        <div class="playing-card__back"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="controls">
                                    <button mat-button class="common-button common-button--default">Reset Cards</button>
                                    <button mat-button class="common-button common-button--default">Apply</button>
                                    <button mat-button class="common-button common-button--default">Void Hand</button>
        
                                </section>
                            </div>
                        </section>
                    </div>
                    
                </div>
                <div class="wd-table-override-ui__row" style="padding: 2em;">
                    <div class="wd-table-override-ui__flex wd-justify-content-between">
                        <div class="wd-table-override-ui__flex reverse">
                            <div class="playing-card__wrapper">
                                <div class="playing-card">
                                    <div class="playing-card__inner">
                                        <div class="playing-card__front">
                                            <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                            <div class="playing-card__value">
                                                J
                                            </div>
                                            <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                        </div>
                                        <div class="playing-card__back"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="playing-card__wrapper">
                                <div class="playing-card">
                                    <div class="playing-card__inner">
                                        <div class="playing-card__front">
                                            <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                            <div class="playing-card__value">
                                                Q
                                            </div>
                                            <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                        </div>
                                        <div class="playing-card__back"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="playing-card__wrapper third-card">
                                <div class="playing-card">
                                    <div class="playing-card__inner">
                                        <div class="playing-card__front">
                                            <div class="playing-card__suit playing-card__suit--spades"> </div>
                                            <div class="playing-card__value">
                                                K
                                            </div>
                                            <div class="playing-card__suit playing-card__suit--spades"> </div>
                                        </div>
                                        <div class="playing-card__back"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wd-table-override-ui__flex">
                            <div class="playing-card__wrapper">
                                <div class="playing-card">
                                    <div class="playing-card__inner">
                                        <div class="playing-card__front">
                                            <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                            <div class="playing-card__value">
                                                7
                                            </div>
                                            <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                        </div>
                                        <div class="playing-card__back"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="playing-card__wrapper">
                                <div class="playing-card">
                                    <div class="playing-card__inner">
                                        <div class="playing-card__front">
                                            <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                            <div class="playing-card__value">
                                                8
                                            </div>
                                            <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                        </div>
                                        <div class="playing-card__back"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="playing-card__wrapper third-card">
                                <div class="playing-card">
                                    <div class="playing-card__inner">
                                        <div class="playing-card__front">
                                            <div class="playing-card__suit playing-card__suit--spades"> </div>
                                            <div class="playing-card__value">
                                                9
                                            </div>
                                            <div class="playing-card__suit playing-card__suit--spades"> </div>
                                        </div>
                                        <div class="playing-card__back"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="wd-table-override-ui__row game-type-2" style="padding: 2em;">
                    <div class="wd-table-override-ui__flex wd-justify-content-center" style="gap:2em">
                        <div class="wd-table-override-ui__flex reverse">
                            <div class="playing-card">
                                <div class="playing-card__inner">
                                    <div class="playing-card__front">
                                        <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                        <div class="playing-card__value">
                                            J
                                        </div>
                                        <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                    </div>
                                    <div class="playing-card__back"></div>
                                </div>
                            </div>
        
                            <div class="playing-card">
                                <div class="playing-card__inner">
                                    <div class="playing-card__front">
                                        <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                        <div class="playing-card__value">
                                            Q
                                        </div>
                                        <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                    </div>
                                    <div class="playing-card__back"></div>
                                </div>
                            </div>
        
                            <div class="playing-card">
                                <div class="playing-card__inner">
                                    <div class="playing-card__front">
                                        <div class="playing-card__suit playing-card__suit--spades"> </div>
                                        <div class="playing-card__value">
                                            K
                                        </div>
                                        <div class="playing-card__suit playing-card__suit--spades"> </div>
                                    </div>
                                    <div class="playing-card__back"></div>
                                </div>
                            </div>
                        </div>

                        <div class="wd-table-override-ui__flex">
                            <div class="playing-card">
                                <div class="playing-card__inner">
                                    <div class="playing-card__front">
                                        <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                        <div class="playing-card__value">
                                            7
                                        </div>
                                        <div class="playing-card__suit playing-card__suit--clubs"> </div>
                                    </div>
                                    <div class="playing-card__back"></div>
                                </div>
                            </div>
        
                            <div class="playing-card">
                                <div class="playing-card__inner">
                                    <div class="playing-card__front">
                                        <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                        <div class="playing-card__value">
                                            8
                                        </div>
                                        <div class="playing-card__suit playing-card__suit--hearts"> </div>
                                    </div>
                                    <div class="playing-card__back"></div>
                                </div>
                            </div>
        
                            <div class="playing-card">
                                <div class="playing-card__inner">
                                    <div class="playing-card__front">
                                        <div class="playing-card__suit playing-card__suit--spades"> </div>
                                        <div class="playing-card__value">
                                            9
                                        </div>
                                        <div class="playing-card__suit playing-card__suit--spades"> </div>
                                    </div>
                                    <div class="playing-card__back"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    

                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Sixth">
        
    </mat-tab>
    <mat-tab label="First">
        <div class="wd-row">
            <div class="show__no-data-txt">
                <h4>No data available</h4>
            </div>

            <div class="show__no-data-txt type-span">
                <span>No data available</span>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Second">
        <div class="wd-row">
            <div class="wd-flex">
                <div class="space-filler"></div>
                <form class="w2-form-radio-group">
                    <mat-radio-group class="radio-button-toggle" name="wd-radio-group" [(ngModel)]="toggleState" aria-label="Select an option">
                        <mat-radio-button 
                            *ngFor="let view of viewTypes"
                            (change)="changeView(view)" 
                            [value]="view.value">{{view.name}}</mat-radio-button>
                    </mat-radio-group>
                </form>
            </div>
        </div>
        <main class="wd-container__contents wd-container__contents--scrollable">
            <div class="wd-row">
                <div class="wd-flex">
                    <div class="chipset-panels">
                        <ng-container *ngFor="let panel of panels">
                            <app-chipset [csName]="panel.csname" [csStatus]="panel.status"></app-chipset>
                        </ng-container>
                    </div>
                </div>
            </div>
        </main>
    </mat-tab>
    
    <mat-tab label="Third">
        <div class="wd-form-controls">
            <div class="wd-form-control__wrapper">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput
                        placeholder="Name"
                        type="text"
                        maxlength="30"
                        autocomplete="off"
                        required>
                        <mat-error *ngIf="false">Error</mat-error>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                </mat-form-field>
            </div>
            <div class="wd-form-control__wrapper">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput
                        placeholder="Name"
                        type="text"
                        maxlength="30"
                        autocomplete="off"
                        required>
                        <mat-error *ngIf="false">Error</mat-error>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                </mat-form-field>
            </div>
            <div class="wd-form-control__wrapper">
                <mat-form-field appearance="fill">
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="wd-form-control__wrapper">
                <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="wd-form-control__wrapper">
                <mat-form-field appearance="fill">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div class="wd-form-control__wrapper">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="wd-form-control__wrapper">
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0">
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                </mat-form-field>
            </div>

        </div>
    </mat-tab>

    <mat-tab label="Fifth">
        <div class="wd-row">
            <div class="server-not-available mat-elevation-z4 type-1">
                Resetting Table!
            </div>
        </div>
        <div class="wd-row">
            <div class="server-not-available mat-elevation-z4 type-2">
                Shutting down Table!
            </div>
        </div>
        <div class="wd-row">
            <div class="server-not-available mat-elevation-z4 type-3">
                Server not available!
            </div>
        </div>
        <div class="wd-row">
            <div class="server-not-available mat-elevation-z4 type-4">
                Server not available!
            </div>
        </div>
    </mat-tab>
    
</mat-tab-group>