// Mixin to style active radio button
@mixin make-radio-button-active () {
    &.mat-radio-checked ::ng-deep .mat-radio-outer-circle  {
        border-color: $w2-accent;
    }

    &.mat-radio-checked ::ng-deep .mat-radio-persistent-ripple,
    ::ng-deep .mat-radio-inner-circle, 
    ::ng-deep .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
    &:active ::ng-deep .mat-radio-persistent-ripple {
        background-color: $w2-accent;
    }
}