// Other mixins styles
@mixin table-info-item {
  border-right: 1px solid $white;
  padding: 0 16px;

  &__left,
  &__right {
    display: flex;
    flex-direction: row;
  }

  &__right {
    justify-content: flex-end;

    &:last-child {
      border-right: 0;
    }
  }
}