@mixin tbl-sub-footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  grid-template-rows: 24px;
  justify-content: space-between;
  align-items: stretch;
  background-color: $w-black;
  color: $white;
}