@mixin make-view-table-placeholder {
  @include make-flex-center;
  @include border-radius(6px);
  background-color: $white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border: 0.1vmin solid $gray-alpha65;
  width: inherit;
  min-height: 18vh;
  margin-bottom: 0.5vmin;
  padding: 0.125vmin;
  position: relative;
  height: 100%;
}