@mixin wd-backdrop {
  background-color: rgba(0,0,0,0.85);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;

  .info-remove-text {
      @include include-font-style(4rem, 500, 1.5);
  }
}