.button-close {
  cursor: pointer;
  
  .material-icons {
    color: white;
    font-size: 3rem;
    font-weight: 800;
  }

  &.btn-backdrop {
    position: absolute;
    right: 1rem;
    top: 1rem;

    @include icon {
      color: white;
      background: transparent;
    }
  }
}