.button-kbd {
  @include button-search {
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 72px;
  }

  &.hide {
    visibility: hidden;
    transform: translateX(-20rem); 
  }

  &.disabled {
    filter: grayscale(1);
    opacity: .5;
    pointer-events: none;
  }
}
