.footer-buttons {
  grid-row: 3/-1;
  grid-column: 1/-1;
  justify-content: flex-start;
  background-color: #ffffff2e;
  height: fit-content;
  
  &__button-wrapper {
    padding: 0 .25rem;
    flex:1;
  }

  &__button {
    background-image: linear-gradient(180deg, #1EA3FF 0%, #2A74B5 100%);
    border: 2px solid #1EA3FF;
    border-radius: 4px;
    font-family: HelveticaNeue-CondensedBold;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 0.47px;
    text-align: center;
    height: 60px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;

    &.active {
      background-image: linear-gradient(180deg, #FFEE00 0%, #D0C317 100%);
      border: 2px solid #B5AC2A;
      color: #292929;
    }
  }
}