<div class="wd-flex">
    <header class="wd-container__contents wd-container__contents--header" style="width: 100%">
        <div class="wd-row">
            <div class="wd-flex" style="flex: 1">
                <h1 class="wd-title">3,000,000,000 (1545)</h1>
                <div class="space-filler"></div>
                <button mat-button 
                    class="common-button common-button--primary common-button--filter"
                    [ngClass]="isFilterOpen? 'active':''"
                    (click)="isFilterOpen = !isFilterOpen">
                    <mat-icon>{{isFilterOpen ? 'arrow_drop_down' : 'arrow_right'}}</mat-icon>
                    <span>Filters</span>
                </button>
            </div>
        </div>
        <div class="wd-row" *ngIf="isFilterOpen" style="margin-top: 0;">
            <div class="wd-flex" style="flex: 1">
                <div class="table-filters__inner-container">
                    <span>
                        <app-filter></app-filter>
                        <app-filter></app-filter>
                        <app-filter></app-filter>
                        <app-filter></app-filter>
                    </span>
                    <span style="padding-left: 2em">
                        <button #btnApply mat-button class="common-button" 
                            [ngClass]="disableBtn ? 'common-button--disabled' : ''" [disabled]="disableBtn">
                            Reset
                        </button>
    
                        <button #btnClear mat-button class="common-button" 
                            [ngClass]="disableBtn ? 'common-button--disabled' : ''" [disabled]="disableBtn">
                            Apply
                        </button>
                    </span>
                    <span style="padding-left: 1em">
                        <mat-checkbox (change)="onCheck($event)">Disable Buttons</mat-checkbox>
                    </span>
                </div>
            </div>
        </div>
    </header>
</div>
