// @import '../../../styles/variables', '../../../styles/mixins' ;

@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mixins ;

:host {
    width: 100%;
    display: block;
}

.chipset-panels {
    @include mixins.set-size(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.w2-form-radio-group {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: .5em 0;
  
    mat-radio-group.radio-button-toggle {
        .mat-radio-button.mat-accent.mat-radio-checked ::ng-deep {
            .mat-radio-outer-circle {
                border-color: vars.$w2-accent;
            }

            .mat-radio-inner-circle {
                background-color: vars.$w2-accent;
            }
        }

        .mat-radio-button + .mat-radio-button {
            margin-left: .75em;
        }
    }
}


app-filter + app-filter,
.common-button + .common-button {
    margin-left: 1em;
}