.tooltip-examples {
    display: flex;
    justify-content: space-evenly;
}

.toggle-tooltip-container {
    position: relative; 
    border: 1px solid silver; 
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 50%;

    .common-button.common-button--default {
        &.common-button--absolute {
            position: absolute; 
            left: 0; 
            width: 100%; 
            height: 100%; 
            line-height: 1;
        }

        &.common-button--zero {
            width:0; 
            height: 0; 
            position: absolute; 
            left: 0;
        }
    }

    
}

.mat-form-field + .common-button {
    margin-left: 1em;
}

%tooltip-customs-style {
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: .2px;
    background-color: #bb9156;
    color: #000;
    padding: .5em 1em;
    overflow: visible;
}

::ng-deep .mat-tooltip.tooltipCustomClass {
    @extend %tooltip-customs-style;

    &::before {
        content: "";
        border: 10px solid transparent;
        border-right: 20px solid #bb9156;
        position:absolute;
        left: -1.5em;
        top: 50%;
        transform: translateY(-50%);
    }
}

::ng-deep .mat-tooltip.tooltip-type1 {
    @extend %tooltip-customs-style;
    background-color: #bb9156e0;
    border: 2px solid #bb9156e0;
}

::ng-deep .mat-tooltip.tooltip-type2 {
    @extend %tooltip-customs-style;
    background-color: #ffffffe0;
    border: 2px solid #bb9156e0;
}

::ng-deep .mat-tooltip.tooltip-type3 {
    @extend %tooltip-customs-style;
    background-color: #9c1c22e0;
    border: 2px solid #9c1c22e0;
    color: #fff;
}