<p style="color:red">** Don’t use tooltips to <b>restate</b> visible UI text.</p>
<br><br>
<div class="tooltip-examples">
    <button type="button" mat-button 
        #tooltip="matTooltip"
        matTooltip="Info about the action"
        matTooltipPosition="above"
        aria-label="This is a standard tooltip type that can be used in the project"
        class="common-button common-button--default">
            Tooltip Above
    </button>

    <button type="button" mat-button 
        #tooltip="matTooltip"
        matTooltip="Info about the action"
        matTooltipPosition="below"
        matTooltipHideDelay="800"
        aria-label="This is a standard tooltip type that can be used in the project"
        class="common-button common-button--default">
            Tooltip Below
    </button>

    <button type="button" mat-button 
        #tooltip="matTooltip"
        matTooltip="Info about the action"
        matTooltipPosition="before"
        matTooltipHideDelay="1200"
        aria-label="This is a standard tooltip type that can be used in the project"
        class="common-button common-button--default">
            Tooltip Before
    </button>
    
    <button type="button" mat-button 
        #tooltip="matTooltip"
        matTooltip="Info about the action"
        matTooltipPosition="after"
        matTooltipHideDelay="400"
        aria-label="This is a standard tooltip type that can be used in the project"
        class="common-button common-button--default">
            Tooltip After
    </button>
</div>
<br>
<hr>
<br>
<div class="tooltip-examples">
    <button type="button" mat-icon-button
        #tooltip="matTooltip"
        matTooltip="Go to Home screen"
        matTooltipPosition="below"
        aria-label="This is an info tooltip type that can be used in the project"
        class="common-button common-button--default">
            <mat-icon>home</mat-icon>
    </button>

    <button type="button" mat-icon-button
        #tooltip="matTooltip"
        matTooltip="Show menu"
        matTooltipPosition="below"
        aria-label="This is an info tooltip type that can be used in the project"
        class="common-button common-button--default">
            <mat-icon>menu</mat-icon>
    </button>

    <button type="button" mat-icon-button
        #tooltip="matTooltip"
        matTooltip="Close the panel"
        matTooltipPosition="below"
        aria-label="This is an info tooltip type that can be used in the project"
        class="common-button common-button--default">
            <mat-icon>close</mat-icon>
    </button>

    <button type="button" mat-icon-button
        #tooltip="matTooltip"
        matTooltip="Print the document/table"
        matTooltipPosition="below"
        aria-label="This is an info tooltip type that can be used in the project"
        class="common-button common-button--default">
            <mat-icon>print</mat-icon>
    </button>
</div>
<br>
<hr>
<br>
<div class="tooltip-examples">
    <div class="wd-flex">
        <mat-form-field appearance="fill">
            <mat-label>Tooltip message</mat-label>
            <input matInput [formControl]="tooltipCustomMessage">
        </mat-form-field>
          
        <button mat-raised-button 
            class="common-button common-button--default"
            [matTooltip]="tooltipCustomMessage.value"
            matTooltipPosition="right"
            matTooltipClass="tooltipCustomClass"
            aria-label="A tooltip with a custom message">
                Custom Long Tooltip
        </button>
    </div>
</div>

<br>
<hr>
<br>
<div class="tooltip-examples" style="position: relative; min-height: 4rem">
    <div class="wd-flex wd-justify-content-evenly wd-flex-width-100">
        <!-- Tooltip Type 1 -->
        <div class="toggle-tooltip-container">
            <button type="button" mat-icon-button
                (click)="toggleTooltip1.toggle()"
                matTooltip="Toggle tooltip"
                matTooltipPosition="above"
                aria-label="Toggle the targetted tooltip"
                class="common-button common-button--default common-button--absolute">
                    <mat-icon>info</mat-icon>
            </button>

            <button mat-raised-button 
                #toggleTooltip1="matTooltip"
                matTooltip="It is a custom long tooltip that can be used to show description details against some feature of the application and let the user know how to use this or that."
                class="common-button common-button--default common-button--zero"
                matTooltipPosition="above"
                matTooltipClass="tooltip-type1"
                aria-label="A toggle tooltip with a custom message" disabled>
            </button>
        </div>

        <!-- Tooltip Type 2 -->
        <div class="toggle-tooltip-container">
            <button type="button" mat-icon-button
                (click)="toggleTooltip2.toggle()"
                matTooltip="Toggle tooltip"
                matTooltipPosition="above"
                aria-label="Toggle the targetted tooltip"
                class="common-button common-button--default common-button--absolute">
                    <mat-icon>home</mat-icon>
            </button>

            <button mat-raised-button 
                #toggleTooltip2="matTooltip"
                matTooltip="It is a custom long tooltip that can be used to show description details against some feature of the application and let the user know how to use this or that."
                class="common-button common-button--default common-button--zero"
                matTooltipPosition="above"
                matTooltipClass="tooltip-type2"
                aria-label="A toggle tooltip with a custom message" disabled>
            </button>
        </div>

        <!-- Tooltip Type 3 -->
        <div class="toggle-tooltip-container">
            <button type="button" mat-icon-button
                matTooltip="It is a custom long tooltip that can be used to show description details against some feature of the application and let the user know how to use this or that."
                matTooltipPosition="above"
                matTooltipClass="tooltip-type3"
                aria-label="Toggle the targetted tooltip"
                class="common-button common-button--default common-button--absolute">
                    <mat-icon>info</mat-icon>
            </button>
        </div>
    </div>
</div>