:root {
  --box-bg: #FFFF00;
  --box-brdr: 3px solid rgba(56,50,50,0.53);
  --box-txt-clr: #000000;
}

// Type: 1.Matched, 2.Match-type-2 and 99.Mismatch
@mixin matched($type){
  @if($type == 1) {
    --box-bg: #008000;
    --box-txt-clr: #ffffff;
  } @else if($type == 2) {
    --box-bg: #b3ffb3;
    --box-brdr: 5px solid #00aa00;
    --box-txt-clr: #000000;
  } @else {
    --box-bg: #FFFF00;
    --box-brdr: 3px solid rgba(56,50,50,0.53);
    --box-txt-clr: #000000;
  }
  @content;
}

@mixin amount-in-chips-out-layout {
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;

  .title {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .value {
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
}

@mixin amountin-chipsout {
    // min-width: 472px;
    // min-height: 170px;
    background: var(--box-bg);
    border: var(--box-brdr);
    border-radius: 20px;
    @include matched(99);
    @include amount-in-chips-out-layout();
    
    &.matched {
      @include matched(1) {
        .title {
          color: #a5e9a5;
        }
      };
    }
  
    .title,
    .value {
      flex: 1;
      display: flex;
      font-family: Lato-Black;
      text-align: center;
      color: var(--box-txt-clr);
  
      .left,
      .right {
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: .2em 0;
      }
  
      .right {
        border-left: 1px solid #00000050;
      }
    }
  
    .title {
      font-size: 1.4rem;
      line-height: 1.3;
      background-color: #00000010;
      border-radius: 1rem 1rem 0 0;
      color: #00000080;
      text-transform: uppercase;
      letter-spacing: .5px;
    }
  
    .value {
      font-size: 2.5rem;
      line-height: 1.1;
    }
}
