@mixin block-search {
  .block-search {
    form {
      position: relative;
    }
  
    &.error {
      .block-search__search-ib {
        outline-color: red;
        border-color: red;
      }
  
      .error-msg {
        display: block;
      }
    }

    &__form {
      position: relative;
      flex: 1;

      &:focus,
      &:visited {
        input {
          background-color: $input-box-focus-bgcolor;
        }
      }

      .button-kbd {
        position: absolute;
        right: 0;
        border-top-right-radius: $button-blue-bdr-radius;
        border-bottom-right-radius: $button-blue-bdr-radius;
      }
    }
  }
}
