@mixin block-amount-display-amount {
    background-color: #ffffff;
    background-image: none;
    border: 3px solid #4b9ee4;
    border-radius: 10px;
    font-family: Arial-Black;
    font-size: 72px;
    color: #000000;
    text-align: center;
    line-height: 72px;
    height: 96px;

    small {
      transform: scale(0.8);
      display: inline-flex;
    }

    // Style to convert a 'flat' button into a 'gradient' button
    &--button {
      background-image: linear-gradient(180deg, #e7f5ff 0%, #4b9ee4 98%);
      border-color: #e7f5ff;
    }
}