@mixin button-search {
  background-image: $button-blue-gradient; 
  border: $button-blue-bdr;
  border-radius: $button-blue-bdr-radius;
  font-family: $button-blue-ff;
  font-size: $button-blue-fs;
  color: $button-blue-text-color;
  text-align: center;
  min-width: $button-blue-width;
  height: $button-blue-height;
  padding: $button-blue-padding;
  @content;

  &.disabled {
    opacity: .8;
    color: $button-blue-disabled-text-color;
    filter: grayscale(1);
  }
}

