@mixin button-seat-active {
  background-image: linear-gradient(180deg, #D6EFFF 0%, #70C6FF 100%);
  border-color: #D6EFFF;
  color: #000000;
}

@mixin button-seat-disabled {
  background-image: none;
  color: #000d56;
  pointer-events: none;
  border-color: #1f2c6b;
  background-color: #1f2c6b;
}

@mixin button-seat-selected {
  border-color: #F5E605;
}

@mixin button-seat {
  background-image: linear-gradient(180deg, #535e8b 0%, #363e6c 100%);
  border-radius: 8px;
  border: 3px solid #535e8b;
  font-family: Arial-Black, sans-serif;
  font-size: 32px;
  color: #161C41;
  text-align: center;
  line-height: 30px;
  @content;

  &.active {
    @include button-seat-active;
  }

  &.selected {
    @include button-seat-selected;
  }

  &.disabled {
    @include button-seat-disabled;
  }
}