// Buy In types: Cash, CPV, etc.
// Table type: Standard and Roulette
@use "sass:meta";

// Grid layout for inner-container of the page;
// Buy In type: CASH, CPV and so.
@mixin position-inner-grid-content($arg) {
  @if $arg == 'cash' {
    .seats {
      grid-row: 1/2;
      grid-column: 1/-1;
    }

    .block-amount {
      grid-row: 2/3;
      grid-column: 1/-1;
    }

    .block-search,
    .player-details {
      grid-row: 3/-1;
      grid-column: 1/2;
    }

    .page-controls {
      grid-row: 3/-1;
      grid-column: 2/-1;
    }

    
  } @else if $arg == 'cpv' {
    .seats {
      grid-row: 1/2;
      grid-column: 1/-1;
    }

    .amount-in-chips-out {
      grid-row: 2/3;
      grid-column: 1/-1;
    }
  
    .cpv-data-form {
      grid-row: 3/4;
      grid-column: 1/-1;
      grid-template-columns: 1fr 1fr;
      background-color: #ffffff2e;
      border-radius: 1rem;
      align-content: center;
      justify-items: center;
    }

    .block-search,
    .player-details {
      grid-row: 4/-1;
      grid-column: 1/2;
    }

    .page-controls {
      grid-row: 4/-1;
      grid-column: 2/-1;
    }
  } @else if $arg == 'roulette-cash' {
    .block-amount {
      grid-row: 1/2;
      grid-column: 1/-1;
    }

    .block-search,
    .player-details {
      grid-row: 2/7;
      grid-column: 1/2;
    }

    .page-controls {
      grid-row: 2/-1;
      grid-column: 2/-1;
    }
  } @else if $arg == 'roulette-cpv' {
    .amount-in-chips-out {
      grid-row: 1/2;
      grid-column: 1/-1;
    }

    .cpv-data-form {
      grid-row: 2/3;
      grid-column: 1/-1;
      grid-template-columns: 1fr 1fr;
      background-color: #ffffff2e;
      border-radius: 1rem;
      align-content: center;
      justify-items: center;
    }

    .block-search,
    .player-details {
      grid-row: 3/4;
      grid-column: 1/2;
    }

    .page-controls {
      grid-row: 3/4;
      grid-column: 2/-1;
    }

    .footer-buttons {
      grid-row: 7/-1;
      grid-column: 2/-1;
    }
  }
}


// Grid layout for Main container of the page excluding header and footer;
// Buy In type: CASH, CPV and so.
$roulette-table-type: false;
$roulette-positions-gutter: 64px;

@mixin make-main-grid-layout($arg) {
    @include position-inner-grid-content($arg);

    // @if $arg == 'cash' {
      // grid-row: 2/-1;
      // grid-column: 1/-1;
    // } @else if $arg == 'cpv' {
      // grid-column: 1/2;
      // grid-row: 1/-1;
    // } @else if $arg == 'roulette-cash' {
      // grid-row: 2/7;
      // grid-column: 2/7;
      // grid-template-rows: 1fr 12rem auto;
      // grid-template-columns: 1fr auto;
    // } @else if $arg == 'roulette-cpv' {
      // grid-row: 2/7;
      // grid-column: 2/7;
      // grid-template-rows: 1fr 12rem auto;
      // grid-template-columns: 1fr auto;
    // }
  // }
  @content;
}



@mixin buyin-type($type) {
  @if $type == 'roulette-cpv' {
    @include make-main-grid-layout('roulette-cpv');
  } @else if $type == 'roulette-cash' {
    @include make-main-grid-layout('roulette-cash');
  } @else if $type == 'cash' {
    @include make-main-grid-layout('cash');
  } @else if $type == 'cpv' {
    @include make-main-grid-layout('cpv');
  }
}
    