@mixin buyin-main-contents($buyintype) {
  
  // Set grid layout as per Buy In type like Cash, CPV, etc.
  @include make-main-grid-layout($buyintype);

  // Style the views as per the Buy In types.
  @if($buyintype == 'cash') {
    .main-content {
      width: 100%;
      transition: transform 350ms ease-in-out;
  
      &.slide-out {
        transform: translateX(0);
      }
    }

    .button-kbd {
      grid-row: 2/-1;
    }
  
    .player-details {
      grid-row: 1/2;
      height: 100%;
      align-items: center;
    }
  } @else if($buyintype == 'cpv'){
    .main-content {
      min-height: 20rem;
  
      .block-search {
        grid-row-gap: 1rem;
      }
    }

    .numpad-panel {
      transform: scale(0.9) translate(1.5rem,-8.5rem);
      transform-origin: bottom;
    }
  }

  @content;
}