// Note: Inner-container contents styles
@mixin main-content($tabname) {
  .button-kbd {
    position: absolute;
    bottom: 1.5rem;
  }

  .page-controls {
    align-items: center;
    justify-content: end;
  }

  @if($tabname == 'cash') {
    .main-content {
      width: 100%;
      transition: transform 350ms ease-in-out;

      &.slide-out {
        transform: translateX(0);
      }
    }

    .block-search {
      align-items: center;
    }

    .player-details {
      height: 100%;
      align-items: center;
    }
  } @else if($tabname == 'cpv') {
    .main-content {
      min-height: 20rem;
    }

    .block-search {
      grid-row-gap: 1rem;
    }

    .page-controls {
      align-items: center;
      justify-content: end;
    }
  }
  @content;
}