@mixin numpad-layout {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

@mixin numpad-button {
  &__button {
    padding: 1px 2px;

    .content {
      background-image: $numpad-button-gradient;
      border: $numpad-button-bdr;
      border-radius: $numpad-button-bdr-radius;
      font-family: $numpad-button-ff;
      font-size: $numpad-button-fs;
      color: $numpad-button-text-color;
      text-align: center;
      line-height: 32px;
      padding: .5rem;
    }
  }

  .remove {
    grid-column: 3/-1;
    grid-row: 4/-1;

    .content {
      padding-bottom: 0;
    }
  }

  .dismiss {
    grid-row: 1/-1;

    .content {
      display: grid;
      align-items: center;
      color: #ffffff;
      height: 100%;
      border: 0;
      border-radius: 7px 0 0 7px;
      background-image: linear-gradient(269deg, #8B8F93 0%, #18191B 99%);
      transform: scaleY(1.03);
      transform-origin: center;
    }
  }
}

@mixin numpad-repositioning {
  position: absolute;
  right: -55%;
  bottom: -7.5rem;
}

@mixin numpad-transition {
  transition: $numpad-transition;

  &.slide-in {
    right: -.5rem;
  }
}
