@mixin page-header-title-typography {
  font-family: 'dealer-standard-font', sans-serif !important;
  font-size: 3.75rem;
  line-height: 1.4;
}

@mixin page-header-title {
  .h1,
  .h1 > span {
    @include page-header-title-typography;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    justify-content: center;
    flex: 1;
    height: 5rem;
    border-bottom: 2px solid #ffffff;
  }
}

@mixin page-header-icons {
  .icons {
    position: absolute;
    width: 100%;
    height: 5rem;
    justify-content: space-between;

    button {
      background-color: transparent;
      cursor: pointer;
    }
  }
}

@mixin page-header {
  @include page-header-title;
  @include page-header-icons;
  @content;
}