@mixin player-image {
  .player-image {
    background-color: #ffffff;
    border-radius: 12px;
    width: 114px;
    height: 114px;
  
    &__wrapper {
      position: relative;
      cursor: pointer;
    }
    
    img {
      display: none;
      background-size: contain;
    }
  
    &.dummy img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@mixin seat-number {
  .seat-number {
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #979797;
    border-radius: 50%;
    font-family: Arial-Black;
    font-size: 32px;
    color: #000000;
    text-align: center;
    position: absolute;
    bottom: -1rem;
    right: -1rem;
  }
}

@mixin player-details {
  grid-row: 1/2;
  max-height: 8rem;
  height: 100%;
  align-self: center;
  padding-bottom: 1rem;
  @include player-image();
  @include seat-number();

  .player {
    flex: 1;
  }
}