@mixin player-enlarged-backdrop {
  &__backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000e0;
    z-index: 900;
  }
}

@mixin player-enlarged-container {
  &__container {
    z-index: 901;
    display: grid;
    place-content: center;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@mixin player-enlarged {
  border: 2px solid white;
  border-radius: .5rem;
  transform: scale(3);
  @include player-enlarged-container();
  @include player-enlarged-backdrop();
}