@mixin roulette-gutter-theme($num: '') {
  @if $num == 1 {
    background-color: #cccccc;
    border-color: #999999;
  } @else if $num == 2 {
    background-color: #00093d;
    border-color: #293785;
  } @else {
    background-color: #000000;
    border-color: #000000;
  }
}

@mixin roulette-gutter {
  .roulette-gutter {
    background-color: #000000;
    padding: 1rem;
    border: 2px solid #000000;
    z-index: 10;

    // Customize gutter theme: Options - 1 or 2
    @include roulette-gutter-theme(2);
  
    &--col1 {
      grid-row: 2/-1;
      grid-column: 1/2;
      border-bottom-left-radius: 1in;
      border-bottom-right-radius: 1in;
      border-top-color: #cccccc;
      margin-top: -2px;
      z-index: 0;
    }
  
    &--col2 {
      grid-row: 1/2;
      grid-column: 2/3;
      z-index: 1;
      border-right: 0;
      border-left: 0;
    }
  
    &--col3 {
      grid-row: 2/-1;
      grid-column: 3/-1;
      border-bottom-left-radius: 1in;
      border-bottom-right-radius: 1in;
      border-top-color: #cccccc;
      margin-top: -2px;
      z-index: 0;
    }
  
    &.roulette-gutter--corner {
      grid-row: 1/2;
  
      &--top-left {
        grid-column: 1/2;
        border-top-left-radius: 1.5rem;
        border-right: 0;
        border-bottom: 0;
      }
  
      &--top-right {
        grid-column: 3/-1;
        border-top-right-radius: 1.5rem;
        border-left: 0;
        border-bottom: 0;
      }
    }
  
    &.type-2 {
      grid-row: 1/3;
      grid-column: 1/-1;
      background-color: unset;
      padding: 0;
      border: none;
      border-radius: unset;
    }
  }
}