// Roulette-seats-gutter: Left, Top, Right
$roulette-seat-gutter-left: #{1/2};
$roulette-seat-gutter-top: #{1/2};
$roulette-seat-gutter-right: #{7/-1};

@mixin roulette-seat-disabled {
  filter: grayscale(1);
  pointer-events: none;
  opacity: .6;
}

@mixin roulette-seat-hover {
  &:hover {
    cursor: pointer;
  }
}

@mixin roulette-seat-active {
  background-color: #000000;
  border-color: #808080;
  @content;
}

@mixin roulette-seat-colored {
  background-image: radial-gradient(circle at 90% 10%, #DBFFFD 0%, #43F0E8 22%, #1EA3FF 59%, #636363 84%);
  border-color: #00D6E6;
  @content;
}

@mixin seat-colors {
  .blue {
    background-image: radial-gradient(circle at 90% 10%, #DBFFFD 0%, #43F0E8 22%, #1EA3FF 59%, #636363 84%);
    border-color: #00D6E6;
  }
}


@mixin roulette-seat {
  align-self: center;
  justify-self: center;
  background-color: #ffffff21;
  background-image: none;
  border-radius: 1in;
  width: 46px;
  height: 80px;
  border: 5px solid transparent;

  &.disabled {
    @include roulette-seat-disabled();
  }

  &.active {
    @include roulette-seat-active(){
      @include roulette-seat-hover();
    };
  }

  &.colored {
    @include roulette-seat-colored(){
      @include roulette-seat-hover();
    };
  }
}








@mixin roulette-seat-grid-positioning {
  // Seats in Left gutter
  &:nth-child(1) {
    grid-row: 5/-1;
    grid-column: $roulette-seat-gutter-left;
  }
  &:nth-child(2) {
    grid-row: 4/5;
    grid-column: $roulette-seat-gutter-left;
  }
  &:nth-child(3) {
    grid-row: 3/4;
    grid-column: $roulette-seat-gutter-left;
  }
  &:nth-child(4) {
    grid-row: 2/3;
    grid-column: $roulette-seat-gutter-left;
  }
  &:nth-child(5) {
    grid-row: $roulette-seat-gutter-top;
    grid-column: $roulette-seat-gutter-left;
  }

  // Seats in Top gutter
  &:nth-child(6) {
    grid-row: $roulette-seat-gutter-top;
    grid-column: 2/3;
  }
  &:nth-child(7) {
    grid-row: $roulette-seat-gutter-top;
    grid-column: 3/4;
  }
  &:nth-child(8) {
    grid-row: $roulette-seat-gutter-top;
    grid-column: 4/5;
  }
  &:nth-child(9) {
    grid-row: $roulette-seat-gutter-top;
    grid-column: 5/6;
  }
  &:nth-child(10) {
    grid-row: $roulette-seat-gutter-top;
    grid-column: 6/7;
  }

  // Seats in Right gutter
  &:nth-child(11) {
    grid-row: $roulette-seat-gutter-top;
    grid-column: $roulette-seat-gutter-right;
  }
  &:nth-child(12) {
    grid-row: 2/3;
    grid-column: $roulette-seat-gutter-right;
  }
  &:nth-child(13) {
    grid-row: 3/4;
    grid-column: $roulette-seat-gutter-right;
  }
  &:nth-child(14) {
    grid-row: 4/5;
    grid-column: $roulette-seat-gutter-right;
  }
  &:nth-child(15) {
    grid-row: 5/-1;
    grid-column: $roulette-seat-gutter-right;
  }
}