@mixin search-ib {
  background: $input-box-bgcolor;
  border-radius: $input-box-bdr-radius;
  font-family: $input-box-ff;
  font-size: $input-box-fs;
  color: $input-box-text-color;
  letter-spacing: 0.94px;
  border: $input-box-bdr;
  height: $input-box-height;
  flex: 1;
  @content;

  &:focus,
  &:visited {
    background-color: $input-box-focus-bgcolor;
  }
}