@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins' as mixins;

$white-alpha80:         #ffffff80;
$white-alpha90:         #ffffff90;
$white-alpha20:         #ffffff25;
$breadcrumb-bg-color:   #484848;
$invert-color:          vars.$w2-black;
$bread-text-color:      vars.$w2-white;
$bread-fsize:           vars.$font-base-size;
$bread-light-color:     vars.$w-primary-light;
$bread-hover-color:     vars.$w-accent;

$padding: 0 4px 0 16px;
$padding-cm: 0 0.5rem 0 1.25rem;

%before-after {
    border: 18px solid transparent;
    border-left: 8px solid $white-alpha80;
    content: '';
    position: absolute;
}

%cm-before-after {
    @extend %before-after;
    border-width: 20px;
    border-left: 10px solid $white-alpha20;
}

@mixin breadcrumb-ff($appName: '') {
    @if($appName == 'cm') {
        @include mixins.set-font-family('OswaldHeadline');
    } @else {
        @include mixins.set-font-family();
    }
}

@mixin breadcrumb-text($appName: '') {
    @include breadcrumb-ff($appName);
    @include mixins.include-font-style($bread-fsize, 400, 2.5);
    color: #ffffffa6;
    user-select: none;
}

@mixin make-breadcrumb-arrow($appName: '') {
    &:before {
        @if($appName == 'cm') {
            @extend %cm-before-after;
            border-left-width: 10px;
        } @else {
            @extend %before-after;
            border-width: 20px;
            border-left-width: 9px;
        }
        border-left-color: $invert-color;
        left: 0;
    }
  
    &:after {
        @if($appName == 'cm') {
            @extend %cm-before-after;
            right: -28px;
        } @else {
            @extend %before-after;
            border-left-color: $breadcrumb-bg-color;
            right: -26px;
        }
        border-left-color: #484848;
        z-index: 10;
    }
}

@mixin breadcrumb-show-ellipsis-span {
    > span {
        max-width: 16ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@mixin make-breadcrumb-item($appName: '') {
    @include breadcrumb-text($appName);
    @include make-breadcrumb-arrow($appName);
    @include breadcrumb-show-ellipsis-span;
    display:inline-flex;
    align-items: center;
    background-color: $breadcrumb-bg-color;
    margin: 0;
    max-width: 6.5em;
    min-width: 3%;
    position: relative;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;

    @if($appName == 'cm') {
        padding: $padding-cm;
    } @else {
        color: $bread-light-color;
        min-width: 4vmin;
        padding: $padding;
    }

    &:first-child {
        padding-left: 8px;

        &:before {
            display: none;
        }
    }
  
    &:hover {
        @if($appName == 'cm') {
            color: $bread-text-color;
        } @else {
            color: $bread-hover-color;
        }
    }

    &.active {
        @include set-active-breadcrumb($appName);
    }
}

@mixin set-active-breadcrumb($appName: '') {
    background-color: $white-alpha20 !important;
    color: $bread-text-color;
    cursor: default;
    $right: -26px !important;

    @if($appName == 'cm'){
        $right: -30px !important;
    }

    &:after {
        border-left-color: $white-alpha20 !important;
        right:  $right;
    }

    &:hover {
        pointer-events: none;
    }
}

.breadcrumbs {
    &__wrapper.wd-row {
        background: #000; 
        padding: 4px 0; 
    }

    &.wd-flex {
        align-content: center;
        justify-content: flex-start;
        min-width: 96px;
        padding: 0 0 0 1em;
    }

    &__item {
        @include make-breadcrumb-item();
    }
}

.cm-version {
    .breadcrumbs__item {
        @include make-breadcrumb-item('cm');
    }
}



:host {
    width: 100%;
}