<div class="wd-flex breadcrumbs" *ngIf="locAppName !== 'casino-manager'">
    <!-- <div class="brand-logo" (click)="clickEvnt(homeUrl,-1)">
        <img class="brand-logo__img" src="./assets/images/logo-test.png" />
    </div> -->
    <div class="breadcrumbs__item" *ngFor="let item of breadCrumbArray; index as i;  last as lastChild" 
        (click)="clickEvnt(item,i)"
        [ngClass]="{'active': lastChild}">
        <span>{{item}}</span>
    </div>
</div>

<div *ngIf="locAppName == 'casino-manager'" class="wd-flex breadcrumbs cm-version">
    <div class="breadcrumbs__item" *ngFor="let item of breadCrumbArray; index as i; last as lastChild" 
        (click)="clickEvnt(item,i)"
        [ngClass]="{'active': lastChild}">
        <span>{{item}}</span>
    </div>
</div>