<!-- <app-chipset></app-chipset> -->
<mat-checkbox #cbHideFooter (change)="onChange(cbHideFooter)">Hide Footer</mat-checkbox>

<hr style="margin: 1em 0">
<ng-container *ngFor="let panel of panels" aria-describedby="Displaying all variants of chip sets">
    <app-chipset [csName]="panel.csname" [csStatus]="panel.status" [hideFooter]="hideFooter"></app-chipset>
</ng-container>