<div class="wd-row breadcrumbs__wrapper">
    <app-breadcrumb></app-breadcrumb>
</div>

<div class="wd-row breadcrumbs__wrapper">
    <app-breadcrumb [appName]="'casino-manager'"></app-breadcrumb>
</div>

<!-- <div class="wd-row">
    <h1>You are in: <span class="text-success">{{currentLevel}}</span></h1>
</div> -->