<header>
    <app-top-nav-bar [appName]="'treasury'"></app-top-nav-bar>
    <app-subnav-data-bar></app-subnav-data-bar>
</header>
<main class="wd-container trsury-mngr">
 
    <div class="trsury-mngr__content">
        <div class="trsury-mngr__content-inner">
            <app-filters></app-filters>
            <hr style="opacity: .25"><br>
            <div class="chipsets-wrapper">
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
                <app-chipset></app-chipset>
            </div>
            
        </div>
    </div>
</main>
