<h1 mat-dialog-title>
    <div class="wd-flex wd-row">
        <span>Alert (</span>{{table.name}}<span>)</span>
        <button mat-button class="dialog-close-btn" (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    
    
    <!-- Hi {{data.name}} -->
</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>