@import '../../styles/variables', '../../styles/mixins' ;

h1.mat-dialog-title {
    @include set-font-family('OswaldHeadline');
    @include include-font-style(1.25rem, 500, 1.3);
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
}

.dialog-close-btn {
    position: absolute;
    top: -1.5em;
    height: 3em;
    right: -1.5em;
}