<nav mat-tab-nav-bar class="sub-nav-data" role="navigation" aria-label="top-sub-nav">
    <div class="sub-nav-data__row">
        <div class="wd-flex" style="gap: 1em">
            <ng-container *ngFor="let data of dataColumns; last as rolled">
                <div class="sub-nav-data__data-wrapper" *ngIf="!rolled">
                    <div class="sub-nav-data__data-column">
                        <div class="sub-nav-data__label">
                            {{data.label}}
                        </div>
                        <div class="sub-nav-data__value">
                            {{data.value | number}}<span>&nbsp;(</span>{{data.count}}<span>)</span>
                        </div>
                    </div>
                </div>
            </ng-container>
    
            <ng-container *ngIf="true">
                <div class="sub-nav-data__data-wrapper">
                    <div class="sub-nav-data__data-column">
                        <div class="sub-nav-data__label" style="justify-content: center">
                            Rolled
                        </div>
                        <div class="sub-nav-data__value">
                            <div class="wd-row">
                                <div class="wd-flex">
                                    <section class="section-tbl-roll">
                                        <span class="icon-rolled icon-rolled--tbl-rolled" matTooltip="Completed" aria-describedby="Table roll completed"></span>
                                        <span>45</span>
                                    </section>
                                        
                                    <section class="section-tbl-roll">
                                        <span class="icon-rolled icon-rolled--tbl-pending" matTooltip="Pending" aria-describedby="Table roll pending"></span>
                                        <span>16</span>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="space-filler"></div>

            <div class="sub-nav-data__more">
                <div class="wd-alerts">
                    <div class="wd-alert wd-alert--critical" (click)="openDialog('critical')"
                        matTooltip="Critical Alerts" aria-describedby="Critical Alerts">
                        <div class="wd-alert__content">
                            <mat-icon>notifications_active</mat-icon>
                            <span>99</span>
                        </div>
                    </div>
                    <div class="wd-alert wd-alert--high" (click)="openDialog('high')"
                        matTooltip="High Alerts" aria-describedby="High Alerts">
                        <div class=" wd-alert__content">
                            <mat-icon>notifications_active</mat-icon>
                            <span>99</span>
                        </div>
                    </div>
                    <div class="wd-alert wd-alert--low" (click)="openDialog('low')"
                        matTooltip="Low Alerts" aria-describedby="Low Alerts">
                        <div class="wd-alert__content">
                            <mat-icon>notifications_active</mat-icon>
                            <span>99</span>
                        </div>
                    </div>
                </div>
    
                <button mat-button [matMenuTriggerFor]="usermenu" aria-hasPopup="true" role="menu" matTooltip="More..." aria-describedby="Has more options">
                    <mat-icon>more_vert</mat-icon>
                </button>
    
                <mat-menu #usermenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item role="menuitem">
                        <span>Roll Time</span>
                      </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item role="menuitem">
                      <span>Player Search</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item role="menuitem">
                      <span>User Search</span>
                    </button>
                  </mat-menu>
            </div>
        </div>
        
        

        

        

        

    </div>
</nav>