@import '../../styles/variables', '../../styles/mixins';

:host {
    width: 100%;
    height: 60px;
    display: block;
}

.sub-nav-data {
    display: flex;
    flex-basis: 100%;
    background-color: $w2-accent;
    overflow: hidden;

    &__row {
        flex: 1;
        position: relative;
        padding: 0 1em;
    }

    &__data-wrapper {
        display: inline-flex;
        padding: 4px 0 4.5px;
    }
    
    &__data-column {
        flex-direction: column;
    }

    &__label {
        @include include-font-style('', 800, 1);
        letter-spacing: .5px;
        color: $w2-primary;
        padding: .5em 0 0;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .8);
        text-transform: uppercase;
        transform: scale(.9);
        transform-origin: top left;
    }
    
    &__value {
        @include include-font-style(1.25rem, 600, 1.3);
        color: $w2-white;
        white-space: nowrap;
        min-width: 5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }

    &__more {
        color: $w2-primary;
        display: flex;
        min-width: calc(4rem + 2em);
        background-color: $w2-accent-dark;
        padding: 0 1em;
        margin-right: -1em;

        > .mat-button {
            margin-right: -1em;
        }
    }
}

.icon-rolled {
    @include set-size(24px);
    display: inline-block;

    &--tbl-rolled {
        background-image: url('/assets/icons/tbl-rolled.svg');
    }

    &--tbl-pending {
        background-image: url('/assets/icons/tbl-pending.svg');
    }
}

.section-tbl-roll {
    display: inline-flex;
    align-items: center; 
    gap: 4px;

    + .section-tbl-roll {
        margin-left: .5em;
    }
}


