@import
'../../styles/variables',
'../../styles/mixins';

.wd-alert {
    display: inline-block;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &__content {
        color: $w2-white;
        align-items: center; 
        padding-left: 0.8em; 
        height: 100%;

        .mat-icon {
            text-shadow: 1px 1px 1px $w2-black;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
        }

        span {
            @include set-font-family();
            @include include-font-style(1rem, 600, 1.3);
            @include make-flex-center;
            background-color: $w2-white;
            border: 2px solid $error-red;
            border-radius: 1rem;
            color: $w2-black;
            display: inline-flex;
            height: 30px;
            min-width: 40px;
            text-align: center;
            padding: 0 0.4em 0 0.7em;
        }
    }

    &--critical {
        .mat-icon {
            @include set-color($error-red);
        }

        span { 
            border-color: $error-red;
            background-color: #FFE6E6;
        }
        
    }

    &--high {
        .mat-icon {
            @include set-color($yellow);
        }

        span { 
            border-color: $yellow;
            background-color: #FFFFE6;
        }
       
    }

    &--low {
        .mat-icon {
            @include set-color($blue-bright);
        }

        span { 
            border-color: $blue-bright;
            background-color: #E7F9FD;
        }
    }
}

.wd-alerts {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: center;
    gap: 1em;
    padding-right: 1em;
    border-right: 1px solid $w2-primary;
}