// Define a common-button styles
$btn-font-family:           $font-family-lato;
$btn-font-weight:           $font-base-weight;
$btn-font-size:             1rem;
$btn-line-height:           2.5;    
$btn-text-color:            $w2-black;
$btn-surface-color:         $w2-white;
$btn-primary-color:         $w2-primary;
$btn-accent-color:          $w2-accent;
$btn-accent-hovered-color:  $w2-accent-light;
$btn-corner-radius:         $border-radius;
$btn-disabled-text-color:   $w-gray;


@mixin set-button-font-style($ff: $btn-font-family){
  @include set-font-family($ff);
  @include include-font-style(.9375rem, $btn-font-weight, $btn-line-height);
  letter-spacing: .15px;
}

@mixin set-btn-hovered($color: $btn-accent-color, $bgcolor: $btn-surface-color) {
  &:hover {
    background-color: $bgcolor;
    color: $color;
  }
}

@mixin make-common-button {
  @include set-button-font-style;
  background-color: $btn-surface-color;
  border: 1px solid $btn-text-color;
  border-radius: $btn-corner-radius;
  color: $btn-text-color;
  padding: 0 1em;
  height: 48px;

  &:focus {
    outline: 0;
  }

  &.active {
    color: $btn-accent-color;
    border-color: $btn-accent-color;
  }

  @include set-btn-hovered($btn-accent-color, $btn-surface-color);

  &--default {
    border-color: $btn-primary-color;
    color: $btn-text-color;
    @include set-btn-hovered($btn-accent-color, $btn-surface-color);
    
    &-fill {
      background-color: $btn-primary-color;
      border-color: $btn-primary-color;
      color: $btn-text-color;
      @include set-btn-hovered($btn-accent-color, $btn-primary-color);
    }
  }

  &--primary {
    border-color: $btn-primary-color;
    color: $btn-primary-color;
    @include set-btn-hovered($btn-accent-color, $btn-surface-color);
    
    &-fill {
      background-color: $btn-primary-color;
      border-color: $btn-primary-color;
      color: $btn-text-color;
      @include set-btn-hovered($btn-accent-color, $btn-primary-color);
    }
  }

  &--accent {
    border-color: $btn-accent-color;
    color: $btn-accent-color;
    @include set-btn-hovered($btn-accent-hovered-color, $btn-surface-color);

    &-fill {
      background-color: $btn-accent-color;
      border-color: $btn-accent-color;
      color: $btn-surface-color;
      @include set-btn-hovered($btn-accent-hovered-color, $btn-accent-color);
    }
  }

  &--filter {
    padding: 0 1em 0 .25em;
  }

  &--disabled,
  &--disabled:hover  {
    border-color: $btn-disabled-text-color;
    filter: grayscale(1);
    pointer-events: none;
  }
}

// Create button for version 2.0
@mixin w2-button {
  @include mx-w2-font-button;
  height: 4rem;
  max-height: 48px;
  min-width: 96px;
  background-color: $w2-white;
  text-transform: capitalize;
  border: 1px solid $w2-primary;
  border-radius: .4vmin;

  @include respond-to(ipad){
    max-height: 40px;
  }

  &.mat-button-disabled {
    border: 1px solid currentColor;
  }

  &.mat-accent {
    color: $w2-white;
  }
}

// Create button for version 2.0 (Duplicate)
@mixin make-w2-button {
  @include w2-button;
}

@mixin btn-add-player {
  @include make-common-button;
  @include set-size(auto, 96px);
  $padding: 0 1em;
  border-color: $btn-primary-color;
  font-size: 1.5rem;
  min-width: 150px;
  padding: $padding;
  border-radius: 8px;

  .mat-icon {
    @include icon-add-player;
  }

  span.btn-title {
    padding-left: .5em
  }

  span.btn-label {
    display: none;
  }
}

@mixin btn-added-player {
  @include btn-add-player;
}


.common-button {
  @include make-common-button;
}