@mixin make-flex-container {
  display: flex;

  &.wd-justify-content-start {
    justify-content: start;
  }

  &.wd-justify-content-end {
    justify-content: end;
  }

  &.wd-justify-content-center {
    justify-content: center;
  }

  &.wd-justify-content-evenly {
    justify-content: space-evenly;
  }

  &.wd-justify-content-between {
    justify-content: space-between;
  }

  &.wd-justify-content-around {
    justify-content: space-around;
  }

  &.wd-flex-center {
    @include make-flex-center;
  }

  &.wd-align-items-start {
    align-items: flex-start;
  }

  &.wd-align-items-end {
    align-items: flex-end;
  }

  &.wd-align-items-center {
    align-items: center;
  }

  &.wd-flex-column {
    flex-direction: column;
  }

  &.wd-flex-row {
    flex-direction: row;
  }

  &.wd-flex-width-100 {
    flex: 1;
  }

  &.wd-flex-wrap {
    flex-wrap: wrap;
  }
}

@mixin make-flex-center {
  justify-content: center;
  align-items: center;
}

.wd-flex,
.wd-d-flex {
  @include make-flex-container;
}