@mixin make-grid-container {
  display: grid;

  &.wd-justify-items-start {
    justify-items: start;
  }

  &.wd-justify-items-end {
    justify-items: end;
  }

  &.wd-justify-items-center {
    justify-items: center;
  }

  &.wd-justify-items-stretch {
    justify-items: stretch;
  }

  &.wd-align-items-start {
    align-items: start;
  }

  &.wd-align-items-end {
    align-items: end;
  }

  &.wd-align-items-center {
    align-items: center;
  }

  &.wd-align-items-stretch {
    align-items: stretch;
  }

  &.wd-place-items-center {
    place-items: center;
  }

}

.wd-grid,
.wd-d-grid {
  @include make-grid-container;
}