// Style default mat-ink-bar
@mixin new-mat-ink-bar {
  background-color: $w2-white;
  bottom: 1px;

  &:after {
    content: '';
    border: 10px solid transparent;
    border-bottom: 9px solid $w2-white;
    position: absolute;
    top: -18px;
    transform: translateX(-50%);
    left: 50%;
  }
}


@mixin make-tab-body-container {
  border: 1px solid $w2-primary;
  box-shadow: inset 0 0 3px $w2-black-alpha10;
  padding: 2vmin 1vmin;
}


@mixin mat-select-styles {
  @include mat-select-width;
  border: 1px solid $w2-primary;
  border-radius: 3px;
  padding: .4vmin;

  &.mat-select-disabled {
    border: 1px solid $w2-black-alpha30;

    &:hover {
      cursor: not-allowed;
    }
  }
}

@mixin mat-select-width($w: 100%){
  width: $w;
}