// Set breakpoints
@mixin respond-to($media) {
  @if $media == dd {
    @media only screen and (max-width: $breakpoint-dd) { @content; }
  }
  @if $media == ipadsm {
    @media only screen and (max-width: $breakpoint-lg) { @content; }
  }
  @if $media == ipad {
    @media only screen and (max-width: $breakpoint-lg2) and (max-height: $breakpoint-md) { @content; }
  }
  @else if $media == desktop-sm {
    @media only screen and (max-width: $breakpoint-xxl-width) and (max-height: $breakpoint-sm-height) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: $breakpoint-xxl-width) and (max-height: $breakpoint-md) { @content; }
  }
  @else if $media == surface-sm {
    @media only screen and (max-width: $breakpoint-xxl-width) and (max-height: $breakpoint-height-sm) { @content; }
  }
  @else if $media == surface {
    @media only screen and (max-width: $breakpoint-xxl) and (max-height: $breakpoint-xxl-height) { @content; }
  }
  @else if $media == laptop {
    @media only screen and (max-width: $breakpoint-xxl2-width) and (max-height: $breakpoint-xxl2-height) { @content; }
  }
  @else if $media == wideScreens {
    @media only screen and (min-width: $breakpoint-xxxl) { @content; }
  }
}