// Menu styling
$menu-font-family:        $font-family-lato;
$menu-font-size:          $font-base-size * 1.25;
$menu-font-weight:        $font-base-weight;
$menu-line-height:        1;
$menu-text-color:         $w-black;
$menu-disabled-text-color: $w-gray;
$menu-dd-list-width:       224px;
$menu-dd-list-max-width:    280px;
$menu-padding: 8px 0;

@mixin menu-item {
  @include include-font-style($menu-font-size, $menu-font-weight, $menu-line-height);
  height: 56px;
  color: $menu-text-color;

  &[disabled],
  &[disabled="true"] {
    color: $menu-disabled-text-color;
  }
}

@mixin menu-panel {
  padding: $menu-padding;
  min-width: $menu-dd-list-width;
  max-width: $menu-dd-list-max-width;
}

@mixin menu-panel-sm {
  min-width: calc($menu-dd-list-width / 2);
  max-width: $menu-dd-list-max-width;
}