// Set player-type icon color-wise
@mixin set-player-type-color ($type:anonymous) {
  @if $type == anonymous {
			background-color: $red-bright;
			border-color: $red;
    } @else if $type == known {
			background-color: $yellow-bright;
			border-color: $yellow-dark;
    } @else if $type == rated {
			background-color: $green-bright;
			border-color: $green-dark;
    } @else if $type == manrate {
			background-color: $blue;
			border-color: $blue-dark;
    }
}

// Set player-type icon as pseudo element color-wise
@mixin player-types-before {
  &.player-type {
    &--anonymous::before {
      @include set-player-type-color('anonymous');
    }

    &--known::before {
      @include set-player-type-color('known');
    }

    &--rated::before {
      @include set-player-type-color('rated');
    }
  }
}