@mixin search-component {
  &__container {
    display: flex;
    justify-content: center;
    padding: 1% 2% 0;
    border: 1px solid $black-alpha85;
    margin: 0 auto;
    width: 70%;
    @include border-radius($border-radius);
  }

  &__select {
    @include include-font-style($font-base-size, $font-base-weight, 1.3);
    flex: 1;
  }

  &__input-box {
    @include include-font-style($font-base-size, $font-base-weight, 1.3);
    margin: 0 2%;
    flex: 3;
  }

  &__button {
    @include include-font-style($font-base-size, $font-base-weight, 1.3);
    flex: 0;
    min-width: 6vw;
    margin-top: -1.5%;
    margin-right: -3%;
    border-radius: 0 4px 4px 0;
  }
}