// Set element size
@mixin set-size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin define-size($width, $height: $width) {
  @include set-size($width, $height);
}

@mixin size($width, $height: $width) {
  @include set-size($width, $height);
}

@mixin define-min-size($width, $height: $width) {
  min-width: $width;
  min-height: $height;
}