@mixin set-color($color){
  color: $color;
}

.text-success {
  @include set-color($green);
}

.text-error {
  @include set-color($error-red);
}

.text-warning {
  @include set-color($orange-dark);
}

.text-info {
  @include set-color($blue-bright);
}
