@mixin wd-set-text-align($direction: 'left'){
  text-align: unquote($direction);
}

.wd-text-left {
  @include wd-set-text-align('left');
}
.wd-text-right {
  @include wd-set-text-align('right');
}
.wd-text-center {
  @include wd-set-text-align('center');
}
.wd-text-justify {
  @include wd-set-text-align('justify');
}