////Common mixins
@mixin set-font-family($ff: $font-family-lato) {
  font-family: $ff;
}

@mixin include-font-style($fs: $font-base-size, $fw: $font-base-weight, $lh: 1){
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin set-body-title {
  @include include-font-style(15px, 600, 1.5);
}

@mixin set-body-text {
  @include include-font-style(15px, 500, 1.1);
}


// w2 mixins
// overline text are used above the main text
// Font size: Default size * 0.625
@mixin mx-w2-font-overline($wt: $w2-fw-normal) {
  font-family: $w2-ff-default;
  font-size: $w2-fs-overline;
  letter-spacing: .2px;
  color: $w2-primary;
  font-weight: $wt;
}


// Body text can be styled in 3 ways:
// Type 1: Default size is the main text size
// Type 2: Default size * 0.875
// Type 3: Default size * 0.75
@mixin mx-w2-font-body($type: 1, $wt: $w2-fw-normal) {
  font-family: $w2-ff-default;
  color: $w2-black;
  font-weight: $wt;

  @if $type == 1 {
    font-size: $w2-fs-body1;
    letter-spacing: .15px;
  } @else if $type == 2 {
    font-size: $w2-fs-body2;
    letter-spacing: .1px;
  } @else if $type == 3 {
    font-size: $w2-fs-body3;
    letter-spacing: .25px;
  }
}


// Headline styling
// Type 1: Default * 1.9375
// Type 2: Default * 1.5625
// Type 3: Default * 1.375
// Type 4: Default * 1.125
// Type 5: Default
// Type 6: Default * 0.875
@mixin mx-w2-headline($type: 1) {
  font-family: $w2-ff-headline;
  color: $w2-black;
  font-weight: $w2-fw-thin;
  line-height: 1.5;

  @if $type == 1 {
    font-size: $w2-fs-headline1;
    letter-spacing: .15px;
  } @else if $type == 2 {
    font-size: $w2-fs-headline2;
    letter-spacing: .15px;
  } @else if $type == 3 {
    font-size: $w2-fs-headline3;
    letter-spacing: .15px;
  } @else if $type == 4 {
    font-size: $w2-fs-headline4;
    letter-spacing: .15px;
  } @else if $type == 5 {
    font-size: $w2-fs-headline5;
    letter-spacing: .1px;
  } @else if $type == 6 {
    font-size: $w2-fs-headline6;
    letter-spacing: .1px;
    font-weight: $w2-fw-normal;
  }
}


// Title styling
// Type 1: Default * 1.5
// Type 2: Default * 1.1875
@mixin mx-w2-title($type: 1){
  font-family: $w2-ff-subheading;
  color: $w2-primary-dark;
  font-weight: $w2-fw-normal;
  letter-spacing: .15px;
  line-height: 1.3;

  @if $type == 1 {
    font-size: $w2-fs-title1;
  } @else if $type == 2 {
    font-size: $w2-fs-title2;
  }
}


// Subtitle styling
// Type 1: Default * 1.25
// Type 2: Default * 1.125
// Type 3: Default
// Type 4: Default * 0.8125
@mixin mx-w2-subtitle($type: 1){
  font-family: $w2-ff-default;
  color: $w2-black;
  font-weight: $w2-fw-bold;
  letter-spacing: .15px;

  @if $type == 1 {
    font-size: $w2-fs-subtitle1;
  } @else if $type == 2 {
    font-size: $w2-fs-subtitle2;
  } @else if $type == 3 {
    font-size: $w2-fs-subtitle3;
  } @else if $type == 4 {
    font-size: $w2-fs-subtitle4;
  }
}


// Button suffix letter styling
// Font size: Default
@mixin mx-w2-font-fat {
  font-family: $w2-ff-fat;
  font-size: $w2-fs-fat;
  color: $w2-primary-dark;
  font-weight: 800;
  letter-spacing: .15px;
  line-height: 1;
}


// Mixins defining font styles for wd-containers
@mixin set-container-title (){
  @include set-font-family('OswaldHeadline');
  color: $w2-primary;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

// .wd-title {
//   @include set-container-title;
// }
