// Walker Digital utility CSS
// Mixin for Margins
@mixin wd-margins {
  @for $i from 0 through 5 {
    .mrgn-#{$i} {
      @if $i == 0 {
        margin: 0 !important;
      } @else if $i == 1 {
        margin: .25rem !important;
      } @else if $i == 2 {
        margin: .5rem !important;
      } @else if $i == 3 {
        margin: 1rem !important;
      } @else if $i == 4 {
        margin: 1.5rem !important;
      } @else if $i == 5 {
        margin: 3rem !important;
      }
    }

    .mrgnx-#{$i} {
      @if $i == 0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
      } @else if $i == 1 {
        margin-left: .25rem !important;
        margin-right: .25rem !important;
      } @else if $i == 2 {
        margin-left: .5rem !important;;
        margin-right: .5rem !important;;
      } @else if $i == 3 {
        margin-left: 1rem !important;;
        margin-right: 1rem !important;;
      } @else if $i == 4 {
        margin-left: 1.5rem !important;;
        margin-right: 1.5rem !important;;
      } @else if $i == 5 {
        margin-left: 3rem !important;;
        margin-right: 3rem !important;;
      }
    }

    .mrgny-#{$i} {
      @if $i == 0 {
        margin-top: 0 !important;;
        margin-bottom: 0 !important;;
      } @else if $i == 1 {
        margin-top: .25rem !important;;
        margin-bottom: .25rem !important;;
      } @else if $i == 2 {
        margin-top: .5rem !important;;
        margin-bottom: .5rem !important;;
      } @else if $i == 3 {
        margin-top: 1rem !important;;
        margin-bottom: 1rem !important;;
      } @else if $i == 4 {
        margin-top: 1.5rem !important;;
        margin-bottom: 1.5rem !important;;
      } @else if $i == 5 {
        margin-top: 3rem !important;;
        margin-bottom: 3rem !important;;
      }
    }

    .mrgnl-#{$i} {
      @if $i == 0 {
        margin-left: 0 !important;
      } @else if $i == 1 {
        margin-left: .25rem !important;
      } @else if $i == 2 {
        margin-left: .5rem !important;
      } @else if $i == 3 {
        margin-left: 1rem !important;
      } @else if $i == 4 {
        margin-left: 1.5rem !important;
      } @else if $i == 5 {
        margin-left: 3rem !important;
      }
    }

   .mrgnr-#{$i} {
      @if $i == 0 {
        margin-right: 0 !important;
      } @else if $i == 1 {
        margin-right: .25rem !important;
      } @else if $i == 2 {
        margin-right: .5rem !important;
      } @else if $i == 3 {
        margin-right: 1rem !important;
      } @else if $i == 4 {
        margin-right: 1.5rem !important;
      } @else if $i == 5 {
        margin-right: 3rem !important;
      }
    }

    .mrgnt-#{$i} {
      @if $i == 0 {
        margin-top: 0 !important;
      } @else if $i == 1 {
        margin-top: .25rem !important;
      } @else if $i == 2 {
        margin-top: .5rem !important;
      } @else if $i == 3 {
        margin-top: 1rem !important;
      } @else if $i == 4 {
        margin-top: 1.5rem !important;
      } @else if $i == 5 {
        margin-top: 3rem !important;
      }
    }

    .mrgnb-#{$i} {
      @if $i == 0 {
        margin-bottom: 0 !important;
      } @else if $i == 1 {
        margin-bottom: .25rem !important;
      } @else if $i == 2 {
        margin-bottom: .5rem !important;
      } @else if $i == 3 {
        margin-bottom: 1rem !important;
      } @else if $i == 4 {
        margin-bottom: 1.5rem !important;
      } @else if $i == 5 {
        margin-bottom: 3rem !important;
      }
    }

    .mrgn-auto {
      margin: auto !important;
    }

    .mrgnx-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .mrgny-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
  }
}

@include wd-margins;