// Walker Digital utility CSS
// Mixin for Paddings
@mixin wd-paddings {
  @for $i from 0 through 5 {
    .pad-#{$i} {
      @if $i == 0 {
        padding: 0 !important;
      } @else if $i == 1 {
        padding: .25rem !important;
      } @else if $i == 2 {
        padding: .5rem !important;
      } @else if $i == 3 {
        padding: 1rem !important;
      } @else if $i == 4 {
        padding: 1.5rem !important;
      } @else if $i == 5 {
        padding: 3rem !important;
      }
    }

    .padx-#{$i} {
      @if $i == 0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
      } @else if $i == 1 {
        padding-left: .25rem !important;
        padding-right: .25rem !important;
      } @else if $i == 2 {
        padding-left: .5rem !important;;
        padding-right: .5rem !important;;
      } @else if $i == 3 {
        padding-left: 1rem !important;;
        padding-right: 1rem !important;;
      } @else if $i == 4 {
        padding-left: 1.5rem !important;;
        padding-right: 1.5rem !important;;
      } @else if $i == 5 {
        padding-left: 3rem !important;;
        padding-right: 3rem !important;;
      }
    }

    .pady-#{$i} {
      @if $i == 0 {
        padding-top: 0 !important;;
        padding-bottom: 0 !important;;
      } @else if $i == 1 {
        padding-top: .25rem !important;;
        padding-bottom: .25rem !important;;
      } @else if $i == 2 {
        padding-top: .5rem !important;;
        padding-bottom: .5rem !important;;
      } @else if $i == 3 {
        padding-top: 1rem !important;;
        padding-bottom: 1rem !important;;
      } @else if $i == 4 {
        padding-top: 1.5rem !important;;
        padding-bottom: 1.5rem !important;;
      } @else if $i == 5 {
        padding-top: 3rem !important;;
        padding-bottom: 3rem !important;;
      }
    }

    .padl-#{$i} {
      @if $i == 0 {
        padding-left: 0 !important;
      } @else if $i == 1 {
        padding-left: .25rem !important;
      } @else if $i == 2 {
        padding-left: .5rem !important;
      } @else if $i == 3 {
        padding-left: 1rem !important;
      } @else if $i == 4 {
        padding-left: 1.5rem !important;
      } @else if $i == 5 {
        padding-left: 3rem !important;
      }
    }

    .padr-#{$i} {
      @if $i == 0 {
        padding-right: 0 !important;
      } @else if $i == 1 {
        padding-right: .25rem !important;
      } @else if $i == 2 {
        padding-right: .5rem !important;
      } @else if $i == 3 {
        padding-right: 1rem !important;
      } @else if $i == 4 {
        padding-right: 1.5rem !important;
      } @else if $i == 5 {
        padding-right: 3rem !important;
      }
    }

    .padt-#{$i} {
      @if $i == 0 {
        padding-top: 0 !important;
      } @else if $i == 1 {
        padding-top: .25rem !important;
      } @else if $i == 2 {
        padding-top: .5rem !important;
      } @else if $i == 3 {
        padding-top: 1rem !important;
      } @else if $i == 4 {
        padding-top: 1.5rem !important;
      } @else if $i == 5 {
        padding-top: 3rem !important;
      }
    }

    .padb-#{$i} {
      @if $i == 0 {
        padding-bottom: 0 !important;
      } @else if $i == 1 {
        padding-bottom: .25rem !important;
      } @else if $i == 2 {
        padding-bottom: .5rem !important;
      } @else if $i == 3 {
        padding-bottom: 1rem !important;
      } @else if $i == 4 {
        padding-bottom: 1.5rem !important;
      } @else if $i == 5 {
        padding-bottom: 3rem !important;
      }
    }
  }
}

@include wd-paddings;
