// Walker Digital utility CSS
// Mixin for Grid display
@mixin wd-grid {
  .wd-grid {
    display: grid;

    &--dir-column {
      flex-direction: column;
    }

    &--dir-row {
      flex-direction: row;
    }

    &--align-items-start {
      align-items: flex-start;
    }

    &--align-items-center {
      align-items: center;
    }

    &--align-items-end {
      align-items: flex-end;
    }

    &--align-items-stretch {
      align-items: stretch;
    }

    &--align-self-start {
      align-self: start;
    }

    &--align-self-stretch {
      align-self: stretch;
    }

    &--justify-content-start {
      justify-content: start;
    }

    &--justify-content-center {
      justify-content: center;
    }

    &--justify-content-end {
      justify-content: end;
    }

    &--justify-content-space-between {
      justify-content: space-between;
    }

    &--place-at-center {
      place-content: center;
      place-items: center;
    }
  }
}


@include wd-grid;
