// Mixins defining wd-containers
@mixin make-wd-container {
    $padding-side: 1em;
    $margin-side: auto;
    $max-width: 1366px;
    @include set-size(calc(100% - 2 * #{$padding-side}) , auto);
    // background-color: $w2-primary-50;
    padding: 0 $padding-side;
    margin-right: $margin-side;
    margin-left: $margin-side;
    max-width: $max-width;
}

@mixin make-wd-inner-container {
    @include set-size(calc(100% - 2em), calc(100% - 6em));
    // background-color: $w2-white;
    border: 2px solid $w2-primary;
    padding: 1em;
    margin: 0 auto;
    border-radius: .5rem;
    box-shadow: inset 0 0 4px 1px rgb(0 0 0 / 50%);
    overflow: auto;
}

@mixin make-wd-row {
    margin: 0;
    padding: 0;
}
  
.wd-container {
    @include make-wd-container;

    &__inner {
        @include make-wd-inner-container;
    }

    &__contents-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1em;
    }

    &__contents {
        display: flex;
        flex-direction: column;

        &--header {
            box-shadow: 0 1px 0 0 $w2-black-alpha15;
        }

        &--scrollable {
            height: 100%;
            overflow: auto;
        }
    }

    .table-filters__inner-container {
        background-color: #f5f5f5;
        border-radius: 4px;
        box-shadow: 0 0 1px;
        min-height: 60px;
        height: auto;
        margin: 0 auto;
        width: 100%;
        padding: 1em 1em 0 1em;
    }
}