// Mixins creating 12 flex columns
@for $i from 1 through 12 {
  @if($i == 1) {
      .wd-col {
          flex: 1;
      }
      .wd-col-#{$i} {
          flex: $i;
      }
  } @else {
      .wd-col-#{$i} {
          flex: $i;
      }
  }
}