// Walker Digital utility CSS
// Mixin for Flex display
@mixin wd-flex {
  .wd-flex {
    display: flex;

    &--dir-column,
    &--column {
      flex-direction: column;
    }
  
    &--dir-row,
    &--row {
      flex-direction: row;
    }
  
    &--align-items-start {
      align-items: flex-start;
    }
  
    &--align-items-center {
      align-items: center;
    }
  
    &--align-items-end {
      align-items: flex-end;
    }

    &--align-items-stretch {
      align-items: stretch;
    }

    &--align-self-start {
      align-self: flex-start;
    }

    &--align-self-end {
      align-self: flex-end;
    }

    &--align-self-center {
      align-self: center;
    }

    &--align-self-stretch {
      align-self: stretch;
    }
  
    &--justify-content-start {
      justify-content: flex-start;
    }
  
    &--justify-content-center {
      justify-content: center;
    }
  
    &--justify-content-end {
      justify-content: flex-end;
    }

    &--justify-content-space-between {
      justify-content: space-between;
    }

    &--place-at-center {
      place-content: center;
      place-items: center;
    }

    &-100,
    &--100 {
      flex: 1;
    }

    &--flex-wrap,
    &--wrap {
      flex-wrap: wrap;
    }
  }
}

@include wd-flex;