<div class="wd-container">
    <div class="wd-row">
        <div class="wd-flex" style="justify-content: space-between">
            <mat-spinner role="progressbar"></mat-spinner>
            <mat-spinner class="accent" role="progressbar" [diameter]="150"></mat-spinner>
            <mat-spinner class="success" role="progressbar" [strokeWidth]="20"></mat-spinner>
            <mat-spinner class="error" role="progressbar" ></mat-spinner>
            <mat-spinner class="warning" role="progressbar"></mat-spinner>
            <mat-spinner class="info" role="progressbar" [diameter]="50"></mat-spinner>
        </div>
    </div>

    <div class="wd-row">
        
        <details>
            <summary>Summary</summary>
            
            <textarea style="width: 100%">
                <mat-spinner role="progressbar"></mat-spinner>
            </textarea>
        </details>
    </div>
</div>