@import '../../../styles/variables', '../../../styles/utilities', '../../../styles/mixins';

$spinner-color: $w2-primary;
$spinner-accent-color: $w2-accent;
$spinner-success-color: $green;
$spinner-error-color: $error-red;
$spinner-warning-color: $orange-dark;
$spinner-info-color: $blue-bright;



@mixin set-spinner-color($color: $spinner-color) {
    stroke: $color;
}

.mat-progress-spinner,
.mat-spinner {
    ::ng-deep circle {
        @include set-spinner-color;
    }

    &.accent ::ng-deep circle {
        @include set-spinner-color($spinner-accent-color);
    }

    &.success ::ng-deep circle {
        @include set-spinner-color($spinner-success-color);
    }

    &.error ::ng-deep circle {
        @include set-spinner-color($spinner-error-color);
    }

    &.warning ::ng-deep circle {
        @include set-spinner-color($spinner-warning-color);
    }

    &.info ::ng-deep circle {
        @include set-spinner-color($spinner-info-color);
    }
}




:host {
    width: 100%;
}