<main class="wd-container cashier-window tab-chipdetail">
    <div class="wd-flex cashier-window__content ">
        <!-- <div class="wd-flex wd-flex-column cashier-window__buy-in-types">
            <h3 class="wd-title title-select-buy-in-type">Select Buy In Type</h3>
            <mat-divider></mat-divider>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button *ngFor="let type of buyInTypes; let i = index" [value]="i+1" [checked]="i === 0" (change)="onSelectType($event)">
                    <span>{{type}}</span>
                </mat-radio-button>
            </mat-radio-group>
        </div> -->

        <div id="main" class="wd-flex wd-flex-column wd-flex-width-100" style="background-color: white; padding: 1em 0; gap: 1em">
            <ng-container *ngIf="!isChipsPlaced">
                <div class="block-place-chips" (click)="onPlacingChips($event)">
                    <div class="wd-flex wd-flex-column wd-align-items-center">
                        <mat-icon class="icon-chips-placing"></mat-icon>
                        <h1 class='wd-title title-place-chips'>Place chips on antenna</h1>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="isChipsPlaced">
                <div class="wd-container__inner">
                    <div class="chipset-panels" style="max-height: calc(52vh - 1em)">
                        <ng-container *ngIf="isChipsInvalid" aria-describedby="Displaying invalid chip sets">
                            <ng-container *ngFor="let panel of invalidPanels" aria-describedby="Displaying invalid chip sets only">
                                <app-chipset [csName]="panel.csname" [csStatus]="panel.status"></app-chipset>
                            </ng-container>
                        </ng-container>
                        <mat-divider *ngIf="isChipsInvalid" style="margin: 1em 0"></mat-divider>
                        <ng-container *ngFor="let panel of panels" aria-describedby="Displaying valid chip sets only">
                            <app-chipset [csName]="panel.csname" [csStatus]="panel.status"></app-chipset>
                        </ng-container>
                    </div>
                </div>

                <footer class="display-total">
                    <span class="h1">
                        <span>{{67000 | number}}</span><span>({{87}})</span>
                    </span>
                    <span>
                        <button mat-flat-button type="button" 
                            class="common-button"
                            [ngClass]="{'common-button--disabled': false}"
                            [disabled]="false"
                            (click)="onBtnCancel()">Cancel</button>
                        <button mat-raised-button type="button" 
                            class="common-button"
                            [ngClass]="{'common-button--primary': true, 'common-button--disabled': false}"
                            (click)="onBtnConfirm()"
                            [disabled]="false">Confirm</button>
                    </span>
                </footer>
            </ng-container>
        </div>

        <!-- <div class="wd-flex wd-flex-column aside-content-width" style="padding: 1em 0; position: relative; justify-content: space-between">
            <div class="wd-flex wd-flex-column">
                <button mat-stroked-button type="button" class="btn-add-player">
                    <mat-icon class="icon-add-player"></mat-icon>
                    <span>Player</span>
                </button>
            
                <button mat-stroked-button type="button" class="btn-add-player">
                    <mat-icon class="icon-add-player"></mat-icon>
                    <span>Agent</span>
                </button>
            </div> -->
            
            <!-- 'btn-aggregation' is a css class that is deferred for now. -->
            <!-- <button mat-raised-button type="button" 
                class="common-button"
                [ngClass]="!isAggregationBtnEnabled ? 'common-button--disabled' : 'common-button--accent-fill'"
                [disabled]="!isAggregationBtnEnabled"
                (click)="onAggregatingChips()">
                <mat-icon>add</mat-icon>
                <span>Add More</span>
            </button>
        </div> -->
    </div>

    <div class="wd-backdrop" *ngIf="isMsgRemoveChips">
        <div class="wd-flex" style="width: 100%; height: 100%">
            <div class="wd-flex wd-flex-center wd-flex-width-100">
                <h1 class="info-remove-text">Remove chips from the antenna</h1>
            </div>
        </div>
    </div>
</main>