@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mixins;

$device-max-width:              1366px;
$aside-surface-color:           vars.$w2-primary-50;
$footer-surface-color:          vars.$w2-black;
$footer-text-color:             vars.$w2-primary-50;
$footer-border-color:           $footer-text-color;
$footer-display-text:           vars.$w2-ff-fat;
$footer-display-text-color:     vars.$w2-primary;
$cs-display-block-border:       2px solid $footer-display-text-color;
$cs-err-surface-color:          vars.$error-red;
$cs-err-text-color:             vars.$w2-white;
$side-panel-width:              16.66667%;

// Mixin to style active radio button
@mixin make-radio-button-active () {
    &.mat-radio-checked ::ng-deep .mat-radio-outer-circle  {
        border-color: vars.$w2-accent;
    }

    &.mat-radio-checked ::ng-deep .mat-radio-persistent-ripple,
    ::ng-deep .mat-radio-inner-circle, 
    ::ng-deep .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
    &:active ::ng-deep .mat-radio-persistent-ripple {
        background-color: vars.$w2-accent;
    }
}


:host {
    display: grid;
}


.cashier-window {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    position: relative;

    &__content {
        justify-content: space-between; 
        gap: 1em;
        height: 100%; 
        max-width: $device-max-width;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .aside-content-width {
        min-width: $side-panel-width;
    }

    .wd-title {
        @include mixins.set-font-family();
        @include mixins.set-color(vars.$w2-primary);
        margin-bottom: 0;
    }
    
    .title-place-chips {
        @include mixins.include-font-style(3rem, vars.$font-base-weight, 1.5);
        text-align: center;
    }
    
    .title-select-buy-in-type {
        @include mixins.include-font-style(1.25rem, vars.$font-base-weight, 1.5);
        @include mixins.set-color(vars.$w2-black);
    }

    .btn-add-player {
        @include mixins.btn-add-player;

        + .btn-add-player {
            margin-top: 1em;
        }
    }


    .chipset-panels {
        display: flex;
        flex-direction: column;
        gap: .25em;
        height: 100%;
        overflow: auto;
    }

    .common-button + .common-button {
        margin-left: 1em;
    }

    &__buy-in-types {
        max-width: 224px; 
        padding: 1em 0; 
        background-color: $aside-surface-color;
    
        .mat-radio-button {
            @include mixins.set-font-family();
            @include mixins.include-font-style(1.25rem, vars.$font-base-weight, 2);
            @include mixins.set-color(vars.$w2-primary);
            clear: both;
            float: left;
            padding: .25em 0;
        
            &.mat-accent {
                @include make-radio-button-active();
            }
        }
    }
}


// .cw-footer {
//     &__bottom-content {
//         @include include-font-style(.75rem, vars.$font-base-weight, 1.3);
//         align-items: center;
//         background-color: $footer-surface-color;
//         color: $footer-text-color;
//         flex: 1;
//         height: 16px;
//         letter-spacing: 1px;
//         padding: 4px 0;
//         text-transform: uppercase;

//         .wd-col:first-child {
//             padding: 0 0 0 1em;
//         }

//         .wd-col:last-child {
//             padding: 0 1em 0 0;
//         }

//         span + span {
//             margin: 0 0 0 1em;
//             padding: 0 0 0 1em;
//             border-left: 1px solid $footer-border-color;
//         }
//     }

//     &--links-disabled ::ng-deep {
//         .sub-nav__tab-link:not(.mat-tab-label-active) {
//             color: #4d4d4d !important;
//             cursor: not-allowed;
//             filter: grayscale(1);
//             pointer-events: none;
//             user-select: none;
//         }
//     }
// }


.block-place-chips {
    background-color: vars.$w2-white;
    border-radius: 8px;
    margin: auto;
    padding: 1em 2em;
    position: relative;
    transition: all 500ms;

    &:hover {
        cursor: pointer;
        opacity: .85;
    }

    mat-icon.icon-chips-placing {
        @include mixins.icon-chips-placing;

        + h1 {
            margin-top: .25em;
        }
    }
}


.display-total {
    align-items: center;
    border: $cs-display-block-border;
    border-radius: 8px;
    display: flex;
    flex: 1;
    gap: 1em;
    justify-content: space-between;
    height: 5rem;
    padding: 0 1em;

    .h1 {
        @include mixins.set-font-family($footer-display-text);
        @include mixins.include-font-style(3.5rem, vars.$font-base-weight, 1.3);
        @include mixins.set-color($footer-display-text-color);
    }

    span:last-child {
        min-width: 14em;
        text-align: right;
    }
}




.display-invalid-chips-err {
    @include mixins.make-flex-center;
    display: flex;
    background-color: $cs-err-surface-color;
    bottom: 5.5rem;
    position: absolute;
    width: 100%;
    height: 4rem;
    z-index: 10;

    .h1 {
        @include mixins.set-font-family();
        @include mixins.include-font-style(2rem, vars.$font-base-weight, 1.3);
        color: $cs-err-text-color;
        margin: 0;
    }
}

.btn-aggregation {
    bottom: 8em;
    position: absolute; 
}

.tab-chipdetail.cashier-window {
    #main {
        margin: 0 $side-panel-width;
        padding-left: 1em !important;
    }
}