<section class="block-transactions-total">
    <table>
        <tr>
            <th rowspan="2" class="vertical"><span>Total</span></th>
            <th>Buy Ins</th>
            <th>Cash Out</th>
            <th>Change</th>
            <th>Update Ownership</th>
        </tr>
        <tr>
            <td><span>{{5000500 | number}}</span><span>&nbsp;</span><span>(8)</span></td>
            <td><span>{{2800400 | number}}</span><span>&nbsp;</span><span>(5)</span></td>
            <td><span>{{905000 | number}}</span><span>&nbsp;</span><span>(4)</span></td>
            <td><span>{{905000 | number}}</span><span>&nbsp;</span><span>(4)</span></td>
        </tr>
        </table>
</section>
<section>
    <table>
        <thead>
            <tr>
                <th *ngFor="let columnTitle of columnTitles">
                    <span>{{columnTitle}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rowItem of tableData">
                <td>{{rowItem['Time']}}</td>
                <td>{{rowItem['ID']}}</td>
                <td>{{rowItem['Transaction']}}</td>
                <td>{{rowItem['Cashier']}}</td>
                <td>{{rowItem['Approver']}}</td>
                <td>{{rowItem['Value']}}</td>
                <td>{{rowItem['Player']}}</td>
                <td>{{rowItem['Agent']}}</td>
                <td>{{rowItem['Notes']}}</td>
            </tr>
        </tbody>
        
    </table>
</section>
