@import '../../../styles/variables', '../../../styles/mixins' ;

$tbl-column-title-color:    $w-primary-dark;
$tbl-column-text-color:     $w2-black;
$tbl-surface-color:         $w2-primary;
$tbl-cell-surface-color:    $w2-white;
$tbl-bdr-color:             $w2-primary;
$tbl-column-title-text:     $w2-ff-fat;
$tbl-column-body-text:      $w2-oswald-family;
$tbl-column-title-fs:       .7rem;
$tbl-column-body-fs:        1rem;


@mixin wd-table-border($thickness: 1px) {
    > tr > th, 
    > tr > td {
        border: $thickness solid $tbl-bdr-color;
    }
}

.block-transactions-total {
    padding: 1em 0;

    table {
        @include wd-table-border;
        background-color: $tbl-surface-color;
        border-collapse: collapse;
        min-width: 540px;
        height: 48px;
    
        th:not(.vertical), td { 
            background-color: $tbl-cell-surface-color;
            text-align: center;
        }
    
        th {
            @include set-font-family($tbl-column-title-text);
            @include include-font-style($tbl-column-title-fs, $font-base-weight, 1.3);
            color: $tbl-column-title-color;
            text-transform: uppercase;
        }
    
        td {
            @include set-font-family($tbl-column-body-text);
            @include include-font-style($tbl-column-body-fs, $font-base-weight, 1.5);
            color: $tbl-column-text-color
        }

        th.vertical {
            color: $tbl-column-text-color;
            transform: rotate(-90deg) scale(1.5);

            span {
                @include set-font-family($tbl-column-body-text);
            }
        }
    }
}


table {
    width: 100%
}