//Use this mixin to style a button.
// @import 'mixins';

@mixin style-button-label {
  @include set-font-family;
  @include set-body-text;
  line-height: 2.5;
}

@mixin style-radio-button-label {
  @include style-button-label;
}

@mixin style-button-disabled {
  background: $light-gray;
  border-color: $gray;
  color: $gray;
  cursor: not-allowed;
}

@mixin make-common-button {
  @include set-font-family;
  background-color: $w2-white;
  border-radius: $border-radius;
  color: $w-primary;
  font-weight: $font-base-weight;
  line-height: 2.5;

  &:focus {
    outline: 0;
  }

  &__sm {
    line-height: 1;
    min-width: 40px;
    padding: 4px 0;
  }

  &__xsm {
    margin-left: .25rem;
    min-width: 28px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }
  }

  &--primary {
    background-color: $w-primary;
    color: $white;
  }

  &--secondary {
    border: 2px solid $w-primary;
  }

  &--default {
    background-color: #252525;//transparentize($w2-black, .85);
  }
}

@mixin close-button {
  line-height: 3;
  margin-top: -1%;
}

// @mixin tbl-button($w: $tbl-button-width, $h: $tbl-button-height) {
//   @include set-font-family;
//   min-width: $w;
//   min-height: $h;
//   font-size: $base-font-size * 1.25;
//   font-weight: $base-font-weight;
//   border-radius: $border-radius;
// }

@mixin tbl--btn-style {
  background-color: $white;
  border-radius: $border-radius;
  height: 96px;
  min-width: 216px;
  padding: .5rem;
  margin-bottom: 8px;
  border: 2px solid $w-gray;
  width: 100%;

  @include respond-to(desktop) {
    height: 64px;
    min-width: 112px;
    padding: .25rem .5rem;
  }
}

@mixin tbl--btn-label {
  @include set-font-family;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: .2px;
  text-align: left;

  @include respond-to(desktop) {
    font-size: 1.25em;
    width: 100%;
  }
}

@mixin tbl-btn-xxxl {
  @include set-font-family;
  @include tbl--btn-style;
  border-radius: .5rem;

  &:hover {
    @include tbl-element-shadow();
    //box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.35)
  }
}
