//Function to map color from wdts-theme defined in colors.
// @function get-color($color) {
// 	@return map-get($wdts-colors, $color);
// }

////Include icons-map using paths.
$img-network: 						'/assets/icons/icon-on-network.png';
$img-no-network: 					'/assets/icons/icon-no-network.png';
$img-alert: 							'/assets/icons/icon-alerts-tbl.png';
$img-lock: 								'/assets/icons/icon-chiptray-lock.png';
$img-unlock: 							'/assets/icons/icon-chiptray-unlock.png';
$img-cross:								'/assets/icons/cancelled.png';
$img-tick:								'/assets/icons/completed.png';


$icons:(
		'on-network': 	$img-network,
		'no-network': 	$img-no-network,
		'alert': 		    $img-alert,
		'lock': 		    $img-lock,
		'unlock': 		  $img-unlock,
		'cross':		    $img-cross,
		'tick':			    $img-tick,
);

//Function to map image/icon from icon-map defined in variables.
@function get-bg-image($image){
	@return map-get($icons, $image);
}