@import 'variables', 'functions', 'utilities';

// assets path
$assets-path: '../assets/icons/';

@mixin border-radius($rad...){
  @if $rad == null {
    border-radius: $border-radius;
  }
  border-radius: $rad;
}

@mixin set-bg-color($color){
  background-color: $color;
}

@mixin drop-shadow {
  box-shadow: 0 1px 2px $w2-black-alpha50;
}

@mixin w2-transition {
  transition: all 100ms ease;
}

@mixin set-zindex($index: 0) {
  z-index: $index;
}

//Include box-shadow for Table-dashboard elements.
@mixin tbl-element-shadow($shadow...) {
  @if $shadow == null {
    $shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.35);
  }
  box-shadow: $shadow;
}



@mixin make-view-table-placeholder {
  @include make-flex-center;
  @include border-radius(6px);
  background-color: $white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border: 0.1vmin solid $gray-alpha65;
  width: inherit;
  min-height: 18vh;
  margin-bottom: 0.5vmin;
  padding: 0.125vmin;
  position: relative;
  height: 100%;
}











// Other mixins styles
@mixin table-info-item {
  border-right: 1px solid $white;
  padding: 0 16px;

  &__left,
  &__right {
    display: flex;
    flex-direction: row;
  }

  &__right {
    justify-content: flex-end;

    &:last-child {
      border-right: 0;
    }
  }
}

@mixin tbl-sub-footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  grid-template-rows: 24px;
  justify-content: space-between;
  align-items: stretch;
  background-color: $w-black;
  color: $white;
}





// Main containter styling can be used as a bordered container
// @mixin make-main-container {
//   display: flex;
//   flex-wrap: wrap;
//   min-width: calc(100% - 1.25rem);
//   height: 100%;
//   min-height: 50vh;
//   max-height: calc(100vh - 14rem);
//   padding: .5rem;
//   background-color: $w2-white;
//   border: 1px solid $w2-primary;
//   border-radius: .5rem;
//   overflow: auto;
//   position: relative;
//   box-shadow: inset 0 0 4px 1px $w2-black-alpha50;
// }





@mixin create-dialog-content-row {
  align-items: center;
  background-color: $black-alpha95;
  display: flex;
  padding: 1vmin 1vmin 0;
}




////Styles for '2-columns' data-container.
// %var-container {
//   border: 1px solid $w2-primary-dark;
//   height: 32vmin;
//   margin: 4px 10px;
//   padding: 0;
//   width: 94%;

//   &__small-font-size {
//     font-size: $font-base-size * .9;
//   }

//   &__link {
//     color: $w2-primary-dark !important;
//     font-size: $font-base-size * .9;
//     height: 40px;
//   }

//   &__header {
//     background-color: $light-gray;
//     border-radius: 4px 4px 0 0;
//   }

//   &__scrollable {
//     height: calc(100% - 44px);
//     overflow: hidden;
//     overflow-y: auto;
//   }
// }


















































@mixin icon-add-player {
  $path: $assets-path + 'add-player-Icon.svg';
  @include set-size(60px, 56px);
  background-image: url($path);
  background-repeat: no-repeat;
}

@mixin icon-chips-placing {
  $path: $assets-path + 'chips-placing.svg';
  @include set-size(128px);
  background-image: url($path);
  background-repeat: no-repeat;
  background-position: center;
}



