@use 'functions' as func;
@use 'variables' as vars;
@use 'mixins' as mixins;

////Include icons-map using paths.
$img-network: 						'/assets/icons/icon-on-network.png';
$img-no-network: 					'/assets/icons/icon-no-network.png';
$img-alert: 							'/assets/icons/icon-alerts-tbl.png';
$img-lock: 								'/assets/icons/icon-chiptray-lock.png';
$img-unlock: 							'/assets/icons/icon-chiptray-unlock.png';
$img-cross:								'/assets/icons/cancelled.png';
$img-tick:								'/assets/icons/completed.png';


$icons:(
		'on-network': 	$img-network,
		'no-network': 	$img-no-network,
		'alert': 		    $img-alert,
		'lock': 		    $img-lock,
		'unlock': 		  $img-unlock,
		'cross':		    $img-cross,
		'tick':			    $img-tick,
);

.app-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .common-button {
    max-width: 10rem;
    margin-right: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}





.severity-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

$severity: "critical" vars.$red-bright, "high" vars.$orange-bright, "low" vars.$blue-bright, "none" vars.$gray;
@each $status, $bgcolor in $severity {
  .severity-color__#{$status} {
    background-color: #{$bgcolor};
  }
}






$statuscolors: "critical" vars.$red-bright, "high" vars.$orange-bright, "low" vars.$blue-bright, "active" vars.$green, "inactive" vars.$gray, "delete" vars.$red;
@each $status, $color in $statuscolors {
  .status-color__#{$status}{
    color: #{$color};
  }
}

.mat-menu-item {
  @each $status, $bgcolor in $severity {
    .severity-color__#{$status}:not([color]) {
      background-color: #{$bgcolor};
    }
  }

  @each $status, $color in $statuscolors {
    .status-color__#{$status}:not([color]) {
      color: #{$color};
    }
  }
}




.tbl-opened {
  border: 2px solid vars.$dark-green;
  background: radial-gradient(ellipse at top, #e6fbcb 0%, vars.$green 60%, #3ba211 100%);
}

.tbl-closed {
  background: radial-gradient(ellipse at top, #FFFFFF 0%, vars.$red-bright 100%);
  border: 2px solid vars.$dark-red;
}

.icon__tbl-status {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  @include mixins.respond-to(desktop) {
    width: 28px;
    height: 28px;
  }
}

.icon__alerts {
  background: url(func.get-bg-image('alert')) no-repeat left center;
  background-size: 20px;
  width: 24px;
  height: 24px;
}

.icon__chiptray-unlock {
  background: url(func.get-bg-image('unlock')) no-repeat center;
  background-size: 100%;
}

.icon__chiptray-lock {
  background: url(func.get-bg-image('lock')) no-repeat center;
  background-size: 80%;
}

.icon__cross {
  background: url(func.get-bg-image('cross')) no-repeat center;
  background-size: 80%;
}

.icon__tick {
  background: url(func.get-bg-image('tick')) no-repeat center;
  background-size: 80%;
}

.calender_tick {
  width: 16px;
  height: 16px;
  background: url("/assets/icons/icon-checked-green.svg") center center no-repeat;
  position: absolute;
  left: 1rem;
}






.badge {
  @include mixins.include-font-style(75%, 700, 1);
  display: inline-block;
  padding: .25em .4em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

$badges: "critical" vars.$red-bright, "high" vars.$yellow, "low" vars.$blue-bright;
@each $badge, $badgecolor in $badges {
  .badge-#{$badge} {
    background-color: $badgecolor;
    color: vars.$black;
  }
}





@mixin icon-chip-security-status {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background-color: silver;
  border: 2px solid darkgray;
  border-radius: 50%;
  margin-right: 4%;
}

.chip-security-action-status {
  @include icon-chip-security-status;
}

$cs-action-status:
        "valid" vars.$green-bright vars.$green,
        "stolen" vars.$red-bright vars.$red,
        "cage-exchange" vars.$orange-bright vars.$orange-dark,
        "not-playable" vars.$yellow-bright vars.$yellow-dark,
        "select" vars.$gray vars.$darker-gray;

@each $status, $bgcolor, $bdrcolor in $cs-action-status {
  .chip-security-action-status--#{$status} {
    background-color: $bgcolor;
    border: 2px solid $bdrcolor;
  }
}






//var '$cm-promotion-status' stores 4 status.
$cm-promotion-status: "active", "issued", "expired", "voided";

@each $icon in $cm-promotion-status {
  .cm-promotion-status-#{$icon} {
    background: url("/assets/icons/icon-#{$icon}.svg") center center no-repeat;
    width: 20px;
    height: 20px;
  }
}




$fc-request-icons: "in-transit","requested","cancelled","completed","auto-cancelled","voided";

@each $icon in $fc-request-icons {
	.fc-request-status-#{$icon} {
		background: url("/assets/icons/icon_#{$icon}.svg") center center no-repeat;
    width: 20px;
    height: 20px;
	}
}


$pit-table-icons: 'settings-40', 'edit-40', 'link-40', 'change-template-40', 'move-location-40',
'delete-40', 'template-default-40', 'template-applied-40', 'tick', 'denom-40', 'chip-associate-40', 'change-password';
@each $icon in $pit-table-icons {
	.#{$icon} {
		background: url("/assets/icons/#{$icon}.svg") center center no-repeat;
	}
}



$session-status-icons: "status-open","status-promotion","status-cancelled","status-pending","status-closed";
@each $icon in $session-status-icons {
  .icon-#{$icon} {
    background: url("/assets/icons/icon-#{$icon}.svg") center center no-repeat;
    width: 20px;
    height: 20px;

    @include mixins.respond-to(ipad){
      width: 16px;
      height: 16px;
    }
  }
}

$session-rating-status-icons: "rating-pending","rating-success","rating-rejected";
@each $icon in $session-rating-status-icons {
  .icon-#{$icon}{
    background: url("/assets/icons/icon-#{$icon}.svg") center center no-repeat;
    width: 20px;
    height: 20px;

    @include mixins.respond-to(ipad){
      width: 16px;
      height: 16px;
    }
  }
}


////Playing card-suits.
$playing-card-suits: diamonds, hearts, spades, clubs;
@each $suit in $playing-card-suits {
.playing-card__suit--#{$suit} {
		background: url("/assets/images/icon-suit-#{$suit}.svg") no-repeat;
		background-position: left center;
		background-size: 20%;
		width: 100%;
	}
}




$footer-icons: 'edit', 'delete', 'cross', 'tick', 'link', 'template-applied', 'template-default', 'change-template', 'move-location', 'settings';
$asset-path: '/assets/icons';

@mixin set-location-card-icons {
  @each $icon in $footer-icons {
    &--#{$icon} {
			background: $w2-white url($asset-path + '/' + $icon + '-48.svg') no-repeat center;
      background-size: contain;

      @if($icon == 'tick'){
        &.mat-button-disabled {
          background: $w2-white url($asset-path + '/' + $icon + '-48.svg') no-repeat center !important;
          background-size: contain;
        }
      }
    }
  }
}
