@import 
'../../../../styles/variables', 
'../../../../styles/mixins';

@import './mixins/mixins.dialog-game-template';

// Styles: Game template
.content-wrapper {
  width: 100%;
  min-height: 50vh;

  .content-row {
    align-items: center;
    background-color: $black-alpha95;
    display: flex;
    padding: 1vmin 1vmin 0;
    background-color: $w2-white;

    .mat-select {
      padding: .4vmin;
      font-size: 1em;
      border-radius: 3px; 
      
      &.mat-select-disabled {
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
    }

    + .content-row {
      margin-top: 1rem;
      border-top: 1px solid #ccc;
    }
  }

  .content-col {
    &__wrapper {
      border: 1px solid #ccc;
      height: 100%;
      min-height: 50vh;
    }

    &--left {
      flex: 2;
      width: 100%;
      opacity: 1;
      display: initial;
      transition: opacity 250ms linear, width 100ms linear; 

      .label {
        white-space: nowrap;
        min-width: 7em;
      }

      &.hide {
        width: 0;
        flex: 0;
        opacity: 0;
        transition: opacity 150ms linear, width 400ms linear; 
      }
    }

    &--right {
      flex: 5;
    }
  }

  &--game-template {
    max-height: 65vh;
    overflow: auto;

    table {
      thead tr {
        background-color: #ccc;
        height: 2em;
        
        th:first-child {
          padding: 0 0 0 .5rem;
        }

        th:last-child {
          padding: 0 .5rem 0 0;
        }
      }
    }
  }

  .tbl-col {
    width: 220px;

    &--width-sm .mat-form-field {
      width: 60px;
    }
  }

  .input-box--width-sm ::ng-deep .mat-form-field-infix {
    width: 60px;
  }

  .tbl-assign-bets {
    &__container {
      overflow: auto;
    }

    tr:first-child > td {
      padding: .5rem 0 0;
    }

    + .tbl-assign-bets {
      margin-top: 1rem;
    }
  }
  
  .cell-bi-inputs {
    .mat-form-field + .mat-form-field,
    .opt-ins__wrapper + .mat-form-field {
      margin-left: .5rem;
    }
  }
  
  .opt-ins {
    label {
      line-height: 1.3;
    }

    &__wrapper {
      align-self: center;
    }
      
  }
}

.buttons {
  padding: 0.3rem 0 0;

  .mat-stroked-button {
    height: 3.5rem;
  }

  .mat-stroked-button + .mat-stroked-button {
    margin-left: .5rem;
  }
}
