<div class="mat-elevation-z8 pad-4">
  <form action="#">
    <h2 mat-dialog-title>
      <div class="wd-flex padb-1">
        <!-- create title -->
        <span *ngIf="templateType === 'game'">
          <span>Create Game Template</span>
        </span>
        <div class="space-filler"></div>
        <button mat-button class="close" mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </h2>
    <hr>

    <main class="content-wrapper content-wrapper--game-template">
      <div class="btn-toggle__wrapper pad-1">
        <button mat-raised-button (click)="toggleLeftPanel()" class="btn-toggle">
          <mat-icon> {{hideSection ? 'chevron_right' : 'chevron_left'}}</mat-icon>
        </button>
      </div>
      <div class="content-row wd-flex wd-flex--align-items-stretch pad-0">

        <section #assignBetsLeftSection class="content-col content-col--left wd-flex--align-self-stretch" [ngClass]="{'hide': hideSection}">
          <div class="content-col__wrapper">
            <div class="content-row padx-3">
              <mat-form-field class="w-100">
                <mat-label>First name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
  
            <div class="content-row padx-3">
                <b class="label">Site</b>
                <mat-form-field class="w-100 padl-3">
                  <!-- <mat-label>Select</mat-label> -->
                  <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            <div class="content-row padx-3">
                <b>Site:</b>&nbsp;&nbsp;
                <!-- <mat-form-field class="w-100 padl-3"> -->
                  <!-- <mat-label>Select</mat-label> -->
                  <mat-select 
                    placeholder="Select Site"
                    multiple
                    color="primary"
                    disabled>
                    <mat-option value="option1">Site A</mat-option>
                    <mat-option value="option3">Site B</mat-option>
                  </mat-select>
                <!-- </mat-form-field> -->
            </div>
  
            <div class="content-row padx-3">
                <b class="label">Table Type</b>
                <mat-form-field class="w-100 padl-3">
                  <!-- <mat-label>Select</mat-label> -->
                  <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="content-row padx-3">
                <b class="label">Game Type</b>
                <mat-form-field class="w-100 padl-3">
                  <!-- <mat-label>Select</mat-label> -->
                  <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="content-row padx-3">
                <b class="label">Bet Tracking</b>
                <mat-form-field class="w-100 padl-3">
                  <!-- <mat-label>Select</mat-label> -->
                  <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <br><br>
            <div class="content-row padx-3">
              <mat-form-field class="w-100">
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
  
            <div class="content-row padx-3">
                <mat-form-field class="w-100">
                  <mat-label>Site</mat-label>
                  <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
  
            <div class="content-row padx-3">
                <mat-form-field class="w-100">
                  <mat-label>Table Type</mat-label>
                  <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="content-row padx-3">
                <mat-form-field class="w-100">
                  <mat-label>Game Type</mat-label>
                  <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="content-row padx-3">
                <mat-form-field class="w-100">
                  <mat-label>Bet Tracking</mat-label>
                  <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
          </div>
          
        </section>

        <section #assignBetsRightSection class="content-col content-col--right content-col--max-ht wd-flex--align-self-stretch" style="overflow: auto" [ngClass]="{'padl-3': !hideSection}">
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="New Design">
                <div class="unmapped-bets__wrapper mrgn-3">
                    <div class="unmapped-bets__container wd-flex pad-2">
                        <div class="unmapped-bets content-row pad-1">
                            <div class="wd-flex wd-flex--justify-content-center" style="gap: 1em">
                                <!-- <div class="unmapped-bet" [ngClass]="{'mapped': true}">
                                    B
                                </div>
                                <div class="unmapped-bet" [ngClass]="{'tapped': true}">
                                    P
                                </div> -->
                                <div class="unmapped-bet dirty" [ngClass]="isClicked1? 'mapped' : 'tapped'" (click)="isClicked1 = !isClicked1">
                                    TT
                                </div>
                                <div class="unmapped-bet dirty" [ngClass]="isClicked2? 'tapped' : ''" (click)="isClicked2 = !isClicked2">
                                    BP
                                </div>
                                <div class="unmapped-bet dirty" [ngClass]="isClicked3? 'disabled' : ''" (click)="isClicked3 = !isClicked3">
                                    PP
                                </div>
                                <div class="unmapped-bet" [ngClass]="isClicked4? 'empty' : ''" (click)="isClicked4 = !isClicked4">
                                    PP
                                </div>
                                <!-- <div class="unmapped-bet" [ngClass]="{'disabled': true}">
                                    6
                                </div>
                                <div class="unmapped-bet" [ngClass]="{'disabled': true}">
                                    7
                                </div>
                                <div class="unmapped-bet" [ngClass]="{'disabled': true}">
                                    8
                                </div>
                                <div class="unmapped-bet" [ngClass]="{'disabled': true}">
                                    9
                                </div>
                                <div class="unmapped-bet" [ngClass]="{'disabled': true}">
                                    10
                                </div> -->
                            </div>
                        </div>
                    </div>
                    
                </div>

                <br><br>

                <div class="table-antennas__wrapper mrgn-3">
                    <div class="table-antennas__container wd-flex pad-3">
                        <!-- Oval button style -->
                        <div class="table-antennas content-row pad-1">
                            <div class="wd-flex wd-flex--justify-content-center wd-flex--wrap" style="gap: 1em">
                                <div class="table-antenna">
                                    SB1
                                </div>
                                <div class="table-antenna">
                                    SB2
                                </div>
                                <div class="table-antenna">
                                    SB3
                                </div>
                                <div class="table-antenna">
                                    SB4
                                </div>
                                <div class="table-antenna">
                                    SB5
                                </div>
                                <div class="table-antenna">
                                    SB6
                                </div>
                                <!-- <div class="table-antenna">
                                    SB7
                                </div>
                                <div class="table-antenna">
                                    SB8
                                </div>
                                <div class="table-antenna">
                                    SB9
                                </div>
                                <div class="table-antenna">
                                    SB10
                                </div> -->
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- <div class="table-antennas__container">
                    <div class="table-antennas">

                    </div>
                </div> -->
                
            </mat-tab>
            <mat-tab label="Baccarat-Manual Rating">
                <div class="block-panel">
                    <div class="content-wrapper">
                        <div class="content-row">
                            <section class="card-man-rate wd-flex w-100 wd-flex--dir-column pad-3">
                                <header class="card-man-rate__header mrgnb-2">
                                    Manual Rating
                                </header>
                                <main class="card-man-rate__main">
                                    <header class="card-man-rate__title">
                                        <span>Approval threshold values</span>
                                    </header>
                                    <section class="card-man-rate__content">
                                        <div class="wd-flex wd-flex--dir-row">
                                            <div class="bet-list-item wd-flex wd-flex--justify-content-space-between wd-flex--align-items-center w-100 padx-3">
                                                <span>Player (P)</span>
                                                <!-- <span class="value disabled padx-2">0.00</span> -->
                                                <mat-form-field>
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </div>
                                        </div>   

                                        <div class="wd-flex wd-flex--dir-row">
                                            <div class="bet-list-item wd-flex wd-flex--justify-content-space-between wd-flex--align-items-center w-100 padx-3">
                                                <span>Player (P)</span>
                                                <!-- <span class="value disabled padx-2">0.00</span> -->
                                                <mat-form-field>
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </div>
                                        </div> 

                                        <div class="wd-flex wd-flex--dir-row">
                                            <div class="bet-list-item wd-flex wd-flex--justify-content-space-between wd-flex--align-items-center w-100 padx-3">
                                                <span>Player (P)</span>
                                                <!-- <span class="value disabled padx-2">0.00</span> -->
                                                <mat-form-field>
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </div>
                                        </div> 

                                        <div class="wd-flex wd-flex--dir-row">
                                            <div class="bet-list-item wd-flex wd-flex--justify-content-space-between wd-flex--align-items-center w-100 padx-3">
                                                <span>Player (P)</span>
                                                <!-- <span class="value disabled padx-2">0.00</span> -->
                                                <mat-form-field>
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </div>
                                        </div> 

                                        <div class="wd-flex wd-flex--dir-row">
                                            <div class="bet-list-item wd-flex wd-flex--justify-content-space-between wd-flex--align-items-center w-100 padx-3">
                                                <span>Player (P)</span>
                                                <!-- <span class="value disabled padx-2">0.00</span> -->
                                                <mat-form-field>
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </div>
                                        </div> 

                                        
                                    </section>
                                </main>

                            </section>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Baccarat-Antenna Mapping-1">
                <div class="block-panel">
                    <div class="content-wrapper">
                        <div class="content-row">
                            <section class="antenna-mapping__container">
                                <div class="antenna-mapping__header">
                                    <span>Antenna Mapping</span>
                                </div>
                                <div class="antenna-mapping__body wd-flex pad-3">
                                    <section class="col__left">
                                        <div class="bets-to-be-mapped wd-flex wd-flex--dir-column padx-1 pady-1">
                                            <button mat-stroked-button class="btn-bet-type" data-type="mapped">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    TT
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" data-type="tapped">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    ST
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" data-type="dirty">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    BT
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" [disabled]="true" data-type="empty">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    4
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" [disabled]="true" data-type="empty">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    5
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" [disabled]="true" data-type="empty">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    6
                                                </span>
                                            </button>
                                        </div>
                                    </section>
          
                                    <section class="col__right wd-flex">
                                        <div class="table-antenna__container wd-flex wd-flex--align-self-center">
                                            <div class="table-antenna w-100">
                                                <div class="table-antenna__grid-baccarat pad-3">
                                                    
                                                    <button mat-stroked-button class="spot spot--main-bet" [ngClass]="{mapped: true}" data-type="mapped">
                                                        <span class="label wd-flex wd-flex--place-at-center">
                                                            P
                                                        </span>
                                                    </button>
          
                                                    <button mat-stroked-button class="spot spot--side-bet" [ngClass]="{'mapped':true}" data-type="mapped">
                                                        <span class="label wd-flex wd-flex--place-at-center" >
                                                            TT
                                                        </span>
                                                    </button>
          
                                                    <button mat-stroked-button class="spot spot--side-bet">
                                                        <span class="label wd-flex wd-flex--place-at-center">
                                                            2
                                                        </span>
                                                    </button>
          
                                                    <button mat-stroked-button class="spot spot--side-bet">
                                                        <span class="label wd-flex wd-flex--place-at-center">
                                                            3
                                                        </span>
                                                    </button>
          
                                                    <button mat-stroked-button class="spot spot--side-bet">
                                                        <span class="label wd-flex wd-flex--place-at-center">
                                                            4
                                                        </span>
                                                    </button>

                                                    <div class="dd-position wd-flex wd-flex--place-at-center">
                                                        Dealer Display
                                                    </div>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </section>
          
                                </div>
          
                            </section>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Baccarat-Antenna Mapping-2">
                <div class="block-panel">
                    <div class="content-wrapper">
                        <div class="content-row">
                            <section class="antenna-mapping__container type-2">
                                <div class="antenna-mapping__header">
                                    <span>Antenna Mapping</span>
                                </div>
                                <div class="antenna-mapping__body wd-flex pad-3">
                                    <section class="col__left">
                                        <div class="bets-to-be-mapped wd-flex wd-flex--dir-column padx-1 pady-1">
                                            <button mat-stroked-button class="btn-bet-type" data-type="mapped">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    TT
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" data-type="tapped">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    ST
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" data-type="dirty">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    BT
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" [disabled]="true" data-type="empty">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    4
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" [disabled]="true" data-type="empty">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    5
                                                </span>
                                            </button>
                                            <button mat-stroked-button class="btn-bet-type" [disabled]="true" data-type="empty">
                                                <span class="label wd-flex wd-flex--place-at-center">
                                                    6
                                                </span>
                                            </button>
                                        </div>
                                    </section>
          
                                    <section class="col__right">
                                        <div class="table-antenna__container wd-flex">
                                            <div class="table-antenna w-100">
                                                <div class="table-antenna__grid-baccarat pad-3">
                                                    <button mat-stroked-button class="spot spot--main-bet" [ngClass]="{mapped: true}" data-type="mapped">
                                                        <span class="label wd-flex wd-flex--place-at-center">
                                                            P
                                                        </span>
                                                    </button>
          
                                                    <button mat-stroked-button class="spot spot--main-bet">
                                                        <span class="label wd-flex wd-flex--place-at-center">
                                                            B
                                                        </span>
                                                    </button>
          
                                                    <button mat-stroked-button class="spot spot--side-bet" [ngClass]="{'mapped':true}" data-type="mapped">
                                                        <span class="label wd-flex wd-flex--place-at-center" >
                                                            TT
                                                        </span>
                                                    </button>
          
                                                    <button mat-stroked-button class="spot spot--side-bet">
                                                        <span class="label wd-flex wd-flex--place-at-center">
                                                            2
                                                        </span>
                                                    </button>
          
                                                    <button mat-stroked-button class="spot spot--side-bet">
                                                        <span class="label wd-flex wd-flex--place-at-center">
                                                            3
                                                        </span>
                                                    </button>
          
                                                    <button mat-stroked-button class="spot spot--side-bet">
                                                        <span class="label wd-flex wd-flex--place-at-center">
                                                            4
                                                        </span>
                                                    </button>

                                                    <div class="dd-position wd-flex wd-flex--place-at-center">
                                                        Dealer Display
                                                    </div>
                                                    
                                                    <!-- <div class="grid-spacer grid-spacer--1"></div>
                                                    <div class="grid-spacer grid-spacer--2"></div>
                                                    <div class="grid-spacer grid-spacer--3"></div>
                                                    <div class="grid-spacer grid-spacer--4"></div>
                                                    <div class="grid-spacer grid-spacer--5"></div> -->
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </section>
          
                                </div>
          
                            </section>
                        </div>

                        
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Baccarat- Assign Bets">
                <div class="block-panel">
                    <div class="content-wrapper">
                        <div class="content-row">
                            <div class="content-col content-col--left">
                                <mat-card class="card-container">
                                    <mat-card-header class="card-container__header">
                                        <mat-card-title>
                                            <strong>
                                                <small>Bets</small>
                                            </strong>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content class="inner-content__scrollable">
                                        <div *ngIf="true" class="msg-no-data"> No Data Available </div>
                                        <mat-nav-list>
                                            <a mat-list-item *ngFor="let bet of UnassignedBets">
                                                <span mat-line>{{bet}}</span>
                                                <mat-divider></mat-divider>
                                            </a>
                                        </mat-nav-list>
                                    </mat-card-content>
                                </mat-card>
                            </div>

                            <div class="content-col content-col--right">
                                <mat-card class="card-container">
                                    <mat-card-header class="card-container__header">
                                        <mat-card-title>
                                            <strong>
                                                <small class="wd-flex wd-flex--justify-content-space-between">
                                                    <span>Assigned Bets</span>
                                                    <span>HA (%)</span>
                                                </small>
                                            </strong>
                                            
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content class="inner-content__scrollable">
                                        <div class="w-100 bet-list-item padx-3 wd-flex wd-flex--justify-content-space-between">
                                            <span>Player (P)</span>
                                            <!-- <span class="value disabled padx-2">0.00</span> -->
                                            <mat-form-field>
                                                <input matInput placeholder="">
                                            </mat-form-field>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div class="w-100 bet-list-item padx-3 wd-flex wd-flex--justify-content-space-between">
                                            <span>Banker (B)</span>
                                            <!-- <span class="value disabled padx-2">0.00</span> -->
                                            <mat-form-field>
                                                <input matInput placeholder="">
                                            </mat-form-field>
                                        </div>
                                        
                                        <mat-nav-list>
                                            <a mat-list-item *ngFor="let bet of AssignedBets">
                                                <span mat-line>{{bet}}</span>
                                                <mat-divider></mat-divider>
                                            </a>
                                        </mat-nav-list>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="BlackJack">
              <div class="content-wrapper pad-2">
                <mat-accordion>
                  <mat-expansion-panel 
                    (opened)="panel2OpenState = true"
                    (closed)="panel2OpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Section - B
                      </mat-panel-title>
                      <mat-panel-description>
                        {{panel2OpenState ? '' : 'Antenna mapping'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <section class="antenna-mapping__container">
                      <div class="antenna-mapping__header">
                          <span>Antenna Mapping</span>
                      </div>
                      <div class="antenna-mapping__body wd-flex pad-3">
                          <section class="col__left">
                              <div class="bets-to-be-mapped wd-flex wd-flex--dir-column padx-1 pady-1">
                                  <button mat-stroked-button class="btn-bet-type" data-type="mapped">
                                      <span class="label wd-flex wd-flex--place-at-center">
                                          BJ1
                                      </span>
                                  </button>
                                  <button mat-stroked-button class="btn-bet-type" data-type="tapped">
                                      <span class="label wd-flex wd-flex--place-at-center">
                                          INS2
                                      </span>
                                  </button>
                                  <button mat-stroked-button class="btn-bet-type" data-type="dirty">
                                      <span class="label wd-flex wd-flex--place-at-center">
                                          BType3
                                      </span>
                                  </button>
                                  <button mat-stroked-button class="btn-bet-type" [disabled]="true" data-type="empty">
                                      <span class="label wd-flex wd-flex--place-at-center">
                                          4
                                      </span>
                                  </button>
                                  <button mat-stroked-button class="btn-bet-type" [disabled]="true" data-type="empty">
                                      <span class="label wd-flex wd-flex--place-at-center">
                                          5
                                      </span>
                                  </button>
                                  <button mat-stroked-button class="btn-bet-type" [disabled]="true" data-type="empty">
                                      <span class="label wd-flex wd-flex--place-at-center">
                                          6
                                      </span>
                                  </button>
                              </div>
                          </section>

                          <section class="col__right">
                              <div class="table-antenna__container wd-flex">
                                  <div class="table-antenna w-100">
                                      <div class="table-antenna__grid-bj pad-3">
                                          <button mat-stroked-button class="spot spot--main-bet" [ngClass]="{mapped: true}">
                                              <span class="label wd-flex wd-flex--place-at-center">
                                                  BJ
                                              </span>
                                          </button>

                                          <button mat-stroked-button class="spot spot--main-bet">
                                              <span class="label wd-flex wd-flex--place-at-center">
                                                  BJ
                                              </span>
                                          </button>

                                          <button mat-stroked-button class="spot spot--side-bet">
                                              <span class="label wd-flex wd-flex--place-at-center">
                                                  1
                                              </span>
                                          </button>

                                          <button mat-stroked-button class="spot spot--side-bet">
                                              <span class="label wd-flex wd-flex--place-at-center">
                                                  2
                                              </span>
                                          </button>

                                          <button mat-stroked-button class="spot spot--side-bet">
                                              <span class="label wd-flex wd-flex--place-at-center">
                                                  3
                                              </span>
                                          </button>

                                          <button mat-stroked-button class="spot spot--side-bet">
                                              <span class="label wd-flex wd-flex--place-at-center">
                                                  4
                                              </span>
                                          </button>

                                          <button mat-stroked-button class="spot spot--side-bet" [ngClass]="{tapped: true}">
                                              <span class="label wd-flex wd-flex--place-at-center">
                                                  5
                                              </span>
                                          </button>

                                          <button mat-stroked-button class="spot spot--side-bet" [ngClass]="{mapped: true}">
                                              <span class="label wd-flex wd-flex--place-at-center">
                                                  BJ1
                                              </span>
                                          </button>
                                          
                                          <div class="grid-spacer grid-spacer--1"></div>
                                          <div class="grid-spacer grid-spacer--2"></div>
                                          <div class="grid-spacer grid-spacer--3"></div>
                                          <div class="grid-spacer grid-spacer--4"></div>
                                          <div class="grid-spacer grid-spacer--5"></div>
                                          <div class="grid-spacer grid-spacer--6"></div>
                                              
                                      </div>
                                  </div>
                              </div>
                          </section>

                      </div>

                  </section>

                  </mat-expansion-panel>

  
                  
                </mat-accordion>
              </div>
              
              
            </mat-tab>

            <mat-tab label="BlackJack - Assign Bets">
                <div class="content-wrapper pad-2">
                  <mat-accordion>
                    <mat-expansion-panel 
                      (opened)="panel1OpenState = true"
                      (closed)="panel1OpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Section - A
                        </mat-panel-title>
                        <mat-panel-description>
                          {{panel1OpenState ? '' : 'Assign bet types'}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
    
                      <div class="tbl-assign-bets__container">
                        <!-- <div class="opt-ins__wrapper">
                            <mat-checkbox class="opt-ins">Enable Insurance</mat-checkbox>
                        </div> -->
                        <table class="w-100 tbl-assign-bets" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        <span>Bet Type</span>
                                    </th>
                                    <th>
                                        <span>Code</span>
                                    </th>
                                    <th>
                                        <span>HA (%)</span>
                                    </th>
                                    <th>
                                        <!-- Intentionally left blank -->
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tbl-col">
                                        <mat-form-field appearance="fill">
                                            <input type="text" matInput placeholder="Black Jack">
                                        </mat-form-field>
                                    </td>
                                    <td class="tbl-col--width-sm">
                                        <div class="cell-bi-inputs">
                                            <div class="wd-flex">
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-en">En</mat-label>
                                                    <input type="text" matInput placeholder="BJ">
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-zh">Zh</mat-label>
                                                    <input type="text" matInput placeholder="BJ">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- Intentionally left blank -->
                                    </td>
                                    <td>
                                        <!-- Intentionally left blank -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <input matInput placeholder="Insurance">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <div class="cell-bi-inputs">
                                            <div class="wd-flex">
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-en">En</mat-label>
                                                    <input type="text" matInput placeholder="INS">
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-zh">Zh</mat-label>
                                                    <input type="text" matInput placeholder="INS">
                                                </mat-form-field>
                                            </div>
                                        </div> 
                                        
                                    </td>
                                    <td>
                                        <div class="cell-bi-inputs">
                                            <div class="wd-flex">
                                                <div class="opt-ins__wrapper">
                                                    <mat-checkbox class="opt-ins">Enable Insurance</mat-checkbox>
                                                </div>
                                                <mat-form-field appearance="outline" class="input-box--width-sm">
                                                    <input type="number" matInput placeholder="0.00">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- Intentionally left blank -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
        
                        <hr class="mrgnt-0">
        
                        <table class="w-100 tbl-assign-bets" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="tbl-col">
                                        <mat-form-field appearance="fill">
                                            <input type="text" matInput placeholder="Black Jack 1">
                                        </mat-form-field>
                                    </td>
                                    <td class="tbl-col--width-sm">
                                        <div class="cell-bi-inputs">
                                            <div class="wd-flex">
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-en">En</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-zh">Zh</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline" class="input-box--width-sm">
                                            <input type="number" matInput placeholder="0.00">
                                        </mat-form-field>
                                    </td>
                                    <td class="wd-flex">
                                        <div class="buttons">
                                            <div class="wd-flex">
                                                <button mat-stroked-button
                                                    matTooltip="Reset values"
                                                    matTooltipPosition="above"
                                                    aria-label="Button that resets values">
                                                    <mat-icon>refresh</mat-icon>
                                                </button>
                                                <button mat-stroked-button
                                                    matTooltip="Remove this bet type"
                                                    matTooltipPosition="above"
                                                    aria-label="Button that removes current bet type">
                                                    <mat-icon>clear</mat-icon>
                                                </button>
                                                <button mat-stroked-button
                                                    matTooltip="Add new bet type"
                                                    matTooltipPosition="above"
                                                    aria-label="Button that adds new bet type">
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td class="tbl-col">
                                        <mat-form-field appearance="fill">
                                            <input type="text" matInput placeholder="Black Jack 1">
                                        </mat-form-field>
                                    </td>
                                    <td class="tbl-col--width-sm">
                                        <div class="cell-bi-inputs">
                                            <div class="wd-flex">
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-en">En</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-zh">Zh</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline" class="input-box--width-sm">
                                            <input type="number" matInput placeholder="0.00">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <!-- Intentionally left blank -->
                                    </td>
                                </tr>
        
                                <tr>
                                    <td class="tbl-col">
                                        <mat-form-field appearance="fill">
                                            <input type="text" matInput placeholder="Black Jack 1">
                                        </mat-form-field>
                                    </td>
                                    <td class="tbl-col--width-sm">
                                        <div class="cell-bi-inputs">
                                            <div class="wd-flex">
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-en">En</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-zh">Zh</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline" class="input-box--width-sm">
                                            <input type="number" matInput placeholder="0.00">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <!-- Intentionally left blank -->
                                    </td>
                                </tr>
        
                                <tr>
                                    <td class="tbl-col">
                                        <mat-form-field appearance="fill">
                                            <input type="text" matInput placeholder="Black Jack 1">
                                        </mat-form-field>
                                    </td>
                                    <td class="tbl-col--width-sm">
                                        <div class="cell-bi-inputs">
                                            <div class="wd-flex">
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-en">En</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-zh">Zh</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline" class="input-box--width-sm">
                                            <input type="number" matInput placeholder="0.00">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <!-- Intentionally left blank -->
                                    </td>
                                </tr>
        
                                <tr>
                                    <td class="tbl-col">
                                        <mat-form-field appearance="fill">
                                            <input type="text" matInput placeholder="Black Jack 1">
                                        </mat-form-field>
                                    </td>
                                    <td class="tbl-col--width-sm">
                                        <div class="cell-bi-inputs">
                                            <div class="wd-flex">
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-en">En</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-zh">Zh</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline" class="input-box--width-sm">
                                            <input type="number" matInput placeholder="0.00">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <!-- Intentionally left blank -->
                                    </td>
                                </tr>
        
                                <tr>
                                    <td class="tbl-col">
                                        <mat-form-field appearance="fill">
                                            <input type="text" matInput placeholder="Black Jack 1">
                                        </mat-form-field>
                                    </td>
                                    <td class="tbl-col--width-sm">
                                        <div class="cell-bi-inputs">
                                            <div class="wd-flex">
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-en">En</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="input-box--width-sm">
                                                    <mat-label for="main-bet-code-zh">Zh</mat-label>
                                                    <input type="text" matInput placeholder="BJ1">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline" class="input-box--width-sm">
                                            <input type="number" matInput placeholder="0.00">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <!-- Intentionally left blank -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                
                
              </mat-tab>
            
            <mat-tab label="Game Speed">

            </mat-tab>
          </mat-tab-group>
        </section>
      </div>
      

    </main>
  </form>
</div>
