// @import "functions";

:root {
	--primary: #bb9156;
	--primary-light0: #d9cb9e;
	--primary-light: #EFC184;
	--primary-strip: #FFFBF5;
	--primary-lighten: #e0cdb2;
	--primary-dark0: #AB7348;
	--primary-dark: #89642B;
	--primary-bg: #eee7dd;
	--primary-beige: #F0EDCA;
	--primary-50: #F9F8EA;
	--accent: #9c1c23;
	--accent-light: #D3504A;
	--accent-dark: #7d161b;
	--accent-bright: #FF562D;
	--secondary: #cccccc;
	--secondary-light: #e6e6e6;
	--dark: #333333;
	--dark-light: #808080;
	--white: #ffffff;
	--white-text: #f5f5f5;
	--black: #000000;
	--danger: #dc3545;
	--warning: #fbb23c;
	--success: #070808;
	--success-bright: #24FF00;
	--green: #22b573;
	--green-dark: #1c925d;
	--green-darken: #1A8957;
	--green-darker: #0a3321;
	--green-light: #b2f0d5;
	--green-brighter: #0D8F00;
	--info: #0facd2;
	--cyan: #23a6ad;
	--blue: #00ceff;
	--blue-dark: #00a3cc;
	--blue-darken: #007c99;
	--yellow: #ffff00;
	--yellow-bright: #FFEA00;
	--yellow-dark: #cccc00;
	--gray80: #d9d8d8;
	--gray50: #817e7e;
	--gray30: #5a5858;


	--boxColor: #0ff7;
	--rotateSpeed: 30s;
	--bounceSpeed: 2s;
}


//common colors.
$light-gray:	var(--secondary-light);//#e6e6e6;
$gray:			var(--secondary);//#cccccc;
$darker-gray:	var(--dark-light);//#808080;
$dark-gray:		var(--dark);//#333333;

//
$gold:			var(--primary); //#bb9156 !default;
$light-gold:	var(--primary-light); //#d9cb9e;
$lighter-gold:	var(--primary-bg); //#eee7dd;

//
$error-red: 	rgb(220, 53, 34); //#dc3522;
$red: 			var(--accent); //#9c1c23;
$dark-red: 		var(--accent-dark); //#7d161b;
$red-bright: 	var(--accent-bright); //#FF562D
$orange-bright: var(--warning); //#FBB03B
$orange-dark: 	#cc7e04; //darken($orange-bright, 20%);
$hover-color: 	$dark-red;

//
$cyan: 			var(--cyan); //#23a6ad;
$green: 		var(--green); //#22b573;
$green-bright: 	var(--success-bright);
$green-brighter: var(--green-brighter);
$green-dark:	var(--green-darken);//darken($green, 20%);
$blue-bright: 	var(--info);//#0facd2;
$blue: 			var(--blue);
$blue-dark: 	var(--blue-darken);//darken($blue, 20%);

//
$white: 			var(--white); //#ffffff;
$black: 			var(--black); //#000000;
$yellow: 			var(--yellow); //#ffff00 hsl(60%, 100%, 50%)
$yellow-bright: 	var(--yellow-bright);
$yellow-brighter: 	#FFD900;
$yellow-darker: 	#887400;
$yellow-dark: 		#999900;//darken($yellow, 20%);



$primary:       $gold !default;
$secondary:     $gray !default;
$accent:        $red !default;
$success:       $green !default;
$info:          $blue-bright !default;
$warning:       $orange-bright !default;
$danger:        $error-red !default;
$light:         $light-gray !default;
$dark:          $gray !default;

$w-primary:       $primary;
$w-primary-dark:  var(--primary-dark);
$w-primary-light: var(--primary-beige);
$w-accent:        var(--accent);
$w-black:         var(--black);
$w-gray:          $gray;
$w-gray-light:    $light-gray;
$dark-green:      var(--black);//darken($green, 70%) ==> it becomes black;
$light-green:     var(--white);//lighten($green, 92%) ==> it becomes white;

//new color variables for config2.0
$w2-primary: 			var(--primary);
$w2-primary-50: 		var(--primary-50);
$w2-primary-100: 		var(--primary-beige);
$w2-primary-light: 		var(--primary-light);
$w2-primary-dark: 		var(--primary-dark);

$w2-accent: 			var(--accent);
$w2-accent-dark: 		var(--accent-dark);
$w2-accent-light: 		var(--accent-light);

$w2-white: 				var(--white);
$w2-black: 				var(--black);

$w2-status-active: 		var(--success-bright);
$w2-status-inactive: 	var(--warning);
$w2-status-delete: 		var(--danger);

$w2-text-info: 			var(--blue);	

$black-alpha15: 		rgba(0, 0, 0, .15);
$black-alpha85: 		rgba(0, 0, 0, .85);
$black-alpha95: 		rgba(0, 0, 0, .95);
$black-10: 					rgba(0, 0, 0, .1);

$w2-status-active: var(--success-bright);
$w2-status-inactive: var(--warning);
$w2-status-delete: var(--danger);
