@import '../../../styles/variables', '../../../styles/mixins' ;

$device-max-width:              1366px;
$screen-max-height:             calc(100vh - 20em);
$trsry-surface-color:           $w2-primary-50;
$trsry-inner-surface-color:     $w2-white;
$footer-surface-color:          $w2-black;
$footer-text-color:             $w2-primary-50;
$footer-border-color:           $footer-text-color;
$footer-display-text:           $w2-ff-fat;
$footer-display-text-color:     $w2-primary;
$cs-display-block-border:       2px solid $footer-display-text-color;
$cs-err-surface-color:          $error-red;
$cs-err-text-color:             $w2-white;

:host {
    display: grid;
}

.trsury-mngr {
    background-color: $trsry-surface-color;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    position: relative;
    width: 100%;

    &__content {
        justify-content: space-between; 
        gap: 1em;
        height: 100%; 
        max-width: $device-max-width;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding: 1em 0;
    }

    &__content-inner {
        @include make-wd-inner-container;
        background-color: $trsry-inner-surface-color;
        min-width: 100%;
        min-height: 100%;
        max-height: $screen-max-height;
    }

    // .wd-title {
    //     @include set-font-family();
    //     @include set-color($w2-primary);
    //     margin-bottom: 0;
    // }
    
    .common-button + .common-button {
        margin-left: 1em;
    }
}



.location-cards {
    overflow: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    gap: 1vw;
    justify-items: start ;
}