//Akgupta: List of variables used in the project
$font-family-lato:			myLato;
$font-family-material:		myIcons;
$font-family-sans-serif: 	$font-family-lato;
$font-base-size:			16px;
$font-base-light:			500;
$font-base-weight:			600;
$font-base-bold:			800;
$base-font-size:			$font-base-size;
$base-font-weight:			$font-base-weight;

$font-h1-size:                			$font-base-size * 2.5; //40px~3.82vmin
$font-h2-size:                			$font-base-size * 2; //32px~3.056vmin
$font-h3-size:                			$font-base-size * 1.75; //28px~2.674vmin
$font-h4-size:                			$font-base-size * 1.5; //24px~2.292vmin
$font-h5-size:                			$font-base-size * 1.25; //20px~1.91vmin
$font-h6-size:                			$font-base-size; //~16px in 1440x900

$font-display1:               			$font-base-size * 2.625; //42px~4.011vmin
$font-display2:               			$font-base-size * 2.25; //36px~3.438vmin
$font-display3:               			$font-base-size * 3.25; //52px~


$border-radius:			4px;
$border-radius1:		$border-radius;
$border-radius2:		$border-radius * 2;
$border-radius3:		$border-radius * 3;
$border-radius4:		$border-radius * 4;
$border-radius5:		$border-radius * 5;

//Declaring height of the Top nav bar.
//Pagination-container's height is excluded here and implements at run-time.
$top-nav__height: 						50px;
$sub-nav__height: 						50px;

$table-header__title-row__min-height: 	60px;
$filters-opened__row__height: 			80px;
$search-form__top-margin: 				24px;

//Calculate the default inner-height by excluding the fixed heights
//of: Top-nav, Sub-nav and Table's Title-row heights.
$table-data__container__inner-height:
		$top-nav__height +
		$sub-nav__height +
		$table-header__title-row__min-height;



//Declaring thickness of the breadcrumb-arrow.
$breadcrumb-arrow-thickness: 			20px; //

//Note: This variable value needs to be updated in Common-UI.
$container__net-height: 				calc(100vh - 100px);
// $container__net-height__filters-opened: calc(100vh - (210px + #{$filters-row__height * 1.2})); // a factor required to include bottom padding.


////
$breakpoint-md:           				768px;
$breakpoint-lg:           				992px;
$breakpoint-lg2:          				1024px;
$breakpoint-xl:           				1200px;
$breakpoint-sm-height:    				700px;

$breakpoint-xxl-width:    				1368px;
$breakpoint-xxl:          				$breakpoint-xxl-width;
$breakpoint-xxl-height:   				912px;
$breakpoint-height-sm:    				792px;

$breakpoint-xxl2:         				1440px;
$breakpoint-xxl2-width:   				1440px;
$breakpoint-xxl2-height:  				900px;
$breakpoint-xxxl:         				1920px;//1924px;

$breakpoint-dd:          			 	800px;

////Height of top-nav
$tbl--top-nav--height: 					64px;

////
$tbl-font-map:(
		'family': $font-family-lato,
		'size': 24px,
		'weight': 600,
);

////z-indexing
$z-footer: 100;

// w2 font styles
$w2-lato-family: myLato;
$w2-oswald-family: OswaldHeadline;
$w2-fs-default: 1rem;
$w2-fw-normal: 500;
$w2-fw-thin: 400;
$w2-ff-default: $w2-lato-family;
$w2-fw-bold: $font-base-weight;

$w2-fs-body1: $w2-fs-default;
$w2-fs-body2: $w2-fs-default * 0.875;
$w2-fs-body3: $w2-fs-default * 0.75;
$w2-fs-overline: $w2-fs-default * 0.625;

$w2-fs-button: $w2-fs-default * 0.9375;
$w2-fs-button-lg: $w2-fs-default * 1.1875;

$w2-ff-headline: $w2-oswald-family;
$w2-fs-headline1: $w2-fs-default * 1.9375;
$w2-fs-headline2: $w2-fs-default * 1.5625;
$w2-fs-headline3: $w2-fs-default * 1.375;
$w2-fs-headline4: $w2-fs-default * 1.125;
$w2-fs-headline5: $w2-fs-default * 1;
$w2-fs-headline6: $w2-fs-default * 0.875;

$w2-ff-subheading: $w2-ff-default;
$w2-fs-title1: $w2-fs-default * 1.5;
$w2-fs-title2: $w2-fs-default * 1.1875;

$w2-fs-subtitle1: $w2-fs-default * 1.25;
$w2-fs-subtitle2: $w2-fs-default * 1.125;
$w2-fs-subtitle3: $w2-fs-default;
$w2-fs-subtitle4: $w2-fs-default * 0.8125;

$w2-ff-fat: "Arial Black", sans-serif;
$w2-fs-fat: $w2-fs-default;
$w2-dd-font: dealer-standard-font;
$w2-dd-msg-font: message-window-font;
$w2-dd-dealer-font: dealer-font;
