table {
    width: 100%;
}

.table-wrapper {
    padding: 1em;
}

td[contenteditable]{
    position: relative;
}

.buttons-wrapper {
    display: inline-flex;
    position: absolute;
    right: 0;
    bottom: -86%;
    z-index: 1;

    .mat-button {
        background-color: white;
        padding: 0;
        border: 1px solid silver;
        margin: 0;
        min-width: 40px;
    }
    .mat-button + .mat-button {
        margin-left: 2px;
    }
}


.demo-row-is-clicked {
    font-weight: bold;
}

tr.demo-row-is-clicked .buttons-wrapper {
    display: inline-flex;
}