<div class="table-wrapper">
    <table mat-table [dataSource]="wdDataArray" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Site Column -->
        <ng-container matColumnDef="site" (click)="$event.stopImmediatePropagation();">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Site </th>
            <td mat-cell *matCellDef="let element" contentEditable (click)="onEdit($event, element)" (blur)="onCellBlur()"> 
                <span>{{element.site}}</span>
                <div class="buttons-wrapper mat-elevation-z4" *ngIf="isCellEditable && (cellIdx === element)">
                    <button mat-button (click)="onSubmit()">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-button (click)="onDismiss()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <!-- Users Column -->
        <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Users </th>
            <td mat-cell *matCellDef="let element"> {{element.users}} </td>
        </ng-container>

        <!-- Created On Column -->
        <ng-container matColumnDef="createdon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
            <td mat-cell *matCellDef="let element"> {{element.createdon}} </td>
        </ng-container>

        <!-- Created By Column -->
        <ng-container matColumnDef="createdby">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
            <td mat-cell *matCellDef="let element"> {{element.createdby}} </td>
        </ng-container>

        <!-- Modified On Column -->
        <ng-container matColumnDef="modifiedon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified On </th>
            <td mat-cell *matCellDef="let element"> {{element.modifiedon}} </td>
        </ng-container>

        <!-- Modified By Column -->
        <ng-container matColumnDef="modifiedby">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified By </th>
            <td mat-cell *matCellDef="let element"> {{element.modifiedby}} </td>
        </ng-container>

        <ng-container matColumnDef="expandicon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button>
                    <mat-icon>arrow_right</mat-icon>
                </button></td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"></tr>
    </table>


</div>


<div>

</div>