// *******************************************************************//
// Baccarat spot refers to the table-antenna;
// Antenna are categorised as Main-bet and Side-bet antenna;
// Each spot has 3 states - tapped, mapped and disabled (or unused);
// *******************************************************************//
@mixin baccarat-spot {
  .spot {
    background-color: $w2-white;
    border: 2px solid $black;
    color: $black;
    font-size: 1.2em;
    
    &.tapped {
      opacity: .65;
      border-color: $w-primary;
    }
  
    &.mapped {
      background-color: $w-primary;
      border-color: $w2-white;
    }

    &--main-bet {
      width: 5em;
      min-height: 3em;
      border-radius: 2em;
      justify-self: center;
    }

    &--side-bet {
      width: 6.5em;
      height: 2.5em;
      border-radius: 0.5em;
      align-self: end;
      justify-self: center;
    }
  }

  .dd-position {
    min-width: 256px;
    min-height: 48px;
    border-radius: 1in 1in 0 0;
    background-color: $black-alpha85;
    background-color: #d4ccc4;
    color: #808080;
    border-bottom: 0;
    align-self: end;
    font-size: 1.3em;
    margin-bottom: -.75em;
    grid-row: 3/-1;
    grid-column: 3/8;
  }
}

// *******************************************************************//
// Positioning of 6 Baccarat spots on the grid;
// Note: 'Banker' position not needed;
// *******************************************************************//
@mixin baccarat-spots-placements {
  .spot {
    &:first-child {
      grid-column: 1/-1;
      grid-row: 1/2;
    }
  
    &:nth-child(2):nth-last-child(5) {
      grid-column: 1/3;
      grid-row: 3/4;
    }
  
    &:nth-child(3):nth-last-child(4) {
      grid-column: 3/5;
      grid-row: 2/3;
    }
  
    &:nth-child(4):nth-last-child(3) {
      grid-column: 6/8;
      grid-row: 2/3;
    }
  
    &:nth-child(5):nth-last-child(2) {
      grid-column: 8/-1;
      grid-row: 3/4;
    }
  }
}



.table-antenna__grid-baccarat {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-height: 40vh;

  @include baccarat-spot;
  @include baccarat-spots-placements;

  // .spot:nth-child(2) {
  //   display: none;;
  // }
}

.type-2 .table-antenna__grid-baccarat {
  grid-template-rows: repeat(4, 1fr); 

   .spot {
    &:nth-child(2):nth-last-child(6) {
      grid-column: 1/-1;
      grid-row: 2/3;
    }
  
    &:nth-child(3):nth-last-child(5) {
      grid-column: 1/3;
      grid-row: 4/5;
    }
  
    &:nth-child(4):nth-last-child(4) {
      grid-column: 3/5;
      grid-row: 3/4;
    }
  
    &:nth-child(5):nth-last-child(3) {
      grid-column: 6/8;
      grid-row: 3/4;
    }

    &:nth-child(6):nth-last-child(2) {
      grid-column: 8/-1;
      grid-row: 4/5;
    }
  }
}