%grid-spacer {
  width: 1rem;
  height: 1rem;
  display: inline-flex;
}

.grid-spacer {
  @extend %grid-spacer;

  &--1 {
    grid-column: 8/9;
    grid-row: 1/2;
  }

  &--2 {
    grid-column: 8/9;
    grid-row: 7/8;
  }

  &--3 {
    grid-column: 8/9;
    grid-row: 13/14;
  }  
  
  &--4 {
    grid-column: 5/6;
    grid-row: 13/14;
  }  

  &--5 {
    grid-column: 11/12;
    grid-row: 13/14;
  }  
}