@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;
@use '../../styles/button' as button;
@use '../../styles/icons' as icons;
@use '../../styles/common' as common;

$wd-btn-text-color:             vars.$w2-primary;
$wd-btn-disabled-text-color:    rgba(255,255,255,.65);
$wd-nav-surface-color:          var(--black);
$wd-btn-text-rev-color:         vars.$w2-white;
$menu-green:                vars.$green;
$menu-red-bright:           vars.$red-bright;
$menu-icon-open-color:      vars.$dark-green;
$menu-icon-closed-color:    vars.$dark-red;
$menu-icon-open-border:     2px solid $menu-icon-open-color;
$menu-icon-closed-border:   2px solid $menu-icon-closed-color;

:host {
  width: 100%;
  height: 50px;
  display: block;
}

.top-nav {
  &__container {
    margin: 0;
    padding: 0;
    background-color: $wd-nav-surface-color;
    height: 100%;
    overflow: hidden;
    padding: 0 1em;
    @include mixins.set-zindex(200);
  }
  
  &__row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    justify-content: space-between;
    padding: 0;

    > section {
      flex: 1;
    }
  }
}


.section-top-nav {
  white-space: nowrap;
}

.brand-logo {
  display: inline-flex;

  &__img {
    width: 54px;
    height: 50px;
    aspect-ratio: attr(width)/attr(height);
  }
}

.app-brand,
.app-menus,
.app-others {
  display: inline-flex;
  align-items: center;
}

.app-menus {
  justify-content: center;

  .mat-button,
  .mat-icon-button {
    @include mixins.set-font-family();
    @include mixins.include-font-style(1.25rem, 600, 1.3);
    color: $wd-btn-text-color;
    height: 100%;
  }
}

.app-others {
  justify-content: flex-end;

  &__btn {
    @include mixins.set-font-family();
    @include mixins.include-font-style(1rem, 500, 1.3);
    color: $wd-btn-text-color;
    height: 100%;
    padding: 0 .5em;

    &--disabled.mat-button.mat-button-disabled,
    &--disabled.mat-button.mat-button-disabled.mat-button-disabled {
      color: $wd-btn-disabled-text-color;
    }
  }
}

.w-refresh {
  flex: 0;
  margin-right: -1em;

  small {
    @include mixins.include-font-style(1.04em, 600, 1);
    color: $wd-btn-text-rev-color;
    transform: scale(.9);
    display: inline-block;
    transform-origin: top;

    @include mixins.respond-to(ipad){
      font-size: 0.98em;
    }
  }
}


.cw-btn-menu {
  font-size: 1rem;
  color: $wd-btn-text-color;
}

@mixin set-app-status() {
  &--opened {
      border: $menu-icon-open-border;
      background: radial-gradient(ellipse at top, #e6fbcb 0%, $menu-green 60%, #3ba211 100%);
  }
  &--closed {
      background: radial-gradient(ellipse at top, #ffffff 0%, $menu-red-bright 100%);
      border: $menu-icon-closed-border;
  }
}

.app-status-icon {
  @include set-app-status;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

::ng-deep .cw-btn-menu-list.mat-menu-panel,
::ng-deep .cw-menu.mat-menu-panel {
  button.mat-menu-item {
      @include mixins.set-font-family();
      @include mixins.include-font-style(1rem, 600, 1.3);
  }

  button.mat-menu-item:not([disabled]){
      color: $wd-btn-text-color;

      .mat-icon,
      .mat-menu-submenu-icon {
          color: currentColor;
      }
  }
}