<nav class="top-nav__container" role="heading" aria-label="top-nav">
  <div class="top-nav__row">
    <section class="section-top-nav app-brand">
      <div class="brand-logo" routerLink="/dashboard" style="cursor: pointer">
        <img class="brand-logo__img" src="./assets/images/logo-test.png" />
      </div>
      <div class="app-breadcrumb__wrapper">
        <!-- <app-breadcrumb [appTitle]="'casino-manager'"></app-breadcrumb> -->
      </div>
    </section>

    <ng-container *ngIf="appName == 'cashWin'">
      <section class="section-top-nav app-menus 1" >
        <button mat-button [matMenuTriggerFor]="cashierWindowMenu">
          <mat-icon>view_list</mat-icon>
          <span>{{appTitle}}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #cashierWindowMenu="matMenu" class="cw-menu" xPosition="before">
          <button mat-menu-item>Change Roll Time</button>
          <button mat-menu-item>Player Search</button>
          <mat-divider></mat-divider>
          <button mat-menu-item>Chinese</button>
        </mat-menu>
  
        <button mat-icon-button [matMenuTriggerFor]="cashierWindowIconMenu" matTooltip="Opened">
          <mat-icon class="app-status-icon" [ngClass]="{'app-status-icon--opened': isAppOpened}"></mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #cashierWindowIconMenu="matMenu" class="cw-menu">
          <button mat-menu-item *ngIf="isAppOpened">
            <mat-icon class="app-status-icon app-status-icon--closed"></mat-icon>
              <span>Close</span>
          </button>
          <button mat-menu-item *ngIf="!isAppOpened">
            <mat-icon class="app-status-icon app-status-icon--opened"></mat-icon>
              <span>Open</span>
          </button>
        </mat-menu>
      </section>

      <section class="section-top-nav app-others">
        <button mat-button class="app-others__btn" aria-label="Gaming Day" 
          [matMenuTriggerFor]="gamingday">
          <mat-icon>today</mat-icon>
          <small *ngIf="calendarDate"> {{calendarDate | date: 'dd-MMM'}}</small>
          <span>{{'25-Jan'}}</span>
          <mat-icon class="downarrow-icon">arrow_drop_down</mat-icon>
        </button>
  
        <mat-menu class="cw-menu" #gamingday="matMenu" [overlapTrigger]="false">
          <button mat-menu-item role="menuitem"
            *ngFor="let gDay of gamingDaysArr; let i = index"
            (click)="setCalendarGamingDay(i, gDay)">
            <ng-container *ngIf="!calendarDate">
              <span [ngClass]="{'calender_tick': i==0}"></span>
              <span style="padding-left: 1em">{{gDay | date: 'dd-MMM'}}</span>
            </ng-container>
          </button>
        </mat-menu>
      </section>
    </ng-container>

  
    <ng-container *ngIf="appName !== 'cashWin'">
      <section class="section-top-nav app-menus 2">
        <button mat-button>
          <mat-icon>view_list</mat-icon>
          <span>{{appTitle}}</span>
        </button>
      </section>
      <section class="section-top-nav app-others">
        <button mat-button class="app-others__btn app-others__btn--disabled" disabled aria-label="Gaming Day">
          <small>{{'Gaming Day'}}</small>
          <div>{{'09-Feb'}}</div>
        </button>
        
        <button mat-button class="app-others__btn" aria-label="Roll Time" 
          [matMenuTriggerFor]="rolltime">
          <mat-icon>today</mat-icon>
          <small *ngIf="calendarDate"> {{calendarDate | date: 'dd-MMM'}}</small>
          <span>{{'09-Feb'}}</span>
          <mat-icon class="downarrow-icon">arrow_drop_down</mat-icon>
        </button>
  
        <mat-menu class="cw-menu" #rolltime="matMenu" [overlapTrigger]="false">
          <button mat-menu-item role="menuitem"
            *ngFor="let gDay of gamingDaysArr; let i = index"
            (click)="setCalendarGamingDay(i, gDay)">
            <ng-container *ngIf="!calendarDate">
              <span [ngClass]="{'calender_tick': i==0}"></span>
              <span style="padding-left: 1em">{{gDay | date: 'dd-MMM'}}</span>
            </ng-container>
          </button>
        </mat-menu>

        <button mat-button class="app-others__btn" aria-label="Logged-in User" 
          [matMenuTriggerFor]="loggedinuser">
          <mat-icon>person</mat-icon>
          <small [ngStyle]="{'font-size': getFontSize()}">{{employeeNumber}}</small>
          <mat-icon class="downarrow-icon">arrow_drop_down</mat-icon>
        </button>
  
        <mat-menu class="cw-menu" #loggedinuser="matMenu" [overlapTrigger]="false">
          <ng-container *ngFor="let detail of userDetails; let idx = index">
            <button mat-menu-item role="menuitem">
              <span>{{detail}}</span>
            </button>
            <mat-divider *ngIf="idx == 0"></mat-divider>
          </ng-container>
        </mat-menu>

        <button mat-button class="app-others__btn w-refresh" matTooltip="{{'Refresh'}}" aria-label="Refresh Button">
          <mat-icon>autorenew</mat-icon><br>
          <small *ngIf="lastRefresh">{{'13:27'}}</small>
        </button>
      </section>
    </ng-container>

    
  </div>
</nav>

