<mat-form-field class="wd-form-field">
    <mat-label>Favorite food</mat-label>

    <mat-select panelClass="wd-form-field__select">
        <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>