@import '../../styles/variables', '../../styles/mixins' ;

.wd-form-field {
    @include set-font-family();
    @include include-font-style(1rem, 500, 1.3);
    margin: 0;
    padding: 0;

    &.mat-focused ::ng-deep {
        .mat-form-field-label {
            color: $w2-accent; // due to legibility issues, color has been changed.
        }

        .mat-form-field-ripple {
            background-color: $w2-accent; // due to legibility issues, color has been changed.
        }
    }
  }

  ::ng-deep .wd-form-field__select {
    .mat-option.mat-selected.mat-active:not(.mat-option-disabled) {
        color: $w2-accent; // due to legibility issues, color has been changed.
    }
  }