// Max screen width: 1024px
// Max screen height: 600px

.buyins-new {
  background-color: $blue-navy;
  position: relative;
  height: 100dvh;
  max-height: 600px;
  width: 1024px;

  // Container for - Header | Main | Footer
  &__container {
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }

  // Section: Main for Cash and CPV
  .main-contents {
    position: relative;
    overflow: hidden;
    justify-self: stretch;

    .main-content {
      grid-row: 2/-1;
      grid-column: 1/-1;
      position: relative;
      overflow: hidden;
      grid-template-rows: auto 1fr auto 11.5rem;
      grid-template-columns: 1fr auto;
    }
  }

  // Styles for Buy In type: CASH
  .buyin-cash .main-content {
    // grid-row: 2/-1;
    // grid-column: 1/-1;
    @include buyin-type('cash');
  }

  // Styles for Buy In type: CPV
  .buyin-cpv .main-content {
    // grid-row: 2/-1;
    // grid-column: 1/-1;
    @include buyin-type('cpv');
  }
}
