// Buy In styles for Roulette table
// Define tab name to relate its respective mixin;
$activetabname: 'cash';
$tabletypename: 'roulette';
// Do not change above;

// Container for Roulette Buy Ins
.buyins-new--roulette.buyins-new {
  @include roulette-gutter;
  // Section: Main for Cash and CPV
  // Styles for Buy In type: Roulette-CASH
  .main-contents {
    grid-template-rows: 64px repeat(5, 1fr) auto;
    grid-template-columns: 64px repeat(5, 1fr) 64px;

    .main-content {
      grid-column: 2/7;
      grid-template-rows: 1fr 12rem auto;
      grid-template-columns: 1fr auto;
    }

    &.buyin-cash {
      .main-content {
        grid-row: 2/7;
        // grid-column: 2/7;
        // grid-template-rows: 1fr 12rem auto;
        // grid-template-columns: 1fr auto;
        @include buyin-type('roulette-cash');
      }

      .footer-buttons {
        grid-row: 7/-1; 
        grid-column: 2/7;
      }
    } 

    &.buyin-cpv {
      .main-content {
        grid-row: 2/7;
        grid-template-rows: auto auto 10rem;
        // grid-column: 2/7;
        // grid-template-rows: 1fr 12rem auto;
        // grid-template-columns: 1fr auto;
        @include buyin-type('roulette-cpv');

        .form-control-ib {
          max-width: 95%;
        }
      }

      .footer-buttons {
        grid-row: 7/-1; 
        grid-column: 2/7;
      }
    }

    .page-controls {
      .button-confirm {
        min-width: 6rem;
        width: 100%;
      }
    }
  }
  
  .roulette-gutters,
  .roulette-seats {
    width: 100%;
    height: 100%;
    grid-row: 1/-1;
    grid-column: 1/-1;
  }

  .roulette-gutters {
    pointer-events: none;
  }

  .roulette-gutters {
    grid-template-rows: 64px 1fr;
    grid-template-columns: 64px 1fr 64px;
  }
  
  .roulette-seats {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 64px repeat(5, 1fr) 64px;
  }

  .main-content,
  .footer-buttons {
    z-index: 20;
  }

  .seats {
    z-index: 10;
  }

  .numpad-panel {
    z-index: 40;
    bottom: -1.5rem;
  }
}