$blue-navy: #000D55;


$button-blue-gradient: linear-gradient(180deg, #1EA3FF 0%, #2A74B5 100%);
$button-blue-bdr: 2px solid #1EA3FF;
$button-blue-bdr-radius: 10px;
$button-blue-ff: HelveticaNeue-CondensedBold, sans-sarif;
$button-blue-fs: 28px;
$button-blue-text-color: #FFFFFF;
$button-blue-disabled-text-color: #a6a6a6;
$button-blue-width: 98px;
$button-blue-height: 56px;
$button-blue-padding: 0 1rem;


$input-box-bgcolor: white;
$input-box-bdr-radius: 10px;
$input-box-ff: HelveticaNeue-Bold, sans-sarif;
$input-box-fs: 30px;
$input-box-text-color: #040404;
$input-box-bdr: 3px solid #D7D7D7;
$input-box-height: 56px;
$input-box-focus-bgcolor: #91D3FF;


$numpad-panel-width: 440px;
$numpad-panel-height: 252px;
$numpad-bgcolor: #ffffff;
$numpad-bdr-radius: 10px;
$numpad-bdr:3px solid #1EA3FF;
$numpad-transition: right 350ms ease-in-out;
$numpad-button-gradient: linear-gradient(180deg, #EEEEEE 0%, #D1D1D1 100%);
$numpad-button-bdr: 3px solid #CCCCCC;
$numpad-button-bdr-radius: 4px;
$numpad-button-ff: Arial-Black, sans-sarif;
$numpad-button-fs: 32px;
$numpad-button-text-color: #171717;