%grid-spacer {
  width: 1rem;
  height: 1rem;
  display: inline-flex;
}

.table-antenna {
  background-color: $lighter-gold;
  border: 2px solid $w-primary;
  border-radius: .5rem;

  &__container {
    margin-left: 3rem;
  }

  &__grid-bj {
    display: grid;

    .grid-spacer {
      @extend %grid-spacer;
    
      &--1 {
        grid-column: 3/4;
        grid-row: 1/-1;
      }
    
      &--2 {
        grid-column: 8/9;
        grid-row: 1/-1;
      }
    
      &--3 {
        grid-column: 1/2;
        grid-row: 3/4;
      }
    
      &--4 {
        grid-column: 1/2;
        grid-row: 6/7;
      }
    
      &--5 {
        grid-column: 10/11;
        grid-row: 6/7;
      }
    
      &--6 {
        grid-column: 11/12;
        grid-row: 6/7;
      }
    }

    .spot {
      background-color: $w2-white;
      border: 2px solid $black;
      color: $black;
      font-size: 1.2em;
      border-radius: 50%;

      &.tapped {
        opacity: .65;
        border-color: $w-primary;
      }
    
      &.mapped {
        background-color: $w-primary;
        border-color: $w2-white;
      }

      &--main-bet {
        width: 8em;
        height: auto;
        aspect-ratio: 1;
      }

      &--side-bet {
        width: 4em;
        height: auto;
        aspect-ratio: 1;
      }


      &:nth-of-type(1) {
        grid-column: 4/9;
        grid-row: 1/6;
      }
    
      &:nth-of-type(2) {
        grid-column: 10/16;
        grid-row: 1/6;
      }

      &:nth-of-type(3) {
        grid-column: 1/3;
        grid-row: 7/9;
      }
    
      &:nth-of-type(4) {
        grid-column: 6/8;
        grid-row: 7/9;
      }
    
      &:nth-of-type(5) {
        grid-column: 9/11;
        grid-row: 7/9;
      }
    
      &:nth-of-type(6) {
        grid-column: 12/14;
        grid-row: 7/9;
      }
    
      &:nth-of-type(7) {
        grid-column: 1/3;
        grid-row: 4/6;
      }
    
      &:nth-of-type(8) {
        grid-column: 1/3;
        grid-row: 1/3;
      }
    }

    // .main-bet {
      // border-radius: 50%;
      // background-color: $w2-white;
      // border: 2px solid $black;
      // color: $black;
     
      // font-size: 1.2em;
    
      // &.tapped {
      //   opacity: .65;
      //   border-color: $w-primary;
      // }
    
      // &.mapped {
      //   background-color: $w-primary;
      //   border-color: $w2-white;
      // }
    
      // &:nth-of-type(1) {
      //   grid-column: 4/9;
      //   grid-row: 1/6;
      // }
    
      // &:nth-of-type(2) {
      //   grid-column: 10/16;
      //   grid-row: 1/6;
      // }
    // }


    .side-bet-spot {
      // border-radius: 50%;
      // background-color: $w2-white;
      // color: $black;
      // border: 2px solid $black;
      // width: 4rem;
      // height: auto;
      // aspect-ratio: 1;
      // font-size: 1.2em;
    
      // &.tapped {
      //   opacity: .65;
      //   border-color: $w-primary;
      // }
    
      // &.mapped {
      //   background-color: $w-primary;
      //   border-color: $w2-white;
      // }
    
      // &:nth-of-type(3) {
      //   grid-column: 1/3;
      //   grid-row: 7/9;
      // }
    
      // &:nth-of-type(4) {
      //   grid-column: 6/8;
      //   grid-row: 7/9;
      // }
    
      // &:nth-of-type(5) {
      //   grid-column: 9/11;
      //   grid-row: 7/9;
      // }
    
      // &:nth-of-type(6) {
      //   grid-column: 12/14;
      //   grid-row: 7/9;
      // }
    
      // &:nth-of-type(7) {
      //   grid-column: 1/3;
      //   grid-row: 4/6;
      // }
    
      // &:nth-of-type(8) {
      //   grid-column: 1/3;
      //   grid-row: 1/3;
      // }
    }
  }
}
