<div class="wd-flex" style="flex-direction: column;">
    <h2>Material Icons
        <span style="margin-left: 10em"><small><mat-checkbox (change)="onChboxChange($event)">Primary</mat-checkbox></small></span>
    </h2>
    <section style="display: inline-block">
        
    </section>
    <mat-divider></mat-divider>
    <div class="wd-row wd-icons" [ngClass]="{'wd-icons--primary': isIconsPrimary}">
        <app-wd-icon [name]="'arrow_back'"></app-wd-icon>
        <app-wd-icon [name]="'arrow_forward'"></app-wd-icon>
        <app-wd-icon [name]="'arrow_left'"></app-wd-icon>
        <app-wd-icon [name]="'arrow_right'"></app-wd-icon>
        <app-wd-icon [name]="'chevron_left'"></app-wd-icon>
        <app-wd-icon [name]="'chevron_right'"></app-wd-icon>
        <app-wd-icon [name]="'last_page'"></app-wd-icon>
        <app-wd-icon [name]="'open_in_new'"></app-wd-icon>
        <app-wd-icon [name]="'note'"></app-wd-icon>
        <app-wd-icon [name]="'assignment_turned_in'"></app-wd-icon>
        <app-wd-icon [name]="'wrap_text'"></app-wd-icon>
        <app-wd-icon [name]="'home'"></app-wd-icon>
        <app-wd-icon [name]="'search'"></app-wd-icon>
        <app-wd-icon [name]="'account_circle'"></app-wd-icon>
        <app-wd-icon [name]="'settings'"></app-wd-icon>
        <app-wd-icon [name]="'schedule'"></app-wd-icon>
        <app-wd-icon [name]="'thumb_up'"></app-wd-icon>
        <app-wd-icon [name]="'thumb_down'"></app-wd-icon>
        <app-wd-icon [name]="'view_list'"></app-wd-icon>
        <app-wd-icon [name]="'lock'"></app-wd-icon>
        <app-wd-icon [name]="'lock_open'"></app-wd-icon>
        <app-wd-icon [name]="'autorenew'"></app-wd-icon>
        <app-wd-icon [name]="'update'"></app-wd-icon>
        <app-wd-icon [name]="'get_app'"></app-wd-icon>
        <app-wd-icon [name]="'import_export'"></app-wd-icon>
        <app-wd-icon [name]="'close'"></app-wd-icon>
        <app-wd-icon [name]="'cancel'"></app-wd-icon>
        <app-wd-icon [name]="'check'"></app-wd-icon>
        <app-wd-icon [name]="'add'"></app-wd-icon>
        <app-wd-icon [name]="'notifications'"></app-wd-icon>
        <app-wd-icon [name]="'notifications_active'"></app-wd-icon>
        <app-wd-icon [name]="'notifications_off'"></app-wd-icon>
        <app-wd-icon [name]="'notifications_paused'"></app-wd-icon>
        <app-wd-icon [name]="'edit'"></app-wd-icon>
        <app-wd-icon [name]="'check_circle_outline'"></app-wd-icon>
        <app-wd-icon [name]="'fiber_manual_record'"></app-wd-icon>
        <app-wd-icon [name]="'chat'"></app-wd-icon>
        <app-wd-icon [name]="'message'"></app-wd-icon>
        <app-wd-icon [name]="'wifi'"></app-wd-icon>
        <app-wd-icon [name]="'wifi_off'"></app-wd-icon>
        <app-wd-icon [name]="'wifi_password'"></app-wd-icon>
        <app-wd-icon [name]="'grade'"></app-wd-icon>
        <app-wd-icon [name]="'info'"></app-wd-icon>
        <app-wd-icon [name]="'language'"></app-wd-icon>
        <app-wd-icon [name]="'print'"></app-wd-icon>
        <app-wd-icon [name]="'translate'"></app-wd-icon>
        <app-wd-icon [name]="'visibility'"></app-wd-icon>
        <app-wd-icon [name]="'watch_later'"></app-wd-icon>
        <app-wd-icon [name]="'zoom_in'"></app-wd-icon>
        <app-wd-icon [name]="'zoom_out'"></app-wd-icon>
        <app-wd-icon [name]="'backspace'"></app-wd-icon>
        <app-wd-icon [name]="'content_copy'"></app-wd-icon>
        <app-wd-icon [name]="'content_paste'"></app-wd-icon>
        <app-wd-icon [name]="'link'"></app-wd-icon>
        <app-wd-icon [name]="'wb_sunny'"></app-wd-icon>
        <app-wd-icon [name]="'save'"></app-wd-icon>
        <app-wd-icon [name]="'timer'"></app-wd-icon>
        <app-wd-icon [name]="'zoom_out_map'"></app-wd-icon>
        <app-wd-icon [name]="'map'"></app-wd-icon>
        <app-wd-icon [name]="'more_vert'"></app-wd-icon>
        <app-wd-icon [name]="'more_horiz'"></app-wd-icon>
        <app-wd-icon [name]="'menu'"></app-wd-icon>
    </div>
    
    

</div>
