.bets-to-be-mapped {
  background-color: $white; 
  border: 1px solid $w-primary-dark;
  border-radius: .5rem;
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    top: 34%;
    right: -70px;
    border: 50px solid transparent;
    border-left: 20px solid rgba(187,145,86,.5);
    height: 0;
  }

  .btn-bet-type {
    background-color: $w2-white;
    font-size: 1.2em;
    padding: .1em 1em;

    &[data-type = 'dirty'] {
      opacity: 1;

      .label {
        opacity: 1;
      }
    }

    &.tapped,
    &[data-type = 'tapped'] {
      opacity: .65;
    }

    &.mapped,
    &[data-type = 'mapped'] {
      background-color: $lighter-gold;

      .label {
        background-color: transparent;
        border-radius: 0;
        // font-style: italic;
        opacity: .65;
        border: 0;
        color: $w-primary
      }
    }

    &.mat-button-disabled,
    &[data-type = 'empty'] {
      background-color: #eee;
      
      .label {
        border-color: #ccc;
        background-color: #ccc;
        color: $black;
        opacity: .5
      }
    }

    .label {
      border-radius: 50%;
      border: 1px solid $w-primary;
      background-color: $lighter-gold;
      margin: 0 auto;
      padding: 0 .5em;
    }

    + .btn-bet-type {
      margin-top: .2rem;
    }
  }
}