@mixin section-antenna-mapping {
  .antenna-mapping {
    &__container {
      border: 1px solid $w-primary;
      border-radius: .5rem;
      margin: 0 auto;
      width: 100%;
    }
  
    &__header {
      height: 2rem;
      font: 20px/1.5 bold Lato, sans-serif;
      text-align: center;
      background-color: hsl(0deg 0% 90%);
      color: $black;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }
  
    &__body {
      overflow: auto;
  
      .col__left {
        flex: 1;
      }
  
      .col__right {
        flex: 2;
      }
    }
  }
}

@include section-antenna-mapping;