<!-- Buyins: Generic -->
<div class="wd-grid buyins-new buyins-new--roulette">
  <div class="wd-grid buyins-new__container">
    <!-- page-header -->
    <header class="wd-grid page-header">
      <div class="wd-flex wd-text-center h1">
        <span>Buy In</span>
      </div>
      <!-- -->
      <div class="wd-flex wd-flex--align-items-center padx-3 icons">
        <div class="icon icon-cms-down"></div>
        <div class="space-filler"></div>
        <button class="button-close">
          <i class="material-icons">close</i>
        </button>
      </div>
    </header>

    <!-- Buy In type === 'CASH' -->
    <main class="wd-grid main-contents pad-3" [ngClass]="{'buyin-cash': $buyinIndx == 0, 'buyin-cpv': $buyinIndx == 1}">

      <ng-container *ngIf="tableTypeRoulette">
        <div class="wd-grid roulette-gutters">
          <div class="roulette-gutter roulette-gutter--col1">
            <div class="positions">
              <div class="position">
  
              </div>
            </div>
          </div>
          <div class="roulette-gutter roulette-gutter--col2">
            <div class="positions">
              <div class="position">
  
              </div>
            </div>
          </div>
          <div class="roulette-gutter roulette-gutter--col3">
            <div class="positions">
              <div class="position">
  
              </div>
            </div>
          </div>
  
          <div class="roulette-gutter roulette-gutter--corner roulette-gutter--corner--top-left">
            <div class="positions">
              <div class="position">
  
              </div>
            </div>
          </div>
          <div class="roulette-gutter roulette-gutter--corner roulette-gutter--corner--top-right">
            <div class="positions">
              <div class="position">
  
              </div>
            </div>
          </div>
        </div>
      
        <div class="wd-grid roulette-seats">
          <div class="wd-grid roulette-seats__seat-wrapper padx-2" *ngFor="let seat of rouletteSeatsCountArray, index as idx">
            <div class="roulette-seats__seat" [ngClass]="{'active': idx == 2, 'disabled': idx == 6, 'colored': idx == 8}"></div>
          </div>
        </div>
      </ng-container>

      <!-- Show when Roulette CASH -->
      <ng-container *ngIf="$buyinIndx == 0">
        <section class="wd-grid main-content pad-3">
          <section class="wd-flex seats padb-3" *ngIf="!tableTypeRoulette">
            <div class="padx-1 seat__seat-wrapper">
              <button mat-button class="seat" [ngClass]="{'disabled': false}">1</button>
            </div>
            <div class="padx-1 seat__seat-wrapper">
              <button mat-button class="seat" [ngClass]="{'active': true}">2</button>
            </div>
            <div class="padx-1 seat__seat-wrapper">
              <button mat-button class="seat">3</button>
            </div>
            <div class="padx-1 seat__seat-wrapper">
              <button mat-button class="seat">4</button>
            </div>
            <div class="padx-1 seat__seat-wrapper">
              <button mat-button class="seat">5</button>
            </div>
            <div class="padx-1 seat__seat-wrapper">
              <button mat-button class="seat" [ngClass]="{'selected': true}">6</button>
            </div>
            <div class="padx-1 seat__seat-wrapper">
              <button mat-button class="seat">7</button>
            </div>
            <div class="padx-1 seat__seat-wrapper">
              <button mat-button class="seat">8</button>
            </div>
          </section>
          <section class="block-amount">
            <div class="block-amount__display-amount padx-5 padt-1 padb-2 ">
              <!-- Amount block -->
              <span>99,000,000</span>
              <small>(995)</small>
            </div>
          </section>
  
          <!-- Block: Search input box -->
          <div *ngIf="!togglePlayerSearch" class="wd-flex wd-flex--align-items-center block-search" [ngClass]="{'error': false, 'hidden': false}" >
            <!-- Show: Search box, numpad, player-details, CPV forms and so -->
            <form action="" class="wd-flex mrgnl-3">
              <label for="plyr-search"></label>
              <input type="text" name="plyr-search" value="" placeholder="Player search" class="block-search__search-ib padx-3" autofocus>
              <div class="error-msg">
                Player not found
              </div>
              <button mat-button *ngIf="!togglePlayerSearch" class="button-kbd" (click)="toggleKbd($event)" [ngClass]="{'disabled': toggleNumpad}" aria-describedby="Numpad for searching player">
                <svg width="43px" height="36.4px" viewBox="0 0 43 36.4">
                  <defs>
                      <path d="M62,37.8 L62,46.2 L37,46.2 L37,37.8 L62,37.8 Z M35,22.4 L35,30.8 L28,30.8 L28,22.4 L35,22.4 Z M44,22.4 L44,30.8 L37,30.8 L37,22.4 L44,22.4 Z M53,22.4 L53,30.8 L46,30.8 L46,22.4 L53,22.4 Z M62,22.4 L62,30.8 L55,30.8 L55,22.4 L62,22.4 Z M71,22.4 L71,30.8 L64,30.8 L64,22.4 L71,22.4 Z M35,9.8 L35,18.2 L28,18.2 L28,9.8 L35,9.8 Z M44,9.8 L44,18.2 L37,18.2 L37,9.8 L44,9.8 Z M53,9.8 L53,18.2 L46,18.2 L46,9.8 L53,9.8 Z M62,9.8 L62,18.2 L55,18.2 L55,9.8 L62,9.8 Z M71,9.8 L71,18.2 L64,18.2 L64,9.8 L71,9.8 Z" id="path-qi0qwch25z-1"></path>
                  </defs>
                  <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Stickersheet" transform="translate(-666, -345.8)">
                          <g id="Group-5" transform="translate(118, 316)">
                              <g id="button/person" transform="translate(520, 20)">
                                  <mask id="mask-qi0qwch25z-2" fill="white">
                                      <use xlink:href="#path-qi0qwch25z-1"></use>
                                  </mask>
                                  <use id="Shape" fill="#FFFFFF" xlink:href="#path-qi0qwch25z-1"></use>
                              </g>
                          </g>
                      </g>
                  </g>
                </svg>
              </button>
              <button mat-button class="button-search mrgnl-3" (click)="togglePlayerSearch = !togglePlayerSearch">Search</button>
            </form>
            
            
          </div>
  
          <!-- Show Block: Player details and Hide keyboard button -->
          <div *ngIf="togglePlayerSearch" class="wd-flex player-details mrgnl-3" [ngClass]="{'hidden': false}">
            <!-- Player-image -->
            <aside class="player-image__wrapper" (click)="toggleBackdrop = !toggleBackdrop">
              <div class="player-image" [ngClass]="{'dummy': true}">
                <img src="/assets/images/player.png"/>
              </div>
              <div class="wd-flex wd-flex--align-items-center wd-flex--justify-content-center seat-number">
                3
              </div>
            </aside>
            <div class="player padl-4">
              <div class="player-name">
                Equebal, Faizan
              </div>
              <div class="player-id">
                (6090)
              </div>
            </div>
  
          </div>
  
          <div class="wd-flex wd-flex--align-items-center wd-flex--justify-content-end page-controls">
            <!-- Button: Search player -->
            <button mat-button class="button-confirm search-player" [ngClass]="{'hidden': false}" (click)="togglePlayerSearch = !togglePlayerSearch">
              <svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1">
                <defs>
                    <path d="M75.5077625,51.0008364 L76.0194576,51.0039026 L76.0194576,51.0039026 L77.0159884,51.016798 L77.0159884,51.016798 L77.9779592,51.0401897 C83.3340454,51.2053204 87.0978737,51.9484053 90.5,54.5 C92.9444444,56.3333333 95.2488426,58.4467593 97.4131944,60.8402778 L98,61.5 L98,69 L52,69 L52,61.5 C54.3333333,58.8333333 57,56.5 60,54.5 C63.4534884,52.1976744 66.3180097,51.3677664 70.6275548,51.10628 L71.4274844,51.0647993 L71.4274844,51.0647993 L72.2619769,51.0346385 L72.2619769,51.0346385 L73.1337492,51.0145899 C73.2823022,51.0120241 73.4325217,51.0098293 73.5844643,51.0079804 L74.5172501,51.0008364 L74.5172501,51.0008364 L75.5077625,51.0008364 Z M75,23 C81.627417,23 87,28.372583 87,35 C87,41.627417 81.627417,47 75,47 C68.372583,47 63,41.627417 63,35 C63,28.372583 68.372583,23 75,23 Z" id="path-1ae44jj0ty-1"></path>
                </defs>
                <g id="Design-Rd8--&gt;-Rd9-::-CPV" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="4a-buyin-17012023" transform="translate(-414, -290)">
                        <g id="button/person" transform="translate(362, 267)">
                            <mask id="mask-1ae44jj0ty-2" fill="white">
                                <use xlink:href="#path-1ae44jj0ty-1"></use>
                            </mask>
                            <use id="Shape" fill="#ffffff" xlink:href="#path-1ae44jj0ty-1"></use>
                        </g>
                    </g>
                </g>
              </svg>
            </button>
  
  
            <!-- Button: confirm -->
            <button mat-button class="button-confirm mrgnl-3" [ngClass]="{'hidden': false}" (click)="togglePlayerSearch = !togglePlayerSearch">
              <svg width="58.3993464px" height="32.5621778px" viewBox="0 0 58.3993464 32.5621778" version="1.1">
                <defs>
                    <polygon id="tick" points="100.355118 25.5503268 103.855118 31.6125046 57.9557714 58.1125046 45.4557714 36.4618695 51.5179492 32.9618695 60.5179492 48.5503268"></polygon>
                </defs>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="2-buyin-17012023" transform="translate(-879.4558, -378.5503)">
                        <g id="Group" transform="translate(677, 269)">
                            <g id="button/person-copy" transform="translate(157, 84)">
                                <mask id="mask-eonb-8jbqs-2" fill="white">
                                    <use xlink:href="#path-eonb-8jbqs-1"></use>
                                </mask>
                                <use id="mask" fill="#FFFFFF" fill-rule="nonzero" xlink:href="#tick"></use>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </button>
          </div>
        </section>
      </ng-container>

      <!-- Show when Roulette CPV -->
      <ng-container *ngIf="$buyinIndx == 1">
        <main class="wd-grid main-content padx-3 padt-3" [ngClass]="{'slide-out': toggleNumpad}">

          <!-- Amount block: Amount-In/Chips-Out -->
          <section class="wd-grid block-amount amount-in-chips-out" [ngClass]="{'hidden': false, 'matched': false}">
            <div class="wd-flex title">
              <div class="left">Amount In</div>
              <div class="right">Chips Out</div>
            </div>
            
            <div class="wd-flex value">
              <div class="wd-flex left">
                <div class="content">89,000,000</div>
              </div>
              <div class="wd-flex right">
                <div class="content">90,000,000</div>
              </div>
            </div>
          </section>

          <form id='cpv-data-form' action="" class="wd-grid cpv-data-form pad-2">
            <div class="wd-flex form-control-ib" aria-describedby="Form control for Slip ID">
              <label for="slip-id"></label>
              <input type="text" name="slip-id" value="" placeholder="Enter Slip ID" class="block-search__search-ib padx-3" autofocus>
              <div class="error-msg">
                Slip ID incorrect
              </div>
              <button mat-button class="button-kbd" (click)="toggleKbd($event)" [ngClass]="{'disabled': toggleNumpad}" aria-describedby="Numpad for Slip ID">
                <svg width="43px" height="36.4px" viewBox="0 0 43 36.4">
                  <defs>
                      <path d="M62,37.8 L62,46.2 L37,46.2 L37,37.8 L62,37.8 Z M35,22.4 L35,30.8 L28,30.8 L28,22.4 L35,22.4 Z M44,22.4 L44,30.8 L37,30.8 L37,22.4 L44,22.4 Z M53,22.4 L53,30.8 L46,30.8 L46,22.4 L53,22.4 Z M62,22.4 L62,30.8 L55,30.8 L55,22.4 L62,22.4 Z M71,22.4 L71,30.8 L64,30.8 L64,22.4 L71,22.4 Z M35,9.8 L35,18.2 L28,18.2 L28,9.8 L35,9.8 Z M44,9.8 L44,18.2 L37,18.2 L37,9.8 L44,9.8 Z M53,9.8 L53,18.2 L46,18.2 L46,9.8 L53,9.8 Z M62,9.8 L62,18.2 L55,18.2 L55,9.8 L62,9.8 Z M71,9.8 L71,18.2 L64,18.2 L64,9.8 L71,9.8 Z" id="path-qi0qwch25z-1"></path>
                  </defs>
                  <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Stickersheet" transform="translate(-666, -345.8)">
                          <g id="Group-5" transform="translate(118, 316)">
                              <g id="button/person" transform="translate(520, 20)">
                                  <mask id="mask-qi0qwch25z-2" fill="white">
                                      <use xlink:href="#path-qi0qwch25z-1"></use>
                                  </mask>
                                  <use id="Shape" fill="#FFFFFF" xlink:href="#path-qi0qwch25z-1"></use>
                              </g>
                          </g>
                      </g>
                  </g>
                </svg>
              </button>
            </div>
  
            <div class="wd-flex form-control-ib" aria-describedby="Form control for Amount IN">
              <label for="amount-in"></label>
              <input type="text" name="amount-in" value="" placeholder="Enter Amount In" class="block-search__search-ib padx-3" autofocus>
              <div class="error-msg">
                Amount In mismatch
              </div>
              <button mat-button class="button-kbd" (click)="toggleKbd($event)" [ngClass]="{'disabled': toggleNumpad}" aria-describedby="Numpad for Amount IN">
                <svg width="43px" height="36.4px" viewBox="0 0 43 36.4">
                  <defs>
                      <path d="M62,37.8 L62,46.2 L37,46.2 L37,37.8 L62,37.8 Z M35,22.4 L35,30.8 L28,30.8 L28,22.4 L35,22.4 Z M44,22.4 L44,30.8 L37,30.8 L37,22.4 L44,22.4 Z M53,22.4 L53,30.8 L46,30.8 L46,22.4 L53,22.4 Z M62,22.4 L62,30.8 L55,30.8 L55,22.4 L62,22.4 Z M71,22.4 L71,30.8 L64,30.8 L64,22.4 L71,22.4 Z M35,9.8 L35,18.2 L28,18.2 L28,9.8 L35,9.8 Z M44,9.8 L44,18.2 L37,18.2 L37,9.8 L44,9.8 Z M53,9.8 L53,18.2 L46,18.2 L46,9.8 L53,9.8 Z M62,9.8 L62,18.2 L55,18.2 L55,9.8 L62,9.8 Z M71,9.8 L71,18.2 L64,18.2 L64,9.8 L71,9.8 Z" id="path-qi0qwch25z-1"></path>
                  </defs>
                  <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Stickersheet" transform="translate(-666, -345.8)">
                          <g id="Group-5" transform="translate(118, 316)">
                              <g id="button/person" transform="translate(520, 20)">
                                  <mask id="mask-qi0qwch25z-2" fill="white">
                                      <use xlink:href="#path-qi0qwch25z-1"></use>
                                  </mask>
                                  <use id="Shape" fill="#FFFFFF" xlink:href="#path-qi0qwch25z-1"></use>
                              </g>
                          </g>
                      </g>
                  </g>
                </svg>
              </button>
            </div>
          </form>

          <!-- Block: Search input box -->
          <div *ngIf="!togglePlayerSearch" class="wd-flex wd-flex--align-items-center block-search" [ngClass]="{'error': false, 'hidden': false}" >
            <!-- Show: Search box, numpad, player-details, CPV forms and so -->
            <form action="" class="wd-flex mrgnl-3">
              <label for="plyr-search"></label>
              <input type="text" name="plyr-search" value="" placeholder="Player search" class="block-search__search-ib padx-3" autofocus>
              <div class="error-msg">
                Player not found
              </div>

              <button mat-button *ngIf="!togglePlayerSearch" class="button-kbd" (click)="toggleKbd($event)" [ngClass]="{'disabled': toggleNumpad}" aria-describedby="Numpad for searching player">
                <svg width="43px" height="36.4px" viewBox="0 0 43 36.4">
                  <defs>
                      <path d="M62,37.8 L62,46.2 L37,46.2 L37,37.8 L62,37.8 Z M35,22.4 L35,30.8 L28,30.8 L28,22.4 L35,22.4 Z M44,22.4 L44,30.8 L37,30.8 L37,22.4 L44,22.4 Z M53,22.4 L53,30.8 L46,30.8 L46,22.4 L53,22.4 Z M62,22.4 L62,30.8 L55,30.8 L55,22.4 L62,22.4 Z M71,22.4 L71,30.8 L64,30.8 L64,22.4 L71,22.4 Z M35,9.8 L35,18.2 L28,18.2 L28,9.8 L35,9.8 Z M44,9.8 L44,18.2 L37,18.2 L37,9.8 L44,9.8 Z M53,9.8 L53,18.2 L46,18.2 L46,9.8 L53,9.8 Z M62,9.8 L62,18.2 L55,18.2 L55,9.8 L62,9.8 Z M71,9.8 L71,18.2 L64,18.2 L64,9.8 L71,9.8 Z" id="path-qi0qwch25z-1"></path>
                  </defs>
                  <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Stickersheet" transform="translate(-666, -345.8)">
                          <g id="Group-5" transform="translate(118, 316)">
                              <g id="button/person" transform="translate(520, 20)">
                                  <mask id="mask-qi0qwch25z-2" fill="white">
                                      <use xlink:href="#path-qi0qwch25z-1"></use>
                                  </mask>
                                  <use id="Shape" fill="#FFFFFF" xlink:href="#path-qi0qwch25z-1"></use>
                              </g>
                          </g>
                      </g>
                  </g>
                </svg>
              </button>
      
              <button mat-button class="button-search mrgnl-3" (click)="togglePlayerSearch = !togglePlayerSearch">Search</button>
            </form>
          </div>

          <!-- Show Block: Player details and Hide keyboard button -->
          <div *ngIf="togglePlayerSearch" class="wd-flex player-details mrgnl-3" [ngClass]="{'hidden': false}">
            <!-- Player-image -->
            <aside class="player-image__wrapper" (click)="toggleBackdrop = !toggleBackdrop">
              <div class="player-image" [ngClass]="{'dummy': true}">
                <img src="/assets/images/player.png"/>
              </div>
              <div class="wd-flex wd-flex--align-items-center wd-flex--justify-content-center seat-number">
                3
              </div>
            </aside>
            <div class="player padl-4">
              <div class="player-name">
                Equebal, Faizan
              </div>
              <div class="player-id">
                (6090)
              </div>
            </div>
          </div>

          <div class="wd-flex wd-flex--align-items-center wd-flex--justify-content-end page-controls">
            <div *ngIf="true" class="chipset-id">
              Chip Set: HKDNN1
            </div>
            <!-- Button: Search player -->
            <button mat-button class="button-confirm search-player" [ngClass]="{'hidden': false}" (click)="togglePlayerSearch = !togglePlayerSearch">
              <svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1">
                <defs>
                    <path d="M75.5077625,51.0008364 L76.0194576,51.0039026 L76.0194576,51.0039026 L77.0159884,51.016798 L77.0159884,51.016798 L77.9779592,51.0401897 C83.3340454,51.2053204 87.0978737,51.9484053 90.5,54.5 C92.9444444,56.3333333 95.2488426,58.4467593 97.4131944,60.8402778 L98,61.5 L98,69 L52,69 L52,61.5 C54.3333333,58.8333333 57,56.5 60,54.5 C63.4534884,52.1976744 66.3180097,51.3677664 70.6275548,51.10628 L71.4274844,51.0647993 L71.4274844,51.0647993 L72.2619769,51.0346385 L72.2619769,51.0346385 L73.1337492,51.0145899 C73.2823022,51.0120241 73.4325217,51.0098293 73.5844643,51.0079804 L74.5172501,51.0008364 L74.5172501,51.0008364 L75.5077625,51.0008364 Z M75,23 C81.627417,23 87,28.372583 87,35 C87,41.627417 81.627417,47 75,47 C68.372583,47 63,41.627417 63,35 C63,28.372583 68.372583,23 75,23 Z" id="path-1ae44jj0ty-1"></path>
                </defs>
                <g id="Design-Rd8--&gt;-Rd9-::-CPV" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="4a-buyin-17012023" transform="translate(-414, -290)">
                        <g id="button/person" transform="translate(362, 267)">
                            <mask id="mask-1ae44jj0ty-2" fill="white">
                                <use xlink:href="#path-1ae44jj0ty-1"></use>
                            </mask>
                            <use id="Shape" fill="#ffffff" xlink:href="#path-1ae44jj0ty-1"></use>
                        </g>
                    </g>
                </g>
              </svg>
            </button>
  
  
            <!-- Button: confirm -->
            <button mat-button class="button-confirm mrgnl-3" [ngClass]="{'hidden': false}" (click)="togglePlayerSearch = !togglePlayerSearch">
              <svg width="58.3993464px" height="32.5621778px" viewBox="0 0 58.3993464 32.5621778" version="1.1">
                <defs>
                    <polygon id="tick" points="100.355118 25.5503268 103.855118 31.6125046 57.9557714 58.1125046 45.4557714 36.4618695 51.5179492 32.9618695 60.5179492 48.5503268"></polygon>
                </defs>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="2-buyin-17012023" transform="translate(-879.4558, -378.5503)">
                        <g id="Group" transform="translate(677, 269)">
                            <g id="button/person-copy" transform="translate(157, 84)">
                                <mask id="mask-eonb-8jbqs-2" fill="white">
                                    <use xlink:href="#path-eonb-8jbqs-1"></use>
                                </mask>
                                <use id="mask" fill="#FFFFFF" fill-rule="nonzero" xlink:href="#tick"></use>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </button>
          </div>
        </main>
      </ng-container>

      
  
      <!-- Numpad -->
      <div class="numpad-panel" [ngClass]="{'hidden': false, 'slide-in': toggleNumpad}">
        <button mat-button class="numpad-panel__button" *ngFor="let key of numkeys">
          <div class="content">{{key}}</div>
        </button>

        <button mat-button class="numpad-panel__button remove">
          <div class="content">
            <svg width="46px" height="36px" viewBox="0 0 46 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" transform="translate(-874.6282, -218.6875)" fill="#3D3D3D">
                      <g id="components/numpad" transform="translate(556, 25)">
                          <g id="Group-6" transform="translate(61, 12)">
                              <g id="components/numpad/key-number-copy-10" transform="translate(142.4279, 175.75)">
                                  <path d="M159.491095,5.9375 C160.595665,5.9375 161.491095,6.8329305 161.491095,7.9375 L161.491095,39.5625 C161.491095,40.6670695 160.595665,41.5625 159.491095,41.5625 L123.17363,41.5625 C122.341708,41.5625 121.596661,41.0475124 121.302673,40.269267 L115.329392,24.456767 C115.157334,24.0012963 115.157334,23.4987037 115.329392,23.043233 L121.302673,7.23073297 C121.596661,6.45248761 122.341708,5.9375 123.17363,5.9375 Z M134.461758,15.9718254 C133.924787,15.4348545 133.054185,15.4348545 132.517214,15.9718254 C131.980244,16.5087963 131.980244,17.3793982 132.517214,17.9163691 L138.350138,23.7492929 L132.517214,29.5836309 C131.980244,30.1206018 131.980244,30.9912037 132.517214,31.5281746 C133.054185,32.0651455 133.924787,32.0651455 134.461758,31.5281746 L140.295389,25.6945436 L146.12902,31.5281746 C146.665991,32.0651455 147.536593,32.0651455 148.073564,31.5281746 C148.610534,30.9912037 148.610534,30.1206018 148.073564,29.5836309 L142.239933,23.75 L148.073564,17.9163691 C148.610534,17.3793982 148.610534,16.5087963 148.073564,15.9718254 C147.536593,15.4348545 146.665991,15.4348545 146.12902,15.9718254 L140.294682,21.8047492 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </div>
        </button>
        <button mat-button class="numpad-panel__button dismiss" (click)="toggleKbd()">
          <div class="content">x</div>
        </button>
      </div>

      <!-- Footer: Buy In Type buttons -->
      <footer class="wd-flex wd-flex--justify-content-center footer-buttons padx-3">
        <!-- Buy In types -->
        <div class="wd-flex footer-buttons__button-wrapper">
          <button mat-button class="footer-buttons__button" 
            [ngClass]="{'active': idx == $buyinIndx}"
            (click)='toggleBuyInTypes($event, idx)' 
            aria-describedby="Button to choose Buy In type"
            *ngFor="let type of buyinTypes, index as idx">
            <span>{{type}}</span>
          </button>
        </div>
      </footer>
      
    </main>
    
  </div>

  <!-- Player enlarged and backdrop -->
  <div class="player-enlarged__backdrop" *ngIf="toggleBackdrop"></div>
  <div class="player-enlarged__container" *ngIf="toggleBackdrop">
    <button class="button-close btn-backdrop" (click)="toggleBackdrop = !toggleBackdrop" aria-describedby="Button to close enlarged player image">
      <i class="material-icons">close</i>
    </button>

    <div class="player-enlarged">
      <img src="/assets/images/player.png"/>
    </div>
  </div>

</div>

<!-- Buyins: Generic -->
<div class="wd-grid buyins-new mrgnt-5">
  <div class="wd-grid buyins-new__container">
    <!-- page-header -->
    <header class="wd-grid page-header">
      <div class="wd-flex wd-text-center h1">
        <span>Buy In</span>
      </div>
      <!-- -->
      <div class="wd-flex wd-flex--align-items-center padx-3 icons">
        <div class="icon icon-cms-down"></div>
        <div class="space-filler"></div>
        <button class="button-close">
          <i class="material-icons">close</i>
        </button>
      </div>
    </header>
    
    <!-- Buy In type === 'CASH' -->
    <main class="wd-grid main-contents buyin-cash pad-3" *ngIf="$buyinIndx == 0">
      <section class="wd-grid main-content" [ngClass]="{'slide-out': toggleNumpad}">
        <div class="wd-flex seats padb-3">
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat" [ngClass]="{'disabled': false}">1</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat" [ngClass]="{'active': true}">2</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">3</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">4</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">5</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat" [ngClass]="{'selected': true}">6</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">7</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">8</button>
          </div>
        </div>
        <div class="block-amount">
          <div class="block-amount__display-amount padx-5 padt-1 padb-2 ">
            <!-- Amount block -->
            <span>99,000,000</span>
            <small>(995)</small>
          </div>
        </div>

        <!-- Block: Search input box -->
        <div *ngIf="!togglePlayerSearch" class="wd-flex wd-flex--align-items-center block-search mrgnl-3" [ngClass]="{'error': false, 'hidden': false}" >
          <!-- Show: Search box, numpad, player-details, CPV forms and so -->
          <form action="" class="wd-flex">
            <label for="plyr-search"></label>
            <input type="text" name="plyr-search" value="" placeholder="Player search" class="block-search__search-ib padx-3" autofocus>
            <div class="error-msg">
              Player not found
            </div>

            <button mat-button *ngIf="!togglePlayerSearch" class="button-kbd" (click)="toggleKbd($event)" [ngClass]="{'disabled': toggleNumpad}" aria-describedby="Numpad for searching player">
              <svg width="43px" height="36.4px" viewBox="0 0 43 36.4">
                <defs>
                    <path d="M62,37.8 L62,46.2 L37,46.2 L37,37.8 L62,37.8 Z M35,22.4 L35,30.8 L28,30.8 L28,22.4 L35,22.4 Z M44,22.4 L44,30.8 L37,30.8 L37,22.4 L44,22.4 Z M53,22.4 L53,30.8 L46,30.8 L46,22.4 L53,22.4 Z M62,22.4 L62,30.8 L55,30.8 L55,22.4 L62,22.4 Z M71,22.4 L71,30.8 L64,30.8 L64,22.4 L71,22.4 Z M35,9.8 L35,18.2 L28,18.2 L28,9.8 L35,9.8 Z M44,9.8 L44,18.2 L37,18.2 L37,9.8 L44,9.8 Z M53,9.8 L53,18.2 L46,18.2 L46,9.8 L53,9.8 Z M62,9.8 L62,18.2 L55,18.2 L55,9.8 L62,9.8 Z M71,9.8 L71,18.2 L64,18.2 L64,9.8 L71,9.8 Z" id="path-qi0qwch25z-1"></path>
                </defs>
                <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Stickersheet" transform="translate(-666, -345.8)">
                        <g id="Group-5" transform="translate(118, 316)">
                            <g id="button/person" transform="translate(520, 20)">
                                <mask id="mask-qi0qwch25z-2" fill="white">
                                    <use xlink:href="#path-qi0qwch25z-1"></use>
                                </mask>
                                <use id="Shape" fill="#FFFFFF" xlink:href="#path-qi0qwch25z-1"></use>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </button>
    
            <button mat-button class="button-search mrgnl-3" (click)="togglePlayerSearch = !togglePlayerSearch">Search</button>
          </form>
        </div>

        <!-- Show Block: Player details and Hide keyboard button -->
        <div *ngIf="togglePlayerSearch" class="wd-flex player-details mrgnl-3" [ngClass]="{'hidden': false}">
          <!-- Player-image -->
          <aside class="player-image__wrapper" (click)="toggleBackdrop = !toggleBackdrop">
            <div class="player-image" [ngClass]="{'dummy': true}">
              <img src="/assets/images/player.png"/>
            </div>
            <div class="wd-flex wd-flex--align-items-center wd-flex--justify-content-center seat-number">
              3
            </div>
          </aside>
          <div class="player padl-4">
            <div class="player-name">
              Equebal, Faizan
            </div>
            <div class="player-id">
              (6090)
            </div>
          </div>
        </div>

        <div class="wd-flex wd-flex--align-items-center wd-flex--justify-content-end page-controls mrgnl-3">
          <!-- Button: Search player -->
          <button mat-button class="button-confirm search-player" [ngClass]="{'hidden': false}" (click)="togglePlayerSearch = !togglePlayerSearch">
            <svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1">
              <defs>
                  <path d="M75.5077625,51.0008364 L76.0194576,51.0039026 L76.0194576,51.0039026 L77.0159884,51.016798 L77.0159884,51.016798 L77.9779592,51.0401897 C83.3340454,51.2053204 87.0978737,51.9484053 90.5,54.5 C92.9444444,56.3333333 95.2488426,58.4467593 97.4131944,60.8402778 L98,61.5 L98,69 L52,69 L52,61.5 C54.3333333,58.8333333 57,56.5 60,54.5 C63.4534884,52.1976744 66.3180097,51.3677664 70.6275548,51.10628 L71.4274844,51.0647993 L71.4274844,51.0647993 L72.2619769,51.0346385 L72.2619769,51.0346385 L73.1337492,51.0145899 C73.2823022,51.0120241 73.4325217,51.0098293 73.5844643,51.0079804 L74.5172501,51.0008364 L74.5172501,51.0008364 L75.5077625,51.0008364 Z M75,23 C81.627417,23 87,28.372583 87,35 C87,41.627417 81.627417,47 75,47 C68.372583,47 63,41.627417 63,35 C63,28.372583 68.372583,23 75,23 Z" id="path-1ae44jj0ty-1"></path>
              </defs>
              <g id="Design-Rd8--&gt;-Rd9-::-CPV" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="4a-buyin-17012023" transform="translate(-414, -290)">
                      <g id="button/person" transform="translate(362, 267)">
                          <mask id="mask-1ae44jj0ty-2" fill="white">
                              <use xlink:href="#path-1ae44jj0ty-1"></use>
                          </mask>
                          <use id="Shape" fill="#ffffff" xlink:href="#path-1ae44jj0ty-1"></use>
                      </g>
                  </g>
              </g>
            </svg>
          </button>


          <!-- Button: confirm -->
          <button mat-button class="button-confirm mrgnl-3" [ngClass]="{'hidden': false}" (click)="togglePlayerSearch = !togglePlayerSearch">
            <svg width="58.3993464px" height="32.5621778px" viewBox="0 0 58.3993464 32.5621778" version="1.1">
              <defs>
                  <polygon id="tick" points="100.355118 25.5503268 103.855118 31.6125046 57.9557714 58.1125046 45.4557714 36.4618695 51.5179492 32.9618695 60.5179492 48.5503268"></polygon>
              </defs>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="2-buyin-17012023" transform="translate(-879.4558, -378.5503)">
                      <g id="Group" transform="translate(677, 269)">
                          <g id="button/person-copy" transform="translate(157, 84)">
                              <mask id="mask-eonb-8jbqs-2" fill="white">
                                  <use xlink:href="#path-eonb-8jbqs-1"></use>
                              </mask>
                              <use id="mask" fill="#FFFFFF" fill-rule="nonzero" xlink:href="#tick"></use>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </button>
        </div>
      </section>
  
      <!-- Numpad -->
      <div class="numpad-panel" [ngClass]="{'hidden': false, 'slide-in': toggleNumpad}">
        <button mat-button class="numpad-panel__button" *ngFor="let key of numkeys">
          <div class="content">{{key}}</div>
        </button>

        <button mat-button class="numpad-panel__button remove">
          <div class="content">
            <svg width="46px" height="36px" viewBox="0 0 46 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" transform="translate(-874.6282, -218.6875)" fill="#3D3D3D">
                      <g id="components/numpad" transform="translate(556, 25)">
                          <g id="Group-6" transform="translate(61, 12)">
                              <g id="components/numpad/key-number-copy-10" transform="translate(142.4279, 175.75)">
                                  <path d="M159.491095,5.9375 C160.595665,5.9375 161.491095,6.8329305 161.491095,7.9375 L161.491095,39.5625 C161.491095,40.6670695 160.595665,41.5625 159.491095,41.5625 L123.17363,41.5625 C122.341708,41.5625 121.596661,41.0475124 121.302673,40.269267 L115.329392,24.456767 C115.157334,24.0012963 115.157334,23.4987037 115.329392,23.043233 L121.302673,7.23073297 C121.596661,6.45248761 122.341708,5.9375 123.17363,5.9375 Z M134.461758,15.9718254 C133.924787,15.4348545 133.054185,15.4348545 132.517214,15.9718254 C131.980244,16.5087963 131.980244,17.3793982 132.517214,17.9163691 L138.350138,23.7492929 L132.517214,29.5836309 C131.980244,30.1206018 131.980244,30.9912037 132.517214,31.5281746 C133.054185,32.0651455 133.924787,32.0651455 134.461758,31.5281746 L140.295389,25.6945436 L146.12902,31.5281746 C146.665991,32.0651455 147.536593,32.0651455 148.073564,31.5281746 C148.610534,30.9912037 148.610534,30.1206018 148.073564,29.5836309 L142.239933,23.75 L148.073564,17.9163691 C148.610534,17.3793982 148.610534,16.5087963 148.073564,15.9718254 C147.536593,15.4348545 146.665991,15.4348545 146.12902,15.9718254 L140.294682,21.8047492 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </div>
        </button>
        <button mat-button class="numpad-panel__button dismiss" (click)="toggleKbd()">
          <div class="content">x</div>
        </button>
      </div>
    </main>
    
    <!-- Buy In type === 'CPV' -->
    <main class="wd-grid main-contents buyin-cpv pad-3" *ngIf="$buyinIndx == 1">

      <section class="wd-grid main-content" [ngClass]="{'slide-out': toggleNumpad}">

        <div class="wd-flex seats padb-2">
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat" [ngClass]="{'disabled': false}">1</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat" [ngClass]="{'active': true}">2</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">3</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">4</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">5</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat" [ngClass]="{'selected': true}">6</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">7</button>
          </div>
          <div class="padx-1 seat__seat-wrapper">
            <button mat-button class="seat">8</button>
          </div>
        </div>

        <!-- Amount block: Amount-In/Chips-Out -->
        <section class="wd-grid block-amount amount-in-chips-out mrgnb-2" [ngClass]="{'hidden': false, 'matched': false}">
          <div class="wd-flex title">
            <div class="left">Amount In</div>
            <div class="right">Chips Out</div>
          </div>
          
          <div class="wd-flex value">
            <div class="wd-flex left">
              <div class="content">89,000,000</div>
            </div>
            <div class="wd-flex right">
              <div class="content">90,000,000</div>
            </div>
          </div>
        </section>

        <form id='cpv-data-form' action="" class="wd-grid cpv-data-form pad-2">
          <div class="wd-flex form-control-ib" aria-describedby="Form control for Slip ID">
            <label for="slip-id">Slip ID</label>
            <input type="text" name="slip-id" value="" placeholder="Enter Slip ID" class="block-search__search-ib padx-3" autofocus>
            <div class="error-msg">
              Slip ID incorrect
            </div>
            <button mat-button class="button-kbd" (click)="toggleKbd($event)" [ngClass]="{'disabled': toggleNumpad}" aria-describedby="Numpad for Slip ID">
              <svg width="43px" height="36.4px" viewBox="0 0 43 36.4">
                <defs>
                    <path d="M62,37.8 L62,46.2 L37,46.2 L37,37.8 L62,37.8 Z M35,22.4 L35,30.8 L28,30.8 L28,22.4 L35,22.4 Z M44,22.4 L44,30.8 L37,30.8 L37,22.4 L44,22.4 Z M53,22.4 L53,30.8 L46,30.8 L46,22.4 L53,22.4 Z M62,22.4 L62,30.8 L55,30.8 L55,22.4 L62,22.4 Z M71,22.4 L71,30.8 L64,30.8 L64,22.4 L71,22.4 Z M35,9.8 L35,18.2 L28,18.2 L28,9.8 L35,9.8 Z M44,9.8 L44,18.2 L37,18.2 L37,9.8 L44,9.8 Z M53,9.8 L53,18.2 L46,18.2 L46,9.8 L53,9.8 Z M62,9.8 L62,18.2 L55,18.2 L55,9.8 L62,9.8 Z M71,9.8 L71,18.2 L64,18.2 L64,9.8 L71,9.8 Z" id="path-qi0qwch25z-1"></path>
                </defs>
                <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Stickersheet" transform="translate(-666, -345.8)">
                        <g id="Group-5" transform="translate(118, 316)">
                            <g id="button/person" transform="translate(520, 20)">
                                <mask id="mask-qi0qwch25z-2" fill="white">
                                    <use xlink:href="#path-qi0qwch25z-1"></use>
                                </mask>
                                <use id="Shape" fill="#FFFFFF" xlink:href="#path-qi0qwch25z-1"></use>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </button>
          </div>

          <div class="wd-flex form-control-ib" aria-describedby="Form control for Amount IN">
            <label for="amount-in"></label>
            <input type="text" name="amount-in" value="" placeholder="Enter Amount In" class="block-search__search-ib padx-3" autofocus>
            <div class="error-msg">
              Amount In mismatch
            </div>
            <button mat-button class="button-kbd" (click)="toggleKbd($event)" [ngClass]="{'disabled': toggleNumpad}" aria-describedby="Numpad for Amount IN">
              <svg width="43px" height="36.4px" viewBox="0 0 43 36.4">
                <defs>
                    <path d="M62,37.8 L62,46.2 L37,46.2 L37,37.8 L62,37.8 Z M35,22.4 L35,30.8 L28,30.8 L28,22.4 L35,22.4 Z M44,22.4 L44,30.8 L37,30.8 L37,22.4 L44,22.4 Z M53,22.4 L53,30.8 L46,30.8 L46,22.4 L53,22.4 Z M62,22.4 L62,30.8 L55,30.8 L55,22.4 L62,22.4 Z M71,22.4 L71,30.8 L64,30.8 L64,22.4 L71,22.4 Z M35,9.8 L35,18.2 L28,18.2 L28,9.8 L35,9.8 Z M44,9.8 L44,18.2 L37,18.2 L37,9.8 L44,9.8 Z M53,9.8 L53,18.2 L46,18.2 L46,9.8 L53,9.8 Z M62,9.8 L62,18.2 L55,18.2 L55,9.8 L62,9.8 Z M71,9.8 L71,18.2 L64,18.2 L64,9.8 L71,9.8 Z" id="path-qi0qwch25z-1"></path>
                </defs>
                <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Stickersheet" transform="translate(-666, -345.8)">
                        <g id="Group-5" transform="translate(118, 316)">
                            <g id="button/person" transform="translate(520, 20)">
                                <mask id="mask-qi0qwch25z-2" fill="white">
                                    <use xlink:href="#path-qi0qwch25z-1"></use>
                                </mask>
                                <use id="Shape" fill="#FFFFFF" xlink:href="#path-qi0qwch25z-1"></use>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </button>
          </div>
        </form>

        <!-- Block: Search input box -->
        <div *ngIf="!togglePlayerSearch" class="wd-flex wd-flex--align-items-center block-search" [ngClass]="{'error': false, 'hidden': false}" >
          <!-- Show: Search box, numpad, player-details, CPV forms and so -->
          <form action="" class="wd-flex mrgnl-3">
            <label for="plyr-search"></label>
            <input type="text" name="plyr-search" value="" placeholder="Player search" class="block-search__search-ib padx-3" autofocus>
            <div class="error-msg">
              Player not found
            </div>

            <button mat-button *ngIf="!togglePlayerSearch" class="button-kbd" (click)="toggleKbd($event)" [ngClass]="{'disabled': toggleNumpad}" aria-describedby="Numpad for searching player">
              <svg width="43px" height="36.4px" viewBox="0 0 43 36.4">
                <defs>
                    <path d="M62,37.8 L62,46.2 L37,46.2 L37,37.8 L62,37.8 Z M35,22.4 L35,30.8 L28,30.8 L28,22.4 L35,22.4 Z M44,22.4 L44,30.8 L37,30.8 L37,22.4 L44,22.4 Z M53,22.4 L53,30.8 L46,30.8 L46,22.4 L53,22.4 Z M62,22.4 L62,30.8 L55,30.8 L55,22.4 L62,22.4 Z M71,22.4 L71,30.8 L64,30.8 L64,22.4 L71,22.4 Z M35,9.8 L35,18.2 L28,18.2 L28,9.8 L35,9.8 Z M44,9.8 L44,18.2 L37,18.2 L37,9.8 L44,9.8 Z M53,9.8 L53,18.2 L46,18.2 L46,9.8 L53,9.8 Z M62,9.8 L62,18.2 L55,18.2 L55,9.8 L62,9.8 Z M71,9.8 L71,18.2 L64,18.2 L64,9.8 L71,9.8 Z" id="path-qi0qwch25z-1"></path>
                </defs>
                <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Stickersheet" transform="translate(-666, -345.8)">
                        <g id="Group-5" transform="translate(118, 316)">
                            <g id="button/person" transform="translate(520, 20)">
                                <mask id="mask-qi0qwch25z-2" fill="white">
                                    <use xlink:href="#path-qi0qwch25z-1"></use>
                                </mask>
                                <use id="Shape" fill="#FFFFFF" xlink:href="#path-qi0qwch25z-1"></use>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </button>
    
            <button mat-button class="button-search mrgnl-3" (click)="togglePlayerSearch = !togglePlayerSearch">Search</button>
          </form>
        </div>

        <!-- Show Block: Player details and Hide keyboard button -->
        <div *ngIf="togglePlayerSearch" class="wd-flex player-details mrgnl-3" [ngClass]="{'hidden': false}">
          <!-- Player-image -->
          <aside class="player-image__wrapper" (click)="toggleBackdrop = !toggleBackdrop">
            <div class="player-image" [ngClass]="{'dummy': true}">
              <img src="/assets/images/player.png"/>
            </div>
            <div class="wd-flex wd-flex--align-items-center wd-flex--justify-content-center seat-number">
              3
            </div>
          </aside>
          <div class="player padl-4">
            <div class="player-name">
              Equebal, Faizan
            </div>
            <div class="player-id">
              (6090)
            </div>
          </div>
        </div>

        <div class="wd-flex wd-flex--align-items-center wd-flex--justify-content-end page-controls mrgnl-3">
          <div *ngIf="true" class="chipset-id">
            Chip Set: HKDNN1
          </div>
          <!-- Button: Search player -->
          <button mat-button class="button-confirm search-player" [ngClass]="{'hidden': false}" (click)="togglePlayerSearch = !togglePlayerSearch">
            <svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1">
              <defs>
                  <path d="M75.5077625,51.0008364 L76.0194576,51.0039026 L76.0194576,51.0039026 L77.0159884,51.016798 L77.0159884,51.016798 L77.9779592,51.0401897 C83.3340454,51.2053204 87.0978737,51.9484053 90.5,54.5 C92.9444444,56.3333333 95.2488426,58.4467593 97.4131944,60.8402778 L98,61.5 L98,69 L52,69 L52,61.5 C54.3333333,58.8333333 57,56.5 60,54.5 C63.4534884,52.1976744 66.3180097,51.3677664 70.6275548,51.10628 L71.4274844,51.0647993 L71.4274844,51.0647993 L72.2619769,51.0346385 L72.2619769,51.0346385 L73.1337492,51.0145899 C73.2823022,51.0120241 73.4325217,51.0098293 73.5844643,51.0079804 L74.5172501,51.0008364 L74.5172501,51.0008364 L75.5077625,51.0008364 Z M75,23 C81.627417,23 87,28.372583 87,35 C87,41.627417 81.627417,47 75,47 C68.372583,47 63,41.627417 63,35 C63,28.372583 68.372583,23 75,23 Z" id="path-1ae44jj0ty-1"></path>
              </defs>
              <g id="Design-Rd8--&gt;-Rd9-::-CPV" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="4a-buyin-17012023" transform="translate(-414, -290)">
                      <g id="button/person" transform="translate(362, 267)">
                          <mask id="mask-1ae44jj0ty-2" fill="white">
                              <use xlink:href="#path-1ae44jj0ty-1"></use>
                          </mask>
                          <use id="Shape" fill="#ffffff" xlink:href="#path-1ae44jj0ty-1"></use>
                      </g>
                  </g>
              </g>
            </svg>
          </button>


          <!-- Button: confirm -->
          <button mat-button class="button-confirm mrgnl-3" [ngClass]="{'hidden': false}" (click)="togglePlayerSearch = !togglePlayerSearch">
            <svg width="58.3993464px" height="32.5621778px" viewBox="0 0 58.3993464 32.5621778" version="1.1">
              <defs>
                  <polygon id="tick" points="100.355118 25.5503268 103.855118 31.6125046 57.9557714 58.1125046 45.4557714 36.4618695 51.5179492 32.9618695 60.5179492 48.5503268"></polygon>
              </defs>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="2-buyin-17012023" transform="translate(-879.4558, -378.5503)">
                      <g id="Group" transform="translate(677, 269)">
                          <g id="button/person-copy" transform="translate(157, 84)">
                              <mask id="mask-eonb-8jbqs-2" fill="white">
                                  <use xlink:href="#path-eonb-8jbqs-1"></use>
                              </mask>
                              <use id="mask" fill="#FFFFFF" fill-rule="nonzero" xlink:href="#tick"></use>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </button>
        </div>

        
        
      </section>
      
  
      <!-- Numpad -->
      <div class="numpad-panel" [ngClass]="{'hidden': false, 'slide-in': toggleNumpad}">
        <button mat-button class="numpad-panel__button" *ngFor="let key of numkeys" aria-describedby="Number button to enter value">
          <div class="content">{{key}}</div>
        </button>

        <button mat-button class="numpad-panel__button remove" aria-describedby="Number button to remove entered value">
          <div class="content">
            <svg width="46px" height="36px" viewBox="0 0 46 36" version="1.1">
              <g id="stickersheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" transform="translate(-874.6282, -218.6875)" fill="#3D3D3D">
                      <g id="components/numpad" transform="translate(556, 25)">
                          <g id="Group-6" transform="translate(61, 12)">
                              <g id="components/numpad/key-number-copy-10" transform="translate(142.4279, 175.75)">
                                  <path d="M159.491095,5.9375 C160.595665,5.9375 161.491095,6.8329305 161.491095,7.9375 L161.491095,39.5625 C161.491095,40.6670695 160.595665,41.5625 159.491095,41.5625 L123.17363,41.5625 C122.341708,41.5625 121.596661,41.0475124 121.302673,40.269267 L115.329392,24.456767 C115.157334,24.0012963 115.157334,23.4987037 115.329392,23.043233 L121.302673,7.23073297 C121.596661,6.45248761 122.341708,5.9375 123.17363,5.9375 Z M134.461758,15.9718254 C133.924787,15.4348545 133.054185,15.4348545 132.517214,15.9718254 C131.980244,16.5087963 131.980244,17.3793982 132.517214,17.9163691 L138.350138,23.7492929 L132.517214,29.5836309 C131.980244,30.1206018 131.980244,30.9912037 132.517214,31.5281746 C133.054185,32.0651455 133.924787,32.0651455 134.461758,31.5281746 L140.295389,25.6945436 L146.12902,31.5281746 C146.665991,32.0651455 147.536593,32.0651455 148.073564,31.5281746 C148.610534,30.9912037 148.610534,30.1206018 148.073564,29.5836309 L142.239933,23.75 L148.073564,17.9163691 C148.610534,17.3793982 148.610534,16.5087963 148.073564,15.9718254 C147.536593,15.4348545 146.665991,15.4348545 146.12902,15.9718254 L140.294682,21.8047492 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </div>
        </button>
        <button mat-button class="numpad-panel__button dismiss" (click)="toggleKbd()" aria-describedby="Button to close Numpad panel">
          <div class="content">x</div>
        </button>
      </div>
      
    </main>
    
  
    <!-- Footer: Buy In Type buttons -->
    <footer class="wd-flex wd-flex--justify-content-center footer-buttons mrgny-1">
      <!-- Buy In types -->
      <div class="wd-flex footer-buttons__button-wrapper">
        <button mat-button class="footer-buttons__button" 
          [ngClass]="{'active': idx == $buyinIndx}"
          (click)='toggleBuyInTypes($event, idx)' 
          aria-describedby="Button to choose Buy In type"
          *ngFor="let type of buyinTypes, index as idx">
          <span>{{type}}</span>
        </button>
      </div>
      
    </footer>
  </div>

  <!-- Player enlarged and backdrop -->
  <div class="player-enlarged__backdrop" *ngIf="toggleBackdrop"></div>
  <div class="player-enlarged__container" *ngIf="toggleBackdrop">
    <button class="button-close btn-backdrop" (click)="toggleBackdrop = !toggleBackdrop" aria-describedby="Button to close enlarged player image">
      <i class="material-icons">close</i>
    </button>

    <div class="player-enlarged">
      <img src="/assets/images/player.png"/>
    </div>
  </div>

</div>






