<div class="location-card__wrapper">
    <mat-card class="location-card mat-elevation-z4" [ngClass]="isLocChipsCard? 'location-card--first' : ''" matRipple>
        <mat-card-title>
            {{isLocChipsCard? 'Total Chips': cardLocTitle.name}}
        </mat-card-title>
    </mat-card>
</div>
