@import '../../../styles/variables', '../../../styles/mixins' ;

.location-card {
    background-color: var(--primary-50);
    background-image: none;
    border: 0.575em solid var(--primary);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 280px;
    cursor: pointer;

    &--first:before {
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background-image: url(/assets/icons/chip-lg-120.svg), url(/assets/icons/chip-lg-120.svg), url(/assets/icons/chip-lg-120.svg), url(/assets/icons/chip-lg-120.svg);
        background-size: 50%, 60%, 40%, 40%;
        background-repeat: no-repeat;
        background-position: 180px 110px, 220px -80px, -60px 40px, -40px 0px;
        opacity: .35;
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        margin: 0;
        padding: 1em;
    }

    .mat-card-title {
        @include set-font-family(OswaldHeadline);
        @include include-font-style(1.5rem, 400, 1.5);
        @include add-ellipsis;
        color: $w2-black;
        letter-spacing: .15px;
        border-radius: 4px;
        padding: 0 .2em;
        text-align: center;
        display: block;
        user-select: none;
        margin: 0;
    }

    &:hover .mat-card-title {
        color: $w2-accent;
    }
}