<button type="button" mat-button class="common-button" (click)="clicked = true" aria-describedby="Create game template">
  Create
</button>
<br><br>

<mat-divider></mat-divider>

<br>
<!-- <div class="wd-container"> -->
  <!-- <div class="wd-row"> -->
    <!-- <div class="wd-container__inner"> -->

      <!-- Create game template -->
      <app-dialog-game-template></app-dialog-game-template>

    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->