//
@font-face {
	font-family: 'myLato';
	src: url('/assets/fonts/lato/Lato-Regular.eot?'); /* IE */
	src: local(''),
	url('/assets/fonts/lato/Lato-Regular.eot#iefix') format('embedded-opentype'),
	url('/assets/fonts/lato/Lato-Regular.woff2') format('woff2'),
	url('/assets/fonts/lato/Lato-Regular.woff') format('woff'),
	url('/assets/fonts/lato/Lato-Regular.ttf') format('truetype'),
	url('/assets/fonts/lato/Lato-Regular.ttf') format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'myLato';
	src: url('/assets/fonts/lato/Lato-Bold.eot?'); /* IE */
	src: local(''),
	url('/assets/fonts/lato/Lato-Bold.eot#iefix') format('embedded-opentype'),
	url('/assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
	url('/assets/fonts/lato/Lato-Bold.woff') format('woff'),
	url('/assets/fonts/lato/Lato-Bold.ttf') format('truetype'),
	url('/assets/fonts/lato/Lato-Bold.ttf') format('opentype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'myLato';
	src: url('/assets/fonts/lato/Lato-Black.eot?'); /* IE */
	src: local(''),
	url('/assets/fonts/lato/Lato-Black.eot#iefix') format('embedded-opentype'),
	url('/assets/fonts/lato/Lato-Black.woff2') format('woff2'),
	url('/assets/fonts/lato/Lato-Black.woff') format('woff'),
	url('/assets/fonts/lato/Lato-Black.ttf') format('truetype'),
	url('/assets/fonts/lato/Lato-Black.ttf') format('opentype');
	font-style: normal;
	font-weight: 800;
}


/* oswald-regular - latin */
@font-face {
  font-family: 'OswaldHeadline';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/oswaldv36/oswald-v36-latin-regular.eot?'); /* IE9 Compat Modes */
  src: local(''),
	url('/assets/fonts/oswaldv36/oswald-v36-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/assets/fonts/oswaldv36/oswald-v36-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('/assets/fonts/oswaldv36/oswald-v36-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('/assets/fonts/oswaldv36/oswald-v36-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/assets/fonts/oswaldv36/oswald-v36-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-500 - latin */
@font-face {
  font-family: 'OswaldHeadline';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/oswaldv36/oswald-v36-latin-500.eot?'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/oswaldv36/oswald-v36-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-600 - latin */
@font-face {
  font-family: 'OswaldHeadline';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/oswaldv36/oswald-v36-latin-600.eot?'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/oswaldv36/oswald-v36-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-600.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-700 - latin */
@font-face {
  font-family: 'OswaldHeadline';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/oswaldv36/oswald-v36-latin-700.eot?'); /* IE9 Compat Modes */
  src: local('OswaldHeadline'),
       url('/assets/fonts/oswaldv36/oswald-v36-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/oswaldv36/oswald-v36-latin-700.svg#Oswald') format('svg'); /* Legacy iOS */
}


@font-face {
	font-family: 'MyIcons';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/iconfont/MaterialIcons-Regular.eot?'); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url('/assets/fonts/iconfont/MaterialIcons3-Regular.woff2') format('woff2'),
	url('/assets/fonts/iconfont/MaterialIcons-Regular.woff') format('woff'),
	url('/assets/fonts/iconfont/MaterialIcons3-Regular.ttf') format('truetype');
}

@font-face {
	src: url('/assets/fonts/dealer-fonts/LeHeiPro.ttf');
	font-family: 'dealer-font';
	font-style: normal;
	font-weight: 700;
}

@font-face {
	src: url("/assets/fonts/dealer-fonts/HelveticaNeueLTStd-Hv.otf");
	font-family: 'dealer-standard-font';
	font-style: normal;
	font-weight: 700;
}

@font-face {
	src: url("/assets/fonts/dealer-fonts/DINBd___.ttf");
	font-family: 'message-window-font';
	font-style: normal;
	font-weight: 700;
}