.position-bet {
  background: #000;
  display: grid;
  gap: 1em;

  &.left {
    grid-row: 2/4;
    grid-column: 1/2;
    grid-template-rows: 1fr 1fr;
  }

  &.right {
    grid-row: 2/4;
    grid-column: 5/6;
    grid-template-rows: 1fr 1fr;
  }

  &.top {
    grid-row: 1/2;
    grid-column: 2/5;
  }
}