.wd-dd {
  &__position {
    background-color: #1a1919;
    border-radius: .5rem;
    display: grid;
    max-height: 100%;
    max-width: 100%;
    min-height: 0;
    min-width: 0;
    overflow: auto;
    padding: 2px 0.4vmin;
    position: relative;

    .row {
      display: flex;
      justify-content: space-between;

      * {
        align-self: center;
        border-radius: 1em;
        font-family: dealer-standard-font;
        overflow: hidden;
        padding: 0.25rem 0.25rem 0;
      }

      .main-bet,
      .shared-bet {
        background-color: #000;
        border-radius: 1em;
        box-shadow: 0 0.5px 0 #fff inset;
        display: flex;
        flex: 1;
        font-size: 1.25em;
        justify-content: space-between;
        padding: 0;
        align-self: auto;
        max-height: 85%;
      }

      .shared-bet {
        font-size: 1em;
        line-height: .9;
        margin-left: 1.25rem;
      }

      .bet-label,
      .bet-value {
        color: gold;
        font-size: 1em;
      }

      .bet-label {
        margin-left: .25rem;
      }

      .bet-value {
        color: white;
        font-size: 1em;
        margin-right: .5rem;
      }
    }


    .active-position-number {
      background-color: #636363;
      color: #000;
      display: flex;
      font-size: 1.5rem;
      transform: scale(.9);
      transform-origin: top left;
    }

    .active-casino-player-id {
      background-color: #000;
      border-radius: 1em;
      color: #fff;
      display: flex;
      flex: 1;
      font-size: 1.25rem;
      // justify-content: end;
      margin: 0 .5rem
    }



    &.bet-placed {
      background-image: linear-gradient(0deg,#535353,#9e9e9e);

      .active-position-number {
        background: #000;
        border-color: yellow;
        color: #fff;
      }
    }

    &.bet-placed-error {
      background-image: linear-gradient(0deg,#690101,#fc3232);
    }
  }
}