.wd-dd {
  &__content-wrapper {
    align-items: stretch;
    display: grid;
    justify-items: stretch;
    gap: 1em;
    grid-template: repeat(3, 1fr) / repeat(5, 1fr);
    grid-row-start: 1;
    grid-row-end: 6;
    min-height: 100%;
  }

  &__content {
    background-color: #1a1919;
  }
}