.wd-dd__footer {
  position: relative;

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;

    > span,
    > button span {
      color: $white;
      font-family: dealer-standard-font;
    }
  }

  button {
    background-image: linear-gradient(0deg,#014101,#05c505);
    border: 0;
    border-radius: .5em .5em 0 0;
    bottom: 0;
    flex: 1;
    font-size: 3.5rem;
    height: 4rem;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    transform: scaleY(0.8);
    transform-origin: bottom;
    user-select: none;
    width: calc(100% - 26rem);
    z-index: 160;

    span + span {
      margin-left: .5em;
    }
  }
}