<nav mat-tab-nav-bar class="bottom-nav bottom-nav__container" role="navigation" aria-label="bottom-nav" [disablePagination]="true">
    <div class="bottom-nav__row">
        <!-- <ng-container *ngFor="let tab of tabs;"> -->
            <!-- <a mat-tab-link
               class="bottom-nav__tab-link"
               (click)="activeTab = tab"
               [active]="activeTab == tab">{{tab}}</a> -->

               <a mat-tab-link class="bottom-nav__tab-link" routerLink="/cashier-window/buyins" routerLinkActive="active">Buy Ins</a>
               <a mat-tab-link class="bottom-nav__tab-link" routerLink="/cashier-window/cashout" routerLinkActive="active">Cash Out</a>
               <a mat-tab-link class="bottom-nav__tab-link" routerLink="/cashier-window/change" routerLinkActive="active">Change</a>
               <a mat-tab-link class="bottom-nav__tab-link" routerLink="/cashier-window/updateownership" routerLinkActive="active">Update Ownership</a>
               <a mat-tab-link class="bottom-nav__tab-link" routerLink="/cashier-window/chipdetail" routerLinkActive="active">Chip Detail</a>
               <a mat-tab-link class="bottom-nav__tab-link" routerLink="/cashier-window/transactions" routerLinkActive="active">Transactions</a>
        <!-- </ng-container>  -->
    </div>
</nav>