@import '../../../styles/variables', '../../../styles/mixins';

$sub-nav-surface-color:   $w2-primary;
$sub-nav-text-color:      $w2-black;
$sub-nav-text-rev-color:  $w2-white;
$sub-nav-active-color:    $w2-accent-light;

.bottom-nav {
    background-color: $sub-nav-surface-color;
    padding: 0;
  
    &__container {
      display: flex;
      width: 100%;
      height: 3.125rem;
    }
  
    &__row {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
  
    &__tab-link {
      @include mx-w2-headline(4);
      background-color: $sub-nav-surface-color;
      color: $sub-nav-text-color !important;
      display: flex;
      flex: 1;
      padding: 4px 8px;
      border-right: 1px solid rgba(255,255,255,0.4);
      opacity: 1;
      overflow: hidden;
  
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
  
      &.mat-tab-label-active,
      &.active {
        background-color: $sub-nav-active-color;
        color: $sub-nav-text-rev-color !important;
        font-weight: $w2-fw-bold;
  
        &:hover {
          background-color: $sub-nav-active-color;
        }
      }
    }
  
    ::ng-deep .mat-tab-links {
      flex-grow: 1;
    }
  
    ::ng-deep .mat-ink-bar {
      bottom: auto;
      top: 1px;

      @include new-mat-ink-bar;

      &:after {
        border-bottom: none;
        border-top: 9px solid $w2-white;
        top: 0;
      }
    }
  }


  :host {
      width: 100%;
  }