.block-place-chips {
  background-color: vars.$w2-white;
  border-radius: 8px;
  margin: auto;
  padding: 1em 2em;
  position: relative;
  transition: all 500ms;

  &:hover {
      cursor: pointer;
      opacity: .85;
  }

  mat-icon.icon-chips-placing {
      @include mixins.icon-chips-placing;

      + h1 {
          margin-top: .25em;
      }
  }
}