.cashier-window {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  position: relative;

  &__content {
      justify-content: space-between; 
      gap: 1em;
      height: 100%; 
      max-width: $device-max-width;
      margin: 0 auto;
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 8fr 2fr;
      margin: 0 auto;
  }

  .aside-content-width {
      min-width: $side-panel-width;
  }

  .wd-title {
      @include mixins.set-font-family();
      @include mixins.set-color(vars.$w2-primary);
      margin-bottom: 0;
  }
  
  .title-place-chips {
      @include mixins.include-font-style(3rem, vars.$font-base-weight, 1.5);
      text-align: center;
  }
  
  .title-select-buy-in-type {
      @include mixins.include-font-style(1.25rem, vars.$font-base-weight, 1.5);
      @include mixins.set-color(vars.$w2-black);
  }

  .btn-add-player {
      @include mixins.btn-add-player;

      + .btn-add-player {
          margin-top: 1em;
      }
  }


  .chipset-panels {
      display: flex;
      flex-direction: column;
      gap: .25em;
      height: 100%;
      overflow: auto;
  }

  .common-button--accent-fill.common-button {
      margin-bottom: 6em;
  }

  .common-button + .common-button {
      margin-left: 1em;
  }

  &__buy-in-types {
      max-width: 224px; 
      padding: 1em 0; 
      background-color: $aside-surface-color;
  
      .mat-radio-button {
          @include mixins.set-font-family();
          @include mixins.include-font-style(1.25rem, vars.$font-base-weight, 2);
          @include mixins.set-color(vars.$w2-primary);
          clear: both;
          float: left;
          padding: .25em 0;
      
          &.mat-accent {
              @include make-radio-button-active();
          }
      }
  }
}