.display-total {
  align-items: center;
  border: $cs-display-block-border;
  border-radius: 8px;
  display: flex;
  flex: 1;
  gap: 1em;
  justify-content: space-between;
  height: 5rem;
  padding: 0 1em;

  .h1 {
      @include mixins.set-font-family($footer-display-text);
      @include mixins.include-font-style(3.5rem, vars.$font-base-weight, 1.3);
      @include mixins.set-color($footer-display-text-color);
  }

  span:last-child {
      min-width: 14em;
      text-align: right;
  }
}