.display-invalid-chips-err {
  @include utilities.make-flex-center;
  display: flex;
  background-color: $cs-err-surface-color;
  bottom: 5.5rem;
  position: absolute;
  width: 100%;
  height: 4rem;
  z-index: 10;

  .h1 {
      @include mixins.set-font-family();
      @include mixins.include-font-style(2rem, vars.$font-base-weight, 1.3);
      color: $cs-err-text-color;
      margin: 0;
  }
}