@use './variables' as vars;
@use '../../../../styles/mixins' as mixins;
@use '../../../../styles/utilities' as utilities;


$device-max-width:              1366px;

$aside-surface-color:           vars.$w2-primary-50;
$footer-surface-color:          vars.$w2-black;
$footer-text-color:             vars.$w2-primary-50;
$footer-border-color:           $footer-text-color;
$footer-display-text:           vars.$w2-ff-fat;
$footer-display-text-color:     vars.$w2-primary;

$cs-display-block-border:       2px solid $footer-display-text-color;
$cs-err-surface-color:          vars.$error-red;
$cs-err-text-color:             vars.$w2-white;
$side-panel-width:              16.66667%;

// Mixin to style active radio button
@mixin make-radio-button-active () {
    &.mat-radio-checked ::ng-deep .mat-radio-outer-circle  {
        border-color: vars.$w2-accent;
    }

    &.mat-radio-checked ::ng-deep .mat-radio-persistent-ripple,
    ::ng-deep .mat-radio-inner-circle, 
    ::ng-deep .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
    &:active ::ng-deep .mat-radio-persistent-ripple {
        background-color: vars.$w2-accent;
    }
}