
// @import 'typography', 'colors';
//
//Akgupta: List of variables used in the project
@import "functions";

:root {
	--primary: #bb9156;
	--primary-light0: #d9cb9e;
	--primary-light: #EFC184;
	--primary-strip: #FFFBF5;
	--primary-lighten: #e0cdb2;
	--primary-dark0: #AB7348;
	--primary-dark: #89642B;
	--primary-bg: #eee7dd;
	--primary-beige: #F0EDCA;
	--primary-50: #F9F8EA;
	--accent: #9c1c23;
	--accent-light: #D3504A;
	--accent-dark: #7d161b;
	--accent-bright: #FF562D;
	--secondary: #cccccc;
	--secondary-light: #e6e6e6;
	--dark: #333333;
	--dark-light: #808080;
	--white: #ffffff;
	--white-text: #f5f5f5;
	--black: #000000;
	--danger: #dc3545;
	--warning: #fbb23c;
	--success: #070808;
	--success-bright: #24FF00;
	--green: #22b573;
	--green-dark: #1c925d;
	--green-darken: #1A8957;
	--green-darker: #0a3321;
	--green-light: #b2f0d5;
	--green-brighter: #0D8F00;
	--info: #0facd2;
	--cyan: #23a6ad;
	--blue: #00ceff;
	--blue-dark: #00a3cc;
	--blue-darken: #007c99;
	--yellow: #ffff00;
	--yellow-bright: #FFEA00;
	--yellow-dark: #cccc00;
	--gray80: #d9d8d8;
	--gray50: #817e7e;
	--gray30: #5a5858;

	--boxColor: #0ff7;
	--rotateSpeed: 30s;
	--bounceSpeed: 2s;
}


//common colors.
$light-gray:	var(--secondary-light);//#e6e6e6;
$gray:			var(--secondary);//#cccccc;
$darker-gray:	var(--dark-light);//#808080;
$dark-gray:		var(--dark);//#333333;

//
$gold:			var(--primary); //#bb9156 !default;
$light-gold:	var(--primary-light); //#d9cb9e;
$lighter-gold:	var(--primary-bg); //#eee7dd;

//
$error-red: 	rgb(220, 53, 34); //#dc3522;
$red: 			var(--accent); //#9c1c23;
$dark-red: 		var(--accent-dark); //#7d161b;
$red-bright: 	var(--accent-bright); //#FF562D
$orange-bright: var(--warning); //#FBB03B
$orange-dark: 	#cc7e04; //darken($orange-bright, 20%);
$hover-color: 	$dark-red;

//
$cyan: 			var(--cyan); //#23a6ad;
$green: 		var(--green); //#22b573;
$green-bright: 	var(--success-bright);
$green-brighter: var(--green-brighter);
$green-dark:	var(--green-darken);//darken($green, 20%);
$blue-bright: 	var(--info);//#0facd2;
$blue: 			var(--blue);
$blue-dark: 	var(--blue-darken);//darken($blue, 20%);

//
$white: 			var(--white); //#ffffff;
$black: 			var(--black); //#000000;
$yellow: 			var(--yellow); //#ffff00 hsl(60%, 100%, 50%)
$yellow-bright: 	var(--yellow-bright);
$yellow-brighter: 	#FFD900;
$yellow-darker: 	#887400;
$yellow-dark: 		#999900;//darken($yellow, 20%);



$primary:       $gold !default;
$secondary:     $gray !default;
$accent:        $red !default;
$success:       $green !default;
$info:          $blue-bright !default;
$warning:       $orange-bright !default;
$danger:        $error-red !default;
$light:         $light-gray !default;
$dark:          $gray !default;

$w-primary:       $primary;
$w-primary-dark:  var(--primary-dark);
$w-primary-light: var(--primary-beige);
$w-accent:        var(--accent);
$w-black:         var(--black);
$w-gray:          $gray;
$w-gray-light:    $light-gray;
$dark-green:      var(--black);//darken($green, 70%) ==> it becomes black;
$light-green:     var(--white);//lighten($green, 92%) ==> it becomes white;


//new color variables for config2.0
$w2-primary: 			var(--primary);
$w2-primary-50: 		var(--primary-50);
$w2-primary-100: 		var(--primary-beige);
$w2-primary-light: 		var(--primary-light);
$w2-primary-dark: 		var(--primary-dark);

$w2-accent: 			var(--accent);
$w2-accent-dark: 		var(--accent-dark);
$w2-accent-light: 		var(--accent-light);

$w2-white: 				var(--white);
$w2-black: 				var(--black);

$w2-status-active: 		var(--success-bright);
$w2-status-inactive: 	var(--warning);
$w2-status-delete: 		var(--danger);

$w2-text-info: 			var(--blue);	

$black-alpha15: 		rgba(0, 0, 0, .15);
$black-alpha85: 		rgba(0, 0, 0, .85);
$black-alpha95: 		rgba(0, 0, 0, .95);
$black-10: 					rgba(0, 0, 0, .1);


$w2-status-active: var(--success-bright);
$w2-status-inactive: var(--warning);
$w2-status-delete: var(--danger);


$font-family-lato:			myLato;
$font-family-material:		myIcons;
$font-family-sans-serif: 	$font-family-lato;
$font-base-size:			16px;
$font-base-light:			500;
$font-base-weight:			600;
$font-base-bold:			800;
$base-font-size:			$font-base-size;
$base-font-weight:			$font-base-weight;

$font-h1-size:                			$font-base-size * 2.5; //40px~3.82vmin
$font-h2-size:                			$font-base-size * 2; //32px~3.056vmin
$font-h3-size:                			$font-base-size * 1.75; //28px~2.674vmin
$font-h4-size:                			$font-base-size * 1.5; //24px~2.292vmin
$font-h5-size:                			$font-base-size * 1.25; //20px~1.91vmin
$font-h6-size:                			$font-base-size; //~16px in 1440x900

$font-display1:               			$font-base-size * 2.625; //42px~4.011vmin
$font-display2:               			$font-base-size * 2.25; //36px~3.438vmin
$font-display3:               			$font-base-size * 3.25; //52px~


$border-radius:			4px;
$border-radius1:		$border-radius;
$border-radius2:		$border-radius * 2;
$border-radius3:		$border-radius * 3;
$border-radius4:		$border-radius * 4;
$border-radius5:		$border-radius * 5;

//Declaring height of the Top nav bar.
//Pagination-container's height is excluded here and implements at run-time.
$top-nav__height: 						50px;
$sub-nav__height: 						50px;

$table-header__title-row__min-height: 	60px;
$filters-opened__row__height: 			80px;
$search-form__top-margin: 				24px;

//Calculate the default inner-height by excluding the fixed heights
//of: Top-nav, Sub-nav and Table's Title-row heights.
$table-data__container__inner-height:
		$top-nav__height +
		$sub-nav__height +
		$table-header__title-row__min-height;



//Declaring thickness of the breadcrumb-arrow.
$breadcrumb-arrow-thickness: 			20px; //

//Note: This variable value needs to be updated in Common-UI.
$container__net-height: 				calc(100vh - 100px);
// $container__net-height__filters-opened: calc(100vh - (210px + #{$filters-row__height * 1.2})); // a factor required to include bottom padding.

////
$breakpoint-md:           				768px;
$breakpoint-lg:           				992px;
$breakpoint-lg2:          				1024px;
$breakpoint-xl:           				1200px;
$breakpoint-sm-height:    				700px;

$breakpoint-xxl-width:    				1368px;
$breakpoint-xxl:          				$breakpoint-xxl-width;
$breakpoint-xxl-height:   				912px;
$breakpoint-height-sm:    				792px;

$breakpoint-xxl2:         				1440px;
$breakpoint-xxl2-width:   				1440px;
$breakpoint-xxl2-height:  				900px;
$breakpoint-xxxl:         				1920px;//1924px;

$breakpoint-dd:          			 	800px;

////Height of top-nav
$tbl--top-nav--height: 					64px;

////
$tbl-font-map:(
		'family': $font-family-lato,
		'size': 24px,
		'weight': 600,
);

////z-indexing
$z-footer: 100;

// w2 font styles
$w2-lato-family: myLato;
$w2-oswald-family: OswaldHeadline;
$w2-fs-default: 1rem;
$w2-fw-normal: 500;
$w2-fw-thin: 400;
$w2-ff-default: $w2-lato-family;
$w2-fw-bold: $font-base-weight;

$w2-fs-body1: $w2-fs-default;
$w2-fs-body2: $w2-fs-default * 0.875;
$w2-fs-body3: $w2-fs-default * 0.75;
$w2-fs-overline: $w2-fs-default * 0.625;

$w2-fs-button: $w2-fs-default * 0.9375;
$w2-fs-button-lg: $w2-fs-default * 1.1875;

$w2-ff-headline: $w2-oswald-family;
$w2-fs-headline1: $w2-fs-default * 1.9375;
$w2-fs-headline2: $w2-fs-default * 1.5625;
$w2-fs-headline3: $w2-fs-default * 1.375;
$w2-fs-headline4: $w2-fs-default * 1.125;
$w2-fs-headline5: $w2-fs-default * 1;
$w2-fs-headline6: $w2-fs-default * 0.875;

$w2-ff-subheading: $w2-ff-default;
$w2-fs-title1: $w2-fs-default * 1.5;
$w2-fs-title2: $w2-fs-default * 1.1875;

$w2-fs-subtitle1: $w2-fs-default * 1.25;
$w2-fs-subtitle2: $w2-fs-default * 1.125;
$w2-fs-subtitle3: $w2-fs-default;
$w2-fs-subtitle4: $w2-fs-default * 0.8125;

$w2-ff-fat: "Arial Black", sans-serif;
$w2-fs-fat: $w2-fs-default;
$w2-dd-font: dealer-standard-font;
$w2-dd-msg-font: message-window-font;
$w2-dd-dealer-font: dealer-font;
