@use './mixins/colors' as colors;
@use './mixins/variables' as vars;

$player-zm-surface-color:           colors.$white;
$player-zm-border:                  1px solid colors.$w-black;
$player-zm-text-color:              colors.$w-black;
$player-zm-text-alpha15-color:      colors.$black-alpha15;
$player-zm-text-alpha85-color:      colors.$black-alpha85;

%transformed-to-zero {
  transform: scale(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0 0;

  &.is-visible {
    transform: scale(1);
  }
}
.player-enlarged {
    &__container {
      @extend %transformed-to-zero;
      bottom: 1.5rem;
      left: 1rem;
      margin: 0 auto;
      position: absolute;
      right: 1rem;
      top: 1.5rem;
      z-index: 900;
  
      > button.mat-button {
        background-color: $player-zm-surface-color;
        border: $player-zm-border;
        border-radius: 50%;
        color: $player-zm-text-color;
        height: 60px;
        opacity: .85;
        padding: 0;
        position: absolute;
        right: 1%;
        top: 2%;
        width: 48px;
  
        &:hover {
          opacity: 1;
        }
      }
    }
  
    &__backdrop {
      @extend %transformed-to-zero;
      background-color: $player-zm-text-alpha15-color;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: 900;
    }
  }
  
  .player-image__wrapper {
    background: url('/assets/images/player.png') no-repeat center $player-zm-surface-color ;
    background-size: contain;
    border: 2px solid $player-zm-text-alpha85-color;
    border-radius: 1rem;
    display: flex;
    height: 100%;
    overflow: hidden;
    transform-origin: center;
  
    > img {
      height: auto;
      width: 100%;
    }
  }