@use '../../styles/variables' as vars;

$wd-summary-surface-color:  vars.$w2-white;
$wd-summary-text-color:     vars.$w2-black;
$wd-summary-stroke:         vars.$w2-primary;
$wd-summary-border:         1px solid $wd-summary-stroke;

.summary-block {
    display: flex;
    padding: 0.5em 1em;
    border: $wd-summary-border;
    border-radius: 0.5rem;

    &__content-wrapper {
        display: flex;
        flex: 1;
        justify-content: space-between;
        overflow: hidden;
    }

    .key,
    .value {
        font-size: 1rem;
        font-weight: 600;
        opacity: .85;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: auto;
    }

    .key {
        opacity: .5;
        transform-origin: top left;
        transform: scale(.8);
        letter-spacing: .4px;
    }

    img {
        border: $wd-summary-border;
        border-radius: 50%;
        width: 3rem;
        height: auto;
        aspect-ratio: 1;

    }
}