<header>
    <app-top-nav-bar [appName]="'treasury'"></app-top-nav-bar>
    <app-subnav-data-bar></app-subnav-data-bar>
</header>
<main class="wd-container trsury-mngr">
 
    <div class="trsury-mngr__content">
        <div class="trsury-mngr__content-inner">

            <section class="summary-block">
                <div class="summary-block__content-wrapper">
                    <ng-container *ngFor="let item of summaryBlockData, let i = index">
                        <ng-container *ngIf="i == 0">
                            <span (click)="onPlayerZoom()" style="cursor: pointer; border-radius: 50%" matRipple>
                                <img src="../../assets/images/player.png" alt="player">
                            </span>
                            
                        </ng-container>
                        <div>
                            <div class="key">{{item.key}}</div>
                            <div class="value">{{item.value}}</div>
                        </div>
                    </ng-container>
                </div>
            </section>

            <section class="location-cards">
                <ng-container *ngFor="let cage of cagesLvl0; first as chipsCard">
                    <app-location-card [cardTitle]="cage" [isChipsCard]="chipsCard? true: false" (click)="onClick($event)"></app-location-card>
                </ng-container>
            </section>

            <router-outlet></router-outlet>

        </div>

    </div>
</main>

<div class="player-enlarged__backdrop" [ngClass]="{'is-visible': zoomPlayer}"></div>
<div class="player-enlarged__container" [ngClass]="{'is-visible': zoomPlayer}">
  <button mat-button tabindex="-1">
    <mat-icon (click)="zoomPlayer = !zoomPlayer">close</mat-icon>
  </button>
  <div class="player-image__wrapper mat-elevation-z24">
    <img src="'/assets/images/player.png'"/>
  </div>
</div>
