<header>
    <app-top-nav-bar [appName]="'cashWin'"></app-top-nav-bar>
</header>

<router-outlet></router-outlet>


<footer class="cw-footer" [ngClass]="{'cw-footer--links-disabled': areRestLinksDisable}">
    <div class="wd-row">
        <app-bottom-nav></app-bottom-nav>
    </div>
    <div class="wd-row">
        <footer class="wd-flex cw-footer__bottom-content">
            <div class="wd-col">
                <div class="wd-flex wd-justify-content-start">
                    <span>{{cwName}}</span><span>{{cwGamingDay}}</span><span>{{cwGamingTime}}</span>
                </div>
            </div>
            <div class="wd-col">
                <div class="wd-flex wd-justify-content-end">
                    <span>{{cwUserNameID}}</span>
                </div>
            </div>
        </footer>
    </div>
</footer>

<section *ngIf="isChipsInvalid" class="display-invalid-chips-err mat-elevation-z2" (click)="onRemovingInvalidChips()">
    <h1 class="h1">Invalid chips on antenna</h1>
</section>



