// Note: designed specifications for block- W x H = 472px x 170px
.amount-in-chips-out {
  @include amountin-chipsout;

  &.matched {
    @include matched(1) {
      .title {
        color: #a5e9a5;
      }
    };
  }

  .title, 
  .value {
    flex: 1;
    display: flex;
    text-align: center;

    .left,
    .right {
      flex: 1;
      justify-content: center;
      align-items: center;
    }
  }  
}