.error-msg {
  color: red;
  font-size: .9rem;
  font-family: 'Arial Black', sans-serif;
  line-height: 1.1;
  position: absolute;
  bottom: -1.3rem;
  display: none; // default value

  form & {
    position: absolute;
    bottom: -1.5rem;
  }
}

 