.form-control-ib {
  align-items: center;
  
  label {
    color: white;
    font-family: Arial-black, sans-serif;
    font-size: 1.5rem;
    margin-right: .5rem;
  }

  input {
    @include search-ib {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
    }
  } 
}