.numpad-panel {
  width: $numpad-panel-width;
  height: $numpad-panel-height;
  background-color: $numpad-bgcolor;
  border-radius: $numpad-bdr-radius;
  border: $numpad-bdr;  
  transform: translateY(-50%);
  padding: 0.4rem 1rem .4rem 0;
  @include numpad-layout();
  @include numpad-button();
  @include numpad-repositioning();
  @include numpad-transition();
}