.player-details {
  @include player-details();

  .player-name,
  .player-id {
    font-family: HelveticaNeue-CondensedBold;
    font-size: 42px;
    line-height: 1.1;
    color: #FFFFFF;
  }

  .player-id {
    font-size: 36px;
  }
}

