


.roulette-seats {
  position: absolute;
  z-index: 20;

  &__seat {
    @include roulette-seat;
  }

  &__seat-wrapper {
    @include roulette-seat-grid-positioning();
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10) {
      max-height: 64px;

      .roulette-seats__seat {
        width: 80px;
        height: 46px;
      }
    }
  }
}