// .seats {
//   @include seats{
//     .seat__seat-wrapper {
//       flex: 1
//     }
//   };
  
//   &__wrapper {
//     width: clamp(1em, 100%, 62rem);
//   }

// }

.seats {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}