<button type="button" mat-button class="common-button common-button--default" (click)="openSnackBar('Success', 'Close')">
    Show Success Snackbar
  </button>
  
  <button type="button" mat-button class="common-button common-button--default" (click)="openSnackBar('Warn', 'Close')">
    Show Warn Snackbar
  </button>
  
  <button type="button" mat-button class="common-button common-button--default" (click)="openSnackBar('Error', 'Close')">
    Show Error Snackbar
  </button>
  
  <button type="button" mat-button class="common-button common-button--default" (click)="openSnackBar('Info', 'Close')">
    Show Info Snackbar
  </button>