.table-antennas {
  overflow: auto;

  &__wrapper {
    display: block;

    &:first-child .table-antennas__container,
    &:last-child .table-antennas__container {
      &::before {
        display: none;
      }
      
      &::after {
        display: none;
      }
    }

    // &:last-child .table-antennas__container {
    //   &::after {
    //     display: none;
    //   }
    // }
  }
  
  &.content-row {
    flex: 1;
    justify-content: center;
    background-color: transparent !important;
  }
  
  &__container {
    @include bets-antennas-container;
    min-height: 20em;
  }
  
  .table-antenna {
    @include bet-antenna;
    --bet-size: 5rem;

    // + .table-antenna {
    //   margin: 1rem;
    // }
  }
}

