@mixin bet-antenna {
  --bet-size: 3rem;
  font-size: 1.3em;
  font-weight: 600;
  width: var(--bet-size);
  height: var(--bet-size);
  border-radius: 50%;
  border: 2px solid $w-primary;
  background-color: $white;
  display: flex;
  place-items: center;
  place-content: center;
  cursor: pointer;
  transition: all 150ms ease-out;
  transform: scale(1);
  opacity: 1;
  

  &.empty {
    cursor: default;
    text-indent: -999px;
    border-color: transparent;
    background-color: #e6e6e6;
    color: #999;
    box-shadow: none;
    transition: all 100ms ease-in;
    overflow: hidden;
  }

  &.dirty {
    box-shadow: 0 0 2px $black;
  }

  &.tapped {
    background-color: $w-primary-light;
  }

  &.mapped {
    background-color: $w-primary;
    border-color: $w-primary-light;
    box-shadow: none;
    opacity: 0;
    transform: scale(0) ;
    width: 0;
  }

  &.disabled,
  &.disabled:hover {
    cursor: default;
    border-color: #ccc;
    background-color: #e6e6e6;
    color: #999;
    box-shadow: none;
  }

  &:hover:not(.disabled):not(.empty) {
    border-color: $w-accent;
    box-shadow: 0 0 6px $black;
  }

}

@mixin bets-antennas-container {
  background-color: #f3f3f3;
  border: 2px solid #ccc;
  border-radius: 1in;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg) translateX(-50%);
    top: 5px;
    background: #ccc;
    left: 50%;
    border: 2px solid #ccc;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg) translateX(-50%);
    bottom: -20px;
    background: #ccc;
    left: 50%;
    border: 2px solid #ccc;
    z-index: -1;
  }
}