.card-man-rate {
  border: 1px solid $w-primary;
  border-radius: 0.5em;
  width: 40em;
  margin: 0 auto;
  height: 20em;
  background: $white;

  &__header {
    height: fit-content;
    padding: 0.3em 0;
    font-weight: 600;
  }

  &__main {
    background-color: $lighter-gold;
    flex: 1;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  &__title {
    text-align: center;
    background-color: $lighter-gold;
    width: inherit;
    padding: .3em 0;
    font-weight: 600;
  }

  &__content {
    background-color: $white;
    overflow: auto;
    height: calc(100% - 2rem);

    .wd-flex--dir-row + .wd-flex--dir-row {
      border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
}