//Styles for '2-columns' data-container.
%var-container {
  border: 1px solid $w2-primary-dark;
  height: 32vmin;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  font-size: 1rem;


  &__small-font-size {
    font-size: $font-base-size * .9;
  }

  &__link {
    color: $w2-primary-dark !important;
    font-size: $font-base-size * .9;
    height: 40px;
  }

  &__header {
    background-color: $light-gray;
    border-radius: 4px 4px 0 0;
    align-items: center;
    height: 2.5em;

    .mat-card-title {
      margin-bottom: 0;
    }

    ::ng-deep .mat-card-header-text {
      flex: 1;
    }
  }

  &__scrollable {
    height: calc(100% - 44px);
    overflow: hidden;
    overflow-y: auto;
  }
}

.card-container {
  @extend %var-container; //mixins

  small {
    @extend %var-container__small-font-size;
  }

  a {
    @extend %var-container__link;
  }

  .inner-content__scrollable {
    @extend %var-container__scrollable;
  }

  &__header {
    @extend %var-container__header;
  }

  .msg-no-data {
    line-height: 3;
    padding: 1vmin 2vmin;
  }

  .bet-list-item {
    height: 5em;
    display: flex;
    align-items: center;
    background: #fafafa;

    .mat-form-field {
      text-align: right;
      font-size: .9rem;
      font-weight: 600;
      max-width: 6em;
    }

    span {
      font-size: .9rem;
      font-weight: 600;
    }

    .value {
      background-color: $white;
      border: 1px solid #e9e9e9;
      width: 5em;
      text-align: right;
    }
    
  }
}

.block-panel .content-col {
  &--left {
    .card-container {
  
      &:after {
        content: '';
        position: absolute;
        top: 34%;
        right: -70px;
        border: 50px solid transparent;
        border-left: 20px solid rgba(187,145,86,.5);
        height: 0;
      }
    }
  }

  &--right {
    .card-container {
  
      &:before {
        content: '';
        position: absolute;
        top: 34%;
        left: -70px;
        border: 50px solid transparent;
        border-right: 20px solid rgba(187,145,86,.5);
        height: 0;
      }
    }
  }

  + .content-col {
    align-items: flex-end;
  }
}
