.block-panel {
  display: flex;
  @include mx-w2-font-body;

  &--lvl1,
  &--lvl2,
  &--lvl3 {
    cursor: default;
    display: flex;
    flex: 1;
  }

  &--lvl3 {
    align-items: center;
    box-shadow: 0 1px 0 $black-10;
    justify-content: space-between;
    padding: 1vmin 2vmin;

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}

.w2-hide.block-panel--lvl1 {
  border-top: 0 !important;
  margin: 0 !important;
}


::ng-deep .w2-theme {
  #mat-tab-content-0-2 .block-panel--lvl3,
  #mat-tab-content-0-5 .block-panel--lvl3 {
    padding: 0 2vmin;
  }

  .mat-tab-body {
    $shdw-color: rgba(0, 0, 0, .1);
    border: 1px solid $w2-primary;
    box-shadow: inset 0 0 3px $shdw-color;
    max-height: 54vh;
    padding: 0 2vmin .5vmin;
  }

  .mat-tab-body-content {
    padding: 1vmin 4px 2vmin;
  }
}

.block-panel .content-wrapper {
  .content-col--left,
  .content-col--right {
    flex: 1;
  }
}