.unmapped-bets {
  overflow: auto;

  &__wrapper {
    display: block;

    &:first-child .unmapped-bets__container {
      &::before {
        display: none;
      }
    }

    &:last-child .unmapped-bets__container {
      &::after {
        display: none;
      }
    }
  }
  
  &.content-row {
    flex: 1;
    justify-content: center;
    background-color: transparent !important;
  }

  &__container {
    @include bets-antennas-container;
  }
  
  .unmapped-bet {
    @include bet-antenna;

    // + .unmapped-bet {
    //   margin-left: 1rem;
    // }
  }
}

