// Mixin for Paddings

@mixin wd-paddings {
  @for $i from 0 through 5 {
    .pad-#{$i} {
      @if $i == 0 {
        padding: 0 !important;
      } @else if $i == 1 {
        padding: .25rem !important;
      } @else if $i == 2 {
        padding: .5rem !important;
      } @else if $i == 3 {
        padding: 1rem !important;
      } @else if $i == 4 {
        padding: 1.5rem !important;
      } @else if $i == 5 {
        padding: 3rem !important;
      }
    }

    .padx-#{$i} {
      @if $i == 0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
      } @else if $i == 1 {
        padding-left: .25rem !important;
        padding-right: .25rem !important;
      } @else if $i == 2 {
        padding-left: .5rem !important;;
        padding-right: .5rem !important;;
      } @else if $i == 3 {
        padding-left: 1rem !important;;
        padding-right: 1rem !important;;
      } @else if $i == 4 {
        padding-left: 1.5rem !important;;
        padding-right: 1.5rem !important;;
      } @else if $i == 5 {
        padding-left: 3rem !important;;
        padding-right: 3rem !important;;
      }
    }

    .pady-#{$i} {
      @if $i == 0 {
        padding-top: 0 !important;;
        padding-bottom: 0 !important;;
      } @else if $i == 1 {
        padding-top: .25rem !important;;
        padding-bottom: .25rem !important;;
      } @else if $i == 2 {
        padding-top: .5rem !important;;
        padding-bottom: .5rem !important;;
      } @else if $i == 3 {
        padding-top: 1rem !important;;
        padding-bottom: 1rem !important;;
      } @else if $i == 4 {
        padding-top: 1.5rem !important;;
        padding-bottom: 1.5rem !important;;
      } @else if $i == 5 {
        padding-top: 3rem !important;;
        padding-bottom: 3rem !important;;
      }
    }

    .padl-#{$i} {
      @if $i == 0 {
        padding-left: 0 !important;
      } @else if $i == 1 {
        padding-left: .25rem !important;
      } @else if $i == 2 {
        padding-left: .5rem !important;
      } @else if $i == 3 {
        padding-left: 1rem !important;
      } @else if $i == 4 {
        padding-left: 1.5rem !important;
      } @else if $i == 5 {
        padding-left: 3rem !important;
      }
    }

    .padr-#{$i} {
      @if $i == 0 {
        padding-right: 0 !important;
      } @else if $i == 1 {
        padding-right: .25rem !important;
      } @else if $i == 2 {
        padding-right: .5rem !important;
      } @else if $i == 3 {
        padding-right: 1rem !important;
      } @else if $i == 4 {
        padding-right: 1.5rem !important;
      } @else if $i == 5 {
        padding-right: 3rem !important;
      }
    }

    .padt-#{$i} {
      @if $i == 0 {
        padding-top: 0 !important;
      } @else if $i == 1 {
        padding-top: .25rem !important;
      } @else if $i == 2 {
        padding-top: .5rem !important;
      } @else if $i == 3 {
        padding-top: 1rem !important;
      } @else if $i == 4 {
        padding-top: 1.5rem !important;
      } @else if $i == 5 {
        padding-top: 3rem !important;
      }
    }

    .padb-#{$i} {
      @if $i == 0 {
        padding-bottom: 0 !important;
      } @else if $i == 1 {
        padding-bottom: .25rem !important;
      } @else if $i == 2 {
        padding-bottom: .5rem !important;
      } @else if $i == 3 {
        padding-bottom: 1rem !important;
      } @else if $i == 4 {
        padding-bottom: 1.5rem !important;
      } @else if $i == 5 {
        padding-bottom: 3rem !important;
      }
    }
  }
}

@include wd-paddings;



// Mixin for Margins

@mixin wd-margins {
  @for $i from 0 through 5 {
    .mrgn-#{$i} {
      @if $i == 0 {
        margin: 0 !important;
      } @else if $i == 1 {
        margin: .25rem !important;
      } @else if $i == 2 {
        margin: .5rem !important;
      } @else if $i == 3 {
        margin: .5rem !important;
      } @else if $i == 4 {
        margin: 1.5rem !important;
      } @else if $i == 5 {
        margin: 3rem !important;
      }
    }

    .mrgnx-#{$i} {
      @if $i == 0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
      } @else if $i == 1 {
        margin-left: .25rem !important;
        margin-right: .25rem !important;
      } @else if $i == 2 {
        margin-left: .5rem !important;;
        margin-right: .5rem !important;;
      } @else if $i == 3 {
        margin-left: .5rem !important;;
        margin-right: .5rem !important;;
      } @else if $i == 4 {
        margin-left: 1.5rem !important;;
        margin-right: 1.5rem !important;;
      } @else if $i == 5 {
        margin-left: 3rem !important;;
        margin-right: 3rem !important;;
      }
    }

    .mrgny-#{$i} {
      @if $i == 0 {
        margin-top: 0 !important;;
        margin-bottom: 0 !important;;
      } @else if $i == 1 {
        margin-top: .25rem !important;;
        margin-bottom: .25rem !important;;
      } @else if $i == 2 {
        margin-top: .5rem !important;;
        margin-bottom: .5rem !important;;
      } @else if $i == 3 {
        margin-top: .5rem !important;;
        margin-bottom: .5rem !important;;
      } @else if $i == 4 {
        margin-top: 1.5rem !important;;
        margin-bottom: 1.5rem !important;;
      } @else if $i == 5 {
        margin-top: 3rem !important;;
        margin-bottom: 3rem !important;;
      }
    }

    .mrgnl-#{$i} {
      @if $i == 0 {
        margin-left: 0 !important;
      } @else if $i == 1 {
        margin-left: .25rem !important;
      } @else if $i == 2 {
        margin-left: .5rem !important;
      } @else if $i == 3 {
        margin-left: .5rem !important;
      } @else if $i == 4 {
        margin-left: 1.5rem !important;
      } @else if $i == 5 {
        margin-left: 3rem !important;
      }
    }

   .mrgnr-#{$i} {
      @if $i == 0 {
        margin-right: 0 !important;
      } @else if $i == 1 {
        margin-right: .25rem !important;
      } @else if $i == 2 {
        margin-right: .5rem !important;
      } @else if $i == 3 {
        margin-right: .5rem !important;
      } @else if $i == 4 {
        margin-right: 1.5rem !important;
      } @else if $i == 5 {
        margin-right: 3rem !important;
      }
    }

    .mrgnt-#{$i} {
      @if $i == 0 {
        margin-top: 0 !important;
      } @else if $i == 1 {
        margin-top: .25rem !important;
      } @else if $i == 2 {
        margin-top: .5rem !important;
      } @else if $i == 3 {
        margin-top: .5rem !important;
      } @else if $i == 4 {
        margin-top: 1.5rem !important;
      } @else if $i == 5 {
        margin-top: 3rem !important;
      }
    }

    .mrgnb-#{$i} {
      @if $i == 0 {
        margin-bottom: 0 !important;
      } @else if $i == 1 {
        margin-bottom: .25rem !important;
      } @else if $i == 2 {
        margin-bottom: .5rem !important;
      } @else if $i == 3 {
        margin-bottom: .5rem !important;
      } @else if $i == 4 {
        margin-bottom: 1.5rem !important;
      } @else if $i == 5 {
        margin-bottom: 3rem !important;
      }
    }

    .mrgn-auto {
      margin: auto !important;
    }

    .mrgnx-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .mrgny-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
  }
}

@include wd-margins;


@mixin wd-flex {
  .wd-flex {
    // display: flex;

    &--dir-column {
      flex-direction: column;
    }
  
    &--dir-row {
      flex-direction: row;
    }
  
    &--align-items-start {
      align-items: flex-start;
    }
  
    &--align-items-center {
      align-items: center;
    }
  
    &--align-items-end {
      align-items: flex-end;
    }

    &--align-items-stretch {
      align-items: stretch;
    }

    &--align-self-start {
      align-self: flex-start;
    }

    &--align-self-end {
      align-self: flex-end;
    }

    &--align-self-center {
      align-self: center;
    }

    &--align-self-stretch {
      align-self: stretch;
    }
  
    &--justify-content-start {
      justify-content: flex-start;
    }
  
    &--justify-content-center {
      justify-content: center;
    }
  
    &--justify-content-end {
      justify-content: flex-end;
    }

    &--justify-content-space-between {
      justify-content: space-between;
    }

    &--place-at-center {
      place-content: center;
      place-items: center;
    }

    &--wrap {
      flex-wrap: wrap;
    }
  }
  
}

@include wd-flex;