<mat-tab-group class="wd-tab-group">
    <mat-tab label="First">
        <div class="wd-row">
            <app-wd-table></app-wd-table>
        </div>
    </mat-tab>
    <mat-tab label="Cdk Table">
        <div class="wd-row">
            <table cdk-table [dataSource]="dataSource" class="cdk-table">
                <!-- Position Column -->
                <ng-container cdkColumnDef="position">
                  <th cdk-header-cell *cdkHeaderCellDef> No. </th>
                  <td cdk-cell *cdkCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container cdkColumnDef="name">
                  <th cdk-header-cell *cdkHeaderCellDef> Name </th>
                  <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container cdkColumnDef="weight">
                  <th cdk-header-cell *cdkHeaderCellDef> Weight </th>
                  <td cdk-cell *cdkCellDef="let element"> {{element.weight}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container cdkColumnDef="symbol">
                  <th cdk-header-cell *cdkHeaderCellDef> Symbol </th>
                  <td cdk-cell *cdkCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
              
                <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
                <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </mat-tab>
    <mat-tab label="Third">
        <div class="wd-row">
            Third
        </div>
    </mat-tab>

    <mat-tab label="Fourth">
        <div class="wd-row">
            Fourth
        </div>
    </mat-tab>
    <mat-tab label="Fifth">
        <div class="wd-row">
            Fifth
        </div>
    </mat-tab>
    

    
</mat-tab-group>
