
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@use 'styles/common' as common;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ui-components-primary: mat.define-palette(mat.$indigo-palette);
$ui-components-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$ui-components-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ui-components-theme: mat.define-light-theme((
  color: (
    primary: $ui-components-primary,
    accent: $ui-components-accent,
    warn: $ui-components-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ui-components-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {font-size: 16px; }

* {
  // @include common.set-font-family();
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}