<mat-expansion-panel class="chipset-panel"
    [ngClass]="{
        'hide-tbl-footer': !hideFooter,
        'chipset--valid': locCSStatus == 'valid', 
        'chipset--invalid': locCSStatus == 'invalid', 
        'chipset--notallowed': locCSStatus == 'not-allowed'}">
    <mat-expansion-panel-header>
        <div class="data-column">
            <div class="label">
                {{locCSStatus == 'invalid'? 'Invalid' : 'Chip Set'}}
            </div>
            <div *ngIf="locCSStatus !== 'invalid'" class="value">Chip Set 001</div>
        </div>
        <div class="data-column">
            <div class="label">Count</div>
            <div class="value">{{120}}</div>
        </div>
        <div class="data-column">
            <div class="label">Value</div>
            <div class="value">{{20000000 | currency:'IND':'Rs. ':'2.0'}}</div>
        </div>
    </mat-expansion-panel-header>
    <div class="wd-row">
        <table class="denom-table">
            <thead>
                <tr>
                    <td class="wd-text-left">Denominations</td>
                    <td class="wd-text-center">Count</td>
                    <td class="wd-text-right">Value</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="wd-text-left">{{100000 | number}}</th>
                    <th class="wd-text-center">10</th>
                    <th class="wd-text-right">{{100000 * 10 | currency:'IND':'Rs. ':'2.0'}}</th>
                </tr>
                <tr>
                    <th class="wd-text-left value">{{50000 | number}}</th>
                    <th class="wd-text-center">20</th>
                    <th class="wd-text-right">{{50000 * 20 | currency:'IND':'Rs. ':'2.0'}}</th>
                </tr>
            </tbody>
            <tfoot *ngIf="!hideFooter">
                <tr>
                    <td class="wd-text-left">Total</td>
                    <td class="wd-text-center">{{10 + 20}}</td>
                    <td class="wd-text-right">{{20000000 | currency:'IND':'Rs. ':'2.0'}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</mat-expansion-panel>
