@import '../../../styles/variables', '../../../styles/mixins' ;

$cs-panel-border:               $w2-primary;
$cs-surface-color:              $w2-white;
$cs-header-surface-color:       $lighter-gold;
$cs-border-color:               rgba(0, 0, 0, .2);
$cs-panel-text-color:           $w2-black;
$cs-panel-text-rev-color:       $w2-primary-50;
$cs-valid-color:                $green;
$cs-invalid-color:              $error-red;
$cs-notallowed-color:           $yellow-brighter;
$cs-valid-surface-color:        #eefcf6;
$cs-invalid-surface-color:      #fbebe9;
$cs-notallowed-surface-color:   #fffceb;
$cs-border-style:               1px solid $cs-panel-border;

@mixin chipset-panel-text {
    @include set-font-family();
    @include include-font-style(1rem, 600, 1.3);
    color: $cs-panel-text-color;
    letter-spacing: .2px;
}

@mixin set-border-color($color: $cs-panel-border) {
    border-color: $color;
}

.chipset-panel {
    min-height: 48px;
    min-width: 400px;
    border: $cs-border-style;
    border-radius: 4px;
    background-color: $cs-surface-color;
    box-shadow: 0 2px 4px 0 $cs-border-color;

    ::ng-deep .mat-expansion-panel-body {
        padding: 0;
    }

    .mat-expansion-panel-header {
        background-color: $cs-surface-color;
        gap: 2em;

        &.mat-expanded {
            background-color: $cs-header-surface-color;

            // .data-column:nth-child(2),
            // .data-column:nth-child(3) {
            //     display: none;
            // }
        }
    }

    + .chipset-panel {
        margin-top: 1em;
    }
}

%label {
    @include chipset-panel-text;
    font-size: .75rem;
    opacity: .5;
}

%value {
    @include chipset-panel-text;
    opacity: 0.87;
}

.data-column {
    display: flex;
    flex: 1;
    flex-direction: column;

    &:nth-child(2){
        text-align: center;
    }

    &:nth-child(3){
        text-align: right;
    }

    .label {
        @extend %label;
    }

    .value {
        @extend %value;
        @include add-ellipsis;
    }
}

.denom-table {
    @include set-font-family();
    border-collapse: collapse;
    width: 100%;

    thead tr,
    tfoot tr {
        background-color: $cs-panel-text-color;
        color: $cs-panel-text-rev-color;
    }

    thead tr td {
        @extend %label;
        color: $cs-panel-text-rev-color;
        opacity: 1;

        &:first-child {
            padding: 0 0 0 1.5rem;
        }

        &:nth-child(2){
            width: 14em;
        }

        &:last-child {
            padding: 0 4rem 0 0;
        }
    }

    tbody tr th {
        @extend %value;
        @include add-ellipsis;
        max-width: 100%;

        &:first-child {
            padding: 0 0 0 1.5rem;
            width: 41%;
        }

        &:nth-child(2){
            width: 10rem;
        }

        &:last-child {
            padding: 0 4em 0 0;
        }
    }

    tfoot tr td {
        @extend %value;
        color: $cs-panel-text-rev-color;

        &:first-child {
            padding: 0 0 0 1.5rem;
        }

        // &:nth-child(2){
        //     width: 14em;
        // }

        &:last-child {
            padding: 0 4rem 0 0;
        }
    }
}

.chipset-panel.chipset {
    &--valid,
    &--valid.hide-tbl-footer {
        @include set-border-color($cs-valid-color);
    
        .mat-expansion-panel-header.mat-expanded {
            background-color: $cs-valid-surface-color;
        }
    }
    
    &--invalid,
    &--invalid.hide-tbl-footer  {
        @include set-border-color($cs-invalid-color);

         .mat-expansion-panel-header .data-column:first-child {
            justify-content: center;

            .label {
                color: $cs-invalid-color;
                font-size: 1em;
                font-weight: bold;
                opacity: 1;
            }
        }
    
        .mat-expansion-panel-header.mat-expanded {
            background-color: $cs-invalid-surface-color;
        }
    }
    
    &--notallowed,
    &--notallowed.hide-tbl-footer  {
        @include set-border-color($cs-notallowed-color);
    
        .mat-expansion-panel-header.mat-expanded {
            background-color: $cs-notallowed-surface-color;
        }
    }
}

.chipset-panel.hide-tbl-footer {
    .mat-expansion-panel-header.mat-expanded {
        background-color: $cs-header-surface-color;

        .data-column:nth-child(2),
        .data-column:nth-child(3) {
            display: none;
        }
    }
}

