@import '../../styles/variables', '../../styles/utilities', '../../styles/mixins' ;

@mixin btn-thumbnail-text {
    @include set-font-family();
    @include include-font-style(.9rem, 500, 1.3);
    text-transform: uppercase;
    color: $w2-primary-dark;
    letter-spacing: 0.2px;
}

.btn-thumbnail {
   @include btn-thumbnail-text;
    background-color: $w2-white;
    border: 1px solid currentColor;
    border-radius: .5rem;
    width: 12rem;
    // height: 8rem;
    white-space: normal;
    line-height: 1.3;
    padding: 1em;
    background-color: #fde2f0;
    color: #28285e;
}

:host {
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    overflow: auto;
    margin: auto;
    max-width: 1026px;
    padding: 1em;
}

.section-button-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}