<section class="section-button-links">
  <button mat-raised-button class='btn-thumbnail' routerLink="/buy-ins">
      New Buy Ins
  </button>
  <button mat-raised-button class='btn-thumbnail' routerLink="/cluster-antenna">
      Cluster Antenna
  </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/treasury">
        Treasury
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/cashier-window">
        Cashier Window
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/chipsets">
        Chip Sets
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/blocks">
        Other Blocks
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/change-tab">
        Tab Change
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/tabletypes">
        Table Types
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/snackbars">
        Snackbars
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/dealer-display">
        Dealer Display UI
    </button>

</section>

<mat-divider></mat-divider>

<section class="section-button-links">
    <button mat-raised-button class='btn-thumbnail' routerLink="/ag-game-template">
        Create Game Template 
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/bottom-nav">
        Bottom Nav Links
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/breadcrumbs">
        Breadcrumbs
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/buttons">
        Buttons
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/chipset">
        Chip Set
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/tabs">
        Data Not Available
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/dialogs">
        Dialogs
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/filters">
        Filters
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/icons">
        Icons
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/location-cards">
        Location Card
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/menu">
        Menu
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/wd-snackbar">
        Snackbar
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/spinner">
        Spinners
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/sub-nav-bar">
        Sub Nav Bars
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/tables">
        Tables
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/tabs">
        Tabs
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/tooltip">
        Tooltip
    </button>
    <button mat-raised-button class='btn-thumbnail' routerLink="/top-nav-bar">
        Top Nav Bars
    </button>
</section>
<mat-divider></mat-divider>
<section>
    <button mat-raised-button class='btn-thumbnail' routerLink="/animations">Animations</button>
</section>
