<main class="wd-container tab-change-ui">
    <div class="wd-flex tab-change-ui__content"
        [ngClass]="{'change-mismatched': isChangeMismatched, 'change-matched': isChangeMatched}">
        <div class="wd-flex wd-col-5" style="margin: 0 auto">
    
            <!-- CHIPS IN -->
    
            <mat-card class="mat-elevation-z2" [ngClass]="{'active': isCardChipsInActive}">
                <mat-card-title>
                    <h3>Chips In</h3>
                </mat-card-title>
                <mat-card-content [ngClass]="{'display-grid': isMoreChipsInPlaced}" style="gap: 1em">
                    
                    <ng-container *ngIf="timeCounter != 0">
                    <!-- <ng-container *ngIf="isInitiatingChange"> -->
                        <div class="block-place-chips">
                            <div class="wd-flex wd-flex-column wd-align-items-center">
                                <mat-icon class="icon-chips-placing"></mat-icon>
                                <h1 class='wd-title title-place-chips'>Place chips on antenna</h1>
                            </div>
                        </div>
                    </ng-container>

                    <mat-spinner class="wd-spinner" role="progressbar" *ngIf="(timeCounter == 0) && !isChipsInPlaced && !isAggregatingChipsIn" ></mat-spinner>
        
                    <ng-container *ngIf="isChipsInPlaced">
                        <div class="chipset-panels">
                            <ng-container *ngFor="let panel of panels">
                                <app-chipset></app-chipset>
                            </ng-container>
                        </div>
                    </ng-container>
        
                    <ng-container *ngIf="isAggregatingChipsIn">
                        <div class="block-place-chips"
                            (click)="onAggregatingChipsIn()"
                            *ngIf="!isMoreChipsInPlaced">
                            <div class="wd-flex wd-flex-column wd-align-items-center">
                                <mat-icon class="icon-chips-placing"></mat-icon>
                                <h1 class='wd-title title-place-chips'>Place chips on antenna</h1>
                            </div>
                        </div>
        
                        <ng-container *ngIf="isMoreChipsInPlaced">
                            <div class="chipset-panels">
                                <ng-container *ngFor="let panel of panels">
                                    <app-chipset></app-chipset>
                                </ng-container>
                            </div>
                        </ng-container>
                        
                        <div class="wd-flex wd-flex-column wd-flex-w-100">
                            <mat-divider></mat-divider>
                            <div class="wd-flex aggregated-chips-details">
                                <details>
                                    <summary>
                                        <span class="label">Aggregated Total:</span>
                                        <span class="value">55,000 (350)</span>
                                    </summary>
                                    <div class="chipset-panels">
                                        <ng-container *ngFor="let panel of panels">
                                            <app-chipset></app-chipset>
                                        </ng-container>
                                    </div>
                                </details>
                            </div>
                        </div>
                    </ng-container>
                </mat-card-content>
        
                <mat-card-footer>
                    <footer class="wd-flex card-footer-values">
                        <ng-container *ngIf="!isInitiatingChange">
                            <h3 class="wd-col" style="text-align: left">Total Value</h3>
                            <h3 class="wd-col" style="text-align: center">{{350}}</h3>
                            <h3 class="wd-col" style="text-align: right">{{55000 | number}}</h3>
                        </ng-container>
                    </footer>
                </mat-card-footer>
            </mat-card>
        </div>
    
    
        <div class="wd-flex wd-col-2">
            <div class="wd-flex" style="margin: auto; flex-direction: column; gap: 8em">
                <button mat-stroked-button class="btn-add-player">
                    <mat-icon class="icon-add-player"></mat-icon>
                    <span style='padding-left: .5em'>Player</span>
                </button>

                <ng-container *ngIf="timeCounter != 0">
                    <h1>{{timeCounter}}</h1>
                </ng-container>
        
                <mat-radio-group aria-label="Select an option"
                    [ngStyle]="(isChipsOutPlaced || isMoreChipsOutPlaced)? {'display': 'block'} : {'display': 'none'}"
                    color="primary" 
                    (change)="onRadioChange($event)" 
                    [disabled]="!isChipsOutPlaced && !isMoreChipsOutPlaced">
                    <div class="wd-flex" style="font-size: 1.5rem; flex-direction: column; gap: 1em" >
                        <mat-radio-button value="1" [checked]="true">Mismatched</mat-radio-button>
                        <mat-radio-button value="2" >Matched</mat-radio-button>
                        <mat-radio-button value="3" >Remove Chips</mat-radio-button>
                    </div>
                </mat-radio-group>
        
                <button mat-raised-button type="button" 
                    class="common-button" 
                    [ngClass]="((!isChipsInPlaced && !isAggregatingChipsIn) || isChangeMatched || isMsgRemoveChips || isMsgPlaceChipsOut) ? 'common-button--disabled' : 'common-button--accent-fill'"
                    (click)="onAggregatingChips()" [disabled]="(!isChipsInPlaced && !isAggregatingChipsIn) || isChangeMatched || isMsgRemoveChips || isMsgPlaceChipsOut">
                    <mat-icon>add</mat-icon>
                    <span>Add More</span>
                </button>
            </div>
        </div>
    
    
        <div class="wd-flex wd-col-5" style="margin: auto">
            <mat-card class="mat-elevation-z2 change-card--chipsout" [ngClass]="{'active': isCardChipsOutActive}">
        
                <!-- CHIPS OUT -->
        
                <mat-card-title>
                    <h3>Chips Out</h3>
                </mat-card-title>
                <mat-card-content [ngClass]="{'display-grid': isMoreChipsOutPlaced}">
                    <ng-container *ngIf="!isMsgPlaceChipsOut && !isChipsOutPlaced && !isAggregatingChipsOut">
                        <button mat-stroked-button type="button" 
                            class="common-button add-btn-chipsets" 
                            [ngClass]="!isChipsInPlaced && !isAggregatingChipsIn ? 'common-button--disabled': ''"
                            (click)="onMsgPlaceChipsOut()"
                            [disabled]="!isChipsInPlaced && !isAggregatingChipsIn">
                            <mat-icon style="transform: scale(5)">add</mat-icon><br>
                            <span style="position: relative; top: 2em" *ngIf="!(!isChipsInPlaced && !isAggregatingChipsIn)"><em>Tap to Chips Out</em></span>
                        </button>
                    </ng-container>
        
                    <ng-container *ngIf="isMsgPlaceChipsOut">
                        <div class="block-place-chips"
                            (click)="onPlacingChipsOut()">
                            <div class="wd-flex wd-flex-column wd-align-items-center">
                                <mat-icon class="icon-chips-placing"></mat-icon>
                                <h1 class='wd-title title-place-chips'>Place chips on antenna</h1>
                            </div>
                        </div>
                    </ng-container>
        
                    <ng-container *ngIf="isChipsOutPlaced">
                        <div class="chipset-panels">
                            <ng-container *ngFor="let panel of panels">
                                <app-chipset></app-chipset>
                            </ng-container>
                        </div>
                    </ng-container>
        
                    <ng-container *ngIf="isAggregatingChipsOut">
                        <div class="block-place-chips"
                            (click)="onAggregatingChipsOut()"
                            *ngIf="!isMoreChipsOutPlaced">
                            <div class="wd-flex wd-flex-column wd-align-items-center">
                                <mat-icon class="icon-chips-placing"></mat-icon>
                                <h1 class='wd-title title-place-chips'>Place chips on antenna</h1>
                            </div>
                        </div>
        
                        <ng-container *ngIf="isMoreChipsOutPlaced">
                            <div class="chipset-panels">
                                <ng-container *ngFor="let panel of panels">
                                    <app-chipset></app-chipset>
                                </ng-container>
                            </div>
                        </ng-container>
                        
                        <div class="wd-row">
                            <div class="wd-flex wd-flex wd-flex-column wd-flex-width-100">
                                <mat-divider></mat-divider>
                                <div class="wd-flex aggregated-chips-details">
                                    <details>
                                        <summary><span class="label">Aggregated Total:</span> <span class="value">55,000 (350)</span></summary>
                                        <div class="chipset-panels">
                                            <ng-container *ngFor="let panel of panels">
                                                <app-chipset></app-chipset>
                                            </ng-container>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </mat-card-content>
                <mat-card-footer>
                    <footer class="wd-flex card-footer-values">
                        <ng-container *ngIf="isChipsOutPlaced || isAggregatingChipsOut">
                            <h3 class="wd-col">Total Value</h3>
                            <h3 class="wd-col" style="text-align: center">{{350}}</h3>
                            <h3 class="wd-col" style="text-align: right">{{55000 | number}}</h3>
                        </ng-container>
                    </footer>
                    <footer class="wd-row control-buttons-row">
                        <div class="wd-flex">
                            <button mat-stroked-button type="button" 
                                class="common-button"
                                [ngClass]="{'common-button--disabled': !isChipsOutPlaced}"
                                [disabled]="!isChipsOutPlaced">Cancel</button>
                            <button mat-stroked-button type="button" 
                                class="common-button"
                                [ngClass]="isChangeMatched? 'common-button--primary' : 'common-button--disabled'"
                                (click)="onBtnConfirm()"
                                [disabled]="!isChangeMatched">Confirm</button>
                        </div>
                    </footer>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</main>

<div class="wd-backdrop" *ngIf="isMsgRemoveChips">
    <div class="wd-flex" style="width: 100%; height: 100%">
        <div class="wd-flex wd-flex-center wd-flex-width-100">
            <h1 class="info-remove-text">Remove chips from the antenna</h1>
        </div>
    </div>
</div>
