@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mixins;

$device-max-width:              1366px;

$card-surface-color:                vars.$w2-white;
$card-surface-disabled-color:       #F5F5F5;

$card-header-surface:               #dbdbdb;
$card-header-surface-active:        vars.$w2-primary;

$card-footer-surface:               $card-header-surface;
$card-footer-surface-active:        vars.$lighter-gold;

$card-text-color:                   vars.$w2-black;
$card-text-disabled-color:          #A8A8A8;
$card-text-active:                  $card-surface-color;

$card-change-mismatched:            vars.$yellow;
$card-change-matched:               vars.$green-brighter;

$card-outline-color:                #BBBBBB;
$card-outline-active:               $card-header-surface-active;
$card-default-outline:              $card-outline-color;
$card-primary-outline:              $card-header-surface-active;
$card-mismatched-outline:           vars.$yellow-dark;
$card-matched-outline:              vars.$green-brighter;

$add-btn-surface-color:             vars.$w2-accent;

@mixin change-card-title-text {
    @include mixins.set-font-family('Arial Black');
    @include mixins.include-font-style(1.5rem, 500, 1.5);
    color: $card-text-disabled-color;
    margin-bottom: 0;  
    text-transform: uppercase;
}

@mixin change-card-footer-text {
    @include change-card-title-text;
    @include mixins.include-font-style(1.25rem, 500, 1.5);
    color: $card-text-disabled-color;
    text-transform: none;
}

@mixin add-btn-before-chips-in {
    &:before {
        content: "";
        border: 20px solid transparent;
        position: absolute;
        left: -28px;
        z-index: 1;
        border-right: 12px solid $add-btn-surface-color;
        width: 0;
        height: 0;
    }
}

:host {
    $max-width: 1366px;
    display: grid;
    grid-template-columns: 5fr, 2fr, 5fr;
    // gap: 1em;
    overflow: auto;
    // margin: auto;
    max-width: calc($max-width - 20em);
    position: relative;
}


.tab-change-ui {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    position: relative;

    &__content {
        justify-content: space-between; 
        gap: 1em;
        height: 100%; 
        max-width: $device-max-width;
        margin: 0 auto;
        padding: 1em 0;
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 2fr 5fr;
        margin: 0 auto;
        display: flex;
    }

    .mat-card {
        border: 2px solid $card-default-outline;
        flex: 1;
        padding: 0;
        min-width: 27rem;

        &-title {
            background-color: $card-header-surface;
            padding: 0.25em 1em;
            text-align: center;
            margin-bottom: 0;

            h3 {
                @include change-card-title-text;
            }
        }

        &-content {
            background-color: $card-surface-disabled-color;
            height: 30.4rem;
            overflow: auto;
            padding: 1em;
            margin-bottom: 0;

            &.display-grid {
                display: grid;
            }
        }

        &-footer {
            background-color: $card-header-surface;
            min-height: 3rem;
            padding: .5em 1.5em .5em 1em;
            text-align: center;
            margin: 0;
            
            h3 {
                @include change-card-footer-text;
            }
        }

        .card-footer-values {
            align-items: center;
            min-height: 3rem;
        }

        &.active {
            border-color: $card-primary-outline;
        }

        &.active .mat-card {
            &-title {
                background-color: $card-header-surface-active;
    
                h3 {
                    color: $card-surface-color;
                }
            }

            &-content {
                background-color: $card-surface-color;
            }
    
            &-footer {
                background-color: $card-footer-surface-active;

                h3 {
                    color: $card-text-color;
                    display: block;
                }
            }
        }

        &.change-card--chipsout .mat-card {
            &-content {
                height: 26.6rem;
            }

            &-footer {
                padding-bottom: 0;
                
                h3 {
                    display: none;
                }
    
                .control-buttons-row {
                    background-color: $card-surface-color; 
                    padding: .5em 1.5em .5em 1em;
                    margin: 0 -1.5em 0 -1em;
    
                    .wd-flex {
                        flex-basis: 100%;
                        justify-content: flex-end;
                    }
                }
            }
        }

        &.change-card--chipsout.active .mat-card-footer {
            h3 {
                display: block;
            }
        }
    }

    .chipset-panels {
        display: flex;
        flex-direction: column;
        gap: .25em;
        height: 100%;
        overflow: auto;
    }

    app-chipset ::ng-deep .chipset-panel {
        min-width: 398px;

        .mat-expansion-panel-header {
            gap: 1em;
            padding: 0 1em;

            &.mat-expanded {
                height: 3rem;
            }
        }

        .mat-expansion-panel-content ::ng-deep .denom-table {
            thead tr td:last-child {
                padding: 0 3em 0 0;
            }
    
            tbody tr th:last-child {
                padding: 0 2em 0 0;
            }
    
            tfoot tr td:last-child {
                padding: 0 2em 0 0;
            } 
        }
    }

    .block-place-chips {
        background-color: $card-surface-color;
        border-radius: 8px;
        margin: auto;
        padding: 1em 2em;
        position: relative;
        transition: all 500ms;
    
        mat-icon.icon-chips-placing {
            @include mixins.icon-chips-placing;
    
            + h1 {
                margin-top: .25em;
            }
        }
    }

    .wd-title {
        @include mixins.set-font-family();
        @include mixins.set-color($card-header-surface-active);
        margin-bottom: 0;
    }
    
    .title-place-chips {
        @include mixins.include-font-style(2.5rem, 600, 1.5);
        text-align: center;
    }

    .btn-add-player {
        @include mixins.btn-add-player;
    }

    .common-button + .common-button {
        margin-left: 1em;
    }
}

.aggregated-chips-details {
    flex-direction: column;
    height: 100%;
    max-height: 12.8rem; 
    overflow: auto;
    padding-top: 1em;
    width: 100%; 
    
    &:hover {
        cursor: pointer;
    }

    summary {
        @include mixins.set-font-family();
        @include mixins.include-font-style(1rem, 600, 1.3);
        background-color: $card-surface-color;
        border: 1px solid $card-header-surface-active;
        border-radius: .25em;
        margin-bottom: .5em;
        padding: .5em 1em;

        .label {
            opacity: .35;
        }

        .value {
            font-size: 1.5rem;
            padding-left: .5em;
        }
    }
}


.tab-change-ui__content {
    &.change-mismatched,
    &.change-matched {
        .mat-card,
        .mat-card.change-card--chipsout.active {
            border-color: $card-mismatched-outline;

            .mat-card-title,
            .mat-card-footer {
                background-color: $card-change-mismatched;
    
                h3 {
                    color: $card-text-color;
                }
            }

            .mat-card-content {
                background-color: $card-surface-color;
            }
        }
    }

    &.change-matched {
        .mat-card,
        .mat-card.change-card--chipsout.active {
            border-color: $card-matched-outline;

            .mat-card-title,
            .mat-card-footer {
                background-color: $card-change-matched;

                h3 {
                    color: $card-surface-color;
                }
            }
        }
    }
}


@mixin set-element-block-center($dir: 'v'){
    @if($dir == 'h') {
        left: 50%;
        transform: translateX(-50%);
    } @else {
        top: 50%;
        transform: translateY(-50%);
    }
    
}

.add-btn-chipsets {
    @include mixins.set-size(15rem);
    @include mixins.set-color($card-header-surface-active);
    @include set-element-block-center();
    display: block;
    margin: auto;
}



$spinner-color: $card-header-surface-active;
@mixin set-spinner-color($color: $spinner-color) {
    stroke: $color;
}

.mat-progress-spinner,
.mat-spinner {
    ::ng-deep circle {
        @include set-spinner-color;
    }
}


.wd-spinner {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.wd-backdrop {
    background-color: rgba(0,0,0,0.85);
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    .info-remove-text {
        @include mixins.include-font-style(4rem, 500, 1.5);
        color: vars.$w2-text-info;
    }
}

