.server-not-available {
  font-family: vars.$w2-ff-fat;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .25em;
  min-width: 30rem;
  width: max-content;
  min-height: 10rem;
  user-select: none;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em auto;
  transition: color 100ms linear, background-color 100ms linear;

  &.type-4 {
      font-family: vars.$w2-ff-fat;
      @include utils.include-font-style(9vmin, 400, 1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: vars.$border-radius4 * 2;
      color: vars.$error-red;
      background-color: vars.$white;
      width: 60vw;
      height: 30vh;
      user-select: none;
      text-align: center;
      padding: 0.5em;

      // Following code can be used to change 'position' style to absolute
      // .position-absolute {
      //     position: absolute;
      //     left: 50%;
      //     top: 50%;
      //     transform: translateX(-50%) translateY(-50%);
      // }
  }

  &.type-1 {
      animation: alert-flicker1 2500ms linear infinite;
  }

  &.type-2 {
      background-color: $wd-tab-surface-white;
      animation: alert-flicker2 1000ms linear infinite;
  }

  &.type-3 {
      border: 1rem solid $wd-tab-surface-white;
      animation: alert-flicker3 1000ms linear infinite;
  }
  

  @keyframes alert-flicker1 {
      0% {
          background-color: $wd-tab-surface-white;
          color: vars.$error-red;
      }

      10% {
          background-color: vars.$error-red;
          color: $wd-tab-surface-white;
      }

      20% {
          background-color: $wd-tab-surface-white;
          color: vars.$error-red;
      }

      30% {
          background-color: vars.$error-red;
          color: $wd-tab-surface-white;
      }

      40% {
          background-color: $wd-tab-surface-white;
          color: vars.$error-red;
      }

      50% {
          background-color: vars.$error-red;
          color: $wd-tab-surface-white;
      }

      60% {
          background-color: $wd-tab-surface-white;
          color: vars.$error-red;
      }

      70% {
          background-color: vars.$error-red;
          color: $wd-tab-surface-white;
      }

      80% {
          background-color: $wd-tab-surface-white;
          color: vars.$error-red;
      }

      90% {
          background-color: vars.$error-red;
          color: $wd-tab-surface-white;
      }

      100% {
          background-color: $wd-tab-surface-white;
          color: vars.$error-red;
      }
  }

  @keyframes alert-flicker2 {
      0% {
          color: vars.$error-red;
      }

      33% {
          color: $wd-tab-surface-white;
      }

      66% {
          color: vars.$error-red;
      }

      99% {
          color: $wd-tab-surface-white;
      }
  }

  @keyframes alert-flicker3 {
      0% {
          background-color: $wd-tab-surface-white;
          color: vars.$error-red;
      }

      20% {
          background-color: vars.$error-red;
          color: $wd-tab-surface-white;
      }

      40% {
          background-color: $wd-tab-surface-white;
          color: vars.$error-red;
      }

      60% {
          background-color: vars.$error-red;
          color: $wd-tab-surface-white;
      }

      80% {
          background-color: $wd-tab-surface-white;
          color: vars.$error-red;
      }

      100% {
          background-color: vars.$error-red;
          color: $wd-tab-surface-white;
      }
  }
}