.show__no-data-txt {
  text-align: center;
  background-color: $wd-tab-surface-color;// transparentize($gold, 0.85);
  margin: 0 auto;
  min-width: 40vw;
  width: max-content;
  border: 1px solid $wd-tab-surface-color; //transparentize($gold, 0.7);
  border-radius: vars.$border-radius;
  position: relative;
  margin-top: 1em;
  max-height: 4em;
  background-color: #f2ece2;//similar to transparentize($gold, 0.85) but have no opacity

  h4,
  &.type-span {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem;
    color: vars.$red;
    margin-bottom: 0;
  }
}