@use '../../../../styles/variables' as vars;
@use 'utilities' as utils;

$wd-tab-surface-color:      vars.$w2-primary;
$wd-tab-surface-white:      vars.$white;
$wd-tab-text-color:         vars.$w2-black;
$wd-control-input-color:    vars.$w2-primary-dark;
$wd-control-accent-color:   vars.$w2-accent;
$wd-control-invalid-color:  vars.$error-red;
