@mixin add-active-tab-indicator {
  &:after {
      content: "";
      border: 8px solid $wd-tab-surface-color;
      position: absolute;
      height: 4px;
      bottom: 0;
      border-top: none;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      margin: 0 auto;
      left: calc(50% - 4px);
  }
}

.wd-tab-group.mat-tab-group {
  .mat-tab-label ::ng-deep {
      @include utils.set-font-family();
      @include utils.include-font-style(.9rem, 600, 1.5);
      color: $wd-tab-text-color;
      opacity: .6;

      &.mat-tab-label-active {
          color: $wd-tab-surface-color;
          opacity: 1;
      }
  }

  .mat-ink-bar {
      @include add-active-tab-indicator;
      background-color: $wd-tab-surface-color;
  }
}