@import 'mixins';

$w2-black-alpha50: rgba(0, 0, 0, .5);
$w2-black-alpha30: rgba(0, 0, 0, .3);
$w2-black-alpha10: rgba(0, 0, 0, .1);
// w2 mixins
// overline text are used above the main text
// Font size: Default size * 0.625
@mixin mx-w2-font-overline($wt: $w2-fw-normal) {
  font-family: $w2-ff-default;
  font-size: $w2-fs-overline;
  letter-spacing: .2px;
  color: $w2-primary;
  font-weight: $wt;
}


// Body text can be styled in 3 ways:
// Type 1: Default size is the main text size
// Type 2: Default size * 0.875
// Type 3: Default size * 0.75
@mixin mx-w2-font-body($type: 1, $wt: $w2-fw-normal) {
  font-family: $w2-ff-default;
  color: $w2-black;
  font-weight: $wt;

  @if $type == 1 {
    font-size: $w2-fs-body1;
    letter-spacing: .15px;
  } @else if $type == 2 {
    font-size: $w2-fs-body2;
    letter-spacing: .1px;
  } @else if $type == 3 {
    font-size: $w2-fs-body3;
    letter-spacing: .25px;
  }
}


// Button Font size is usually bigger than the Default font size by 1.1875
@mixin mx-w2-font-button {
  font-family: $w2-ff-default;
  font-size: $w2-fs-button;
  letter-spacing: .15px;
  color: $w2-black;
  font-weight: $w2-fw-bold;
}


// Headline styling
// Type 1: Default * 1.9375
// Type 2: Default * 1.5625
// Type 3: Default * 1.375
// Type 4: Default * 1.125
// Type 5: Default
// Type 6: Default * 0.875
@mixin mx-w2-headline($type: 1) {
  font-family: $w2-ff-headline;
  color: $w2-black;
  font-weight: $w2-fw-thin;
  line-height: 1.5;

  @if $type == 1 {
    font-size: $w2-fs-headline1;
    letter-spacing: .15px;
  } @else if $type == 2 {
    font-size: $w2-fs-headline2;
    letter-spacing: .15px;
  } @else if $type == 3 {
    font-size: $w2-fs-headline3;
    letter-spacing: .15px;
  } @else if $type == 4 {
    font-size: $w2-fs-headline4;
    letter-spacing: .15px;
  } @else if $type == 5 {
    font-size: $w2-fs-headline5;
    letter-spacing: .1px;
  } @else if $type == 6 {
    font-size: $w2-fs-headline6;
    letter-spacing: .1px;
    font-weight: $w2-fw-normal;
  }
}


// Title styling
// Type 1: Default * 1.5
// Type 2: Default * 1.1875
@mixin mx-w2-title($type: 1){
  font-family: $w2-ff-subheading;
  color: $w2-primary-dark;
  font-weight: $w2-fw-normal;
  letter-spacing: .15px;
  line-height: 1.3;

  @if $type == 1 {
    font-size: $w2-fs-title1;
  } @else if $type == 2 {
    font-size: $w2-fs-title2;
  }
}


// Subtitle styling
// Type 1: Default * 1.25
// Type 2: Default * 1.125
// Type 3: Default
// Type 4: Default * 0.8125
@mixin mx-w2-subtitle($type: 1){
  font-family: $w2-ff-default;
  color: $w2-black;
  font-weight: $w2-fw-bold;
  letter-spacing: .15px;

  @if $type == 1 {
    font-size: $w2-fs-subtitle1;
  } @else if $type == 2 {
    font-size: $w2-fs-subtitle2;
  } @else if $type == 3 {
    font-size: $w2-fs-subtitle3;
  } @else if $type == 4 {
    font-size: $w2-fs-subtitle4;
  }
}


// Button suffix letter styling
// Font size: Default
@mixin mx-w2-font-fat {
  font-family: $w2-ff-fat;
  font-size: $w2-fs-fat;
  color: $w2-primary-dark;
  font-weight: 800;
  letter-spacing: .15px;
  line-height: 1;
}


@mixin drop-shadow {
  box-shadow: 0 1px 2px $w2-black-alpha50;
}



@mixin w2-transition {
  transition: all 100ms ease;
}


// Create button for version 2.0
@mixin w2-button {
  @include mx-w2-font-button;
  height: 4rem;
  max-height: 48px;
  min-width: 96px;
  background-color: $w2-white;
  text-transform: capitalize;
  border: 1px solid $w2-primary;
  border-radius: .4vmin;

  @include respond-to(ipad){
    max-height: 40px;
  }

  &.mat-button-disabled {
    border: 1px solid currentColor;
  }

  &.mat-accent {
    color: $w2-white;
  }
}

// Create button for version 2.0 (Duplicate)
@mixin make-w2-button {
  @include w2-button;
}

// This mixin can be included to add ellipsis to one-liner text
@mixin add-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



// Main containter styling can be used as a bordered container
@mixin make-main-container {
  display: flex;
  flex-wrap: wrap;
  min-width: calc(100% - 1.25rem);
  height: 100%;
  min-height: 50vh;
  max-height: calc(100vh - 14rem);
  padding: .5rem;
  background-color: $w2-white;
  border: 1px solid $w2-primary;
  border-radius: .5rem;
  overflow: auto;
  position: relative;
  box-shadow: inset 0 0 4px 1px $w2-black-alpha50;
}


// Style default mat-ink-bar
@mixin new-mat-ink-bar {
  background-color: $w2-white;
  bottom: 1px;

  &:after {
    content: '';
    border: 10px solid transparent;
    border-bottom: 9px solid $w2-white;
    position: absolute;
    top: -18px;
    transform: translateX(-50%);
    left: 50%;
  }
}


@mixin make-tab-body-container {
  border: 1px solid $w2-primary;
  box-shadow: inset 0 0 3px $w2-black-alpha10;
  padding: 2vmin 1vmin;
}


@mixin mat-select-styles {
  @include mat-select-width;
  border: 1px solid $w2-primary;
  border-radius: 3px;
  padding: .4vmin;

  &.mat-select-disabled {
    border: 1px solid $w2-black-alpha30;

    &:hover {
      cursor: not-allowed;
    }
  }
}

@mixin mat-select-width($w: 100%){
  width: $w;
}


@mixin create-dialog-content-row {
  align-items: center;
  background-color: $black-alpha95;
  display: flex;
  padding: 1vmin 1vmin 0;
}




////Styles for '2-columns' data-container.
// %var-container {
//   border: 1px solid $w2-primary-dark;
//   height: 32vmin;
//   margin: 4px 10px;
//   padding: 0;
//   width: 94%;

//   &__small-font-size {
//     font-size: $font-base-size * .9;
//   }

//   &__link {
//     color: $w2-primary-dark !important;
//     font-size: $font-base-size * .9;
//     height: 40px;
//   }

//   &__header {
//     background-color: $light-gray;
//     border-radius: 4px 4px 0 0;
//   }

//   &__scrollable {
//     height: calc(100% - 44px);
//     overflow: hidden;
//     overflow-y: auto;
//   }
// }


@mixin tbl-content-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;

  //::ng-deep circle {
  //  stroke: $w2-white !important;
  //}
}

@mixin tbl-backdrop {
  $top-gap: 50px;
  background-color: rgba(0,0,0,.01);
  position: absolute;
  width: 100%;
  height: calc(100% + #{$top-gap});
  top: -#{$top-gap};
  left: 0;
  z-index: 100;
}


@mixin make-all-disable {
  opacity: .65;
  pointer-events: none;
}
