@import 
'../../../../styles/variables', 
'../../../../styles/mixins';

$wd-override-primary-color:         $w-primary;
$wd-override-surface-color:         $white;
$wd-override-accent-color:          $w-accent;
$wd-override-banner-bg-color:       #dbc5a7;
$wd-override-banner-text-color:     #00000035;

.wd-table-override-ui {
    display: flex;
    justify-content: center;
    margin-top: 1em;

    &__container {
        @include make-wd-container;
        margin: 0 -1em;
        width: 100%;
    }

    &__row {
        @include make-wd-row;
        margin: 0 -1em;
    }

    &__grid {
        @include make-grid-container;
    }

    &__flex {
        @include make-flex-container;
        
        &.reverse {
            flex-direction: row-reverse;

            .playing-card__wrapper + .playing-card__wrapper {
                margin-left: 0;
                margin-right: 1em; 
            }
        }
    }

    &__view {
        .wd-table-override-ui__grid {
            grid-template-columns: auto 1fr;
            border: 2px solid $wd-override-primary-color;
            min-height: 15em;
        }

        .banner {
            background-color: $wd-override-banner-bg-color;
            width: min(3rem, 3vw, 4rem);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .banner-text {
            position: absolute;
            transform: rotate(-90deg);
            font-size: 1.5rem;
            font-weight: 800;
            color: $wd-override-banner-text-color;
            white-space: nowrap;
        }

        .playing-cards {
            &__wrapper {
                @include make-grid-container;
                gap: 1em;
                padding: 1em;
                position: relative;
            }

            &__side-labels {
                background: $wd-override-primary-color;
                width: .5em;
                height: 10em;
                position: absolute;
                left: 0;
                right: 0;
                margin: 1em auto auto;
                border-radius: 1em 1em;

                &:before,
                &:after {
                    position: absolute;
                    background: #eee7dd;
                    color: $wd-override-accent-color;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: .2em .5em;
                    border: 1px solid $wd-override-primary-color;
                }

                &:before {
                    content: "Banker";
                    left: -5em;
                    top: 1em;
                    border-radius: 4px 0 0 4px;
                    border-right: 0;
                }

                &:after {
                    content: "Player";
                    left: 75%;
                    top: 3em;
                    border: 1px solid #bb9156;
                    border-radius: 0 4px 4px 0;
                    border-left: 0;
                }
            }

            .playing-card {
                width: 6rem;
            }

            .playing-card__front {
                transform: rotateY(180deg);
            }
            .playing-card__back {
                transform: rotateY(0deg);
            }
        }

        .controls {
            justify-self: center;

            button + button {
                margin-left: 1em;
            }
        }
    }

    // Playing-cards styles
    .playing-card {
        border-radius: 0.5rem;
        background-color: transparent;
        cursor: pointer;
        transition: all .1s ease-in;
        width: 8rem;
        height: auto;
        aspect-ratio: 2/3;
        display: grid;
        perspective: 600px;

        &__inner {
            position: relative;
            width: 100%;
            height: 100%; 
            transform-style: preserve-3d;
            transition: transform 450ms ease-in;
        }

        &:hover .playing-card__inner {
            transform: rotateY(180deg);
        }

        &__wrapper {
            width: auto;
            height: auto;
            display: block;
            position: relative;
        }

        &__front,
        &__back {
            position: absolute;
            display: grid;
            grid-template-rows: auto 1fr auto;
            backface-visibility: hidden;
            border: .25em solid $wd-override-primary-color;
            padding: 1vmin;
            width: 100%;
            height: 100%;
            border-radius: .5em;
        }

        &__front {
            background-color: $wd-override-surface-color;
            border: 0.2vmin solid #807f7f;
        }

        &__back {
            border: .2vmin solid $wd-override-accent-color;
            background: repeating-conic-gradient(from 45deg, $wd-override-surface-color 0% 10%, $wd-override-accent-color 0% 20%) 100% / 1.5rem 1.5rem;
            transform: rotateY(180deg);
        }

        &__suit {
            display: flex;
            background-position: 0;
            width: 2em;
            aspect-ratio: 1;

            &--clubs {
                background: url(/assets/images/icon-suit-clubs.svg) no-repeat;
            }
            &--spades {
                background: url(/assets/images/icon-suit-spades.svg) no-repeat;
            }
            &--diamonds {
                background: url(/assets/images/icon-suit-diamonds.svg) no-repeat;
            }
            &--hearts {
                background: url(/assets/images/icon-suit-hearts.svg) no-repeat;
            }
        }

        &__value {
            font-size: 4.75em;
            font-weight: 800;
            line-height: 0;
            justify-self: center;
            align-self: center;
            user-select: none;
        }
    }

    // Style mirror-effect to card-color
    .playing-card__value + .playing-card__suit {
        justify-self: end;
        transform: rotate(180deg);
    }

    .playing-card__wrapper + .playing-card__wrapper {
        margin-left: 1em; 
        margin-right: 0;
    }

}


.game-type-2 {
    position: relative;
    min-height: 16rem;

    .playing-card {
        position:absolute;
        margin: 0;
        transition: transform 350ms ease-in-out;
    }

    .playing-card + .playing-card {
        margin: 0 !important;
    }

    &:hover {
        .wd-table-override-ui__flex {
            .playing-card {
                transform: translateX(8rem);
        
                + .playing-card {
                    transform: translateX(calc(16rem + 1em));
        
                    + .playing-card {
                        transform: translateX(calc(24rem + 2em));
                    }
                }
            }
        }

        .wd-table-override-ui__flex.reverse {
            .playing-card {
                transform: translateX(-8em);
        
                + .playing-card {
                    transform: translateX(calc(-16rem));
        
                    + .playing-card {
                        transform: translateX(calc(-24rem - 1em));
                    }
                }
            }
        }
    }
}

.third-card {
    min-width: 12rem;
    display: flex !important;
    justify-content: center;

    .playing-card {
        transform: rotate(-90deg);
    }
}



.wd-cb-seats {
    padding: 1em;
    display: grid;
    gap: 1em;
}

.wd-cb-seat {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 2.5;
    min-width: 25%;
    align-self: start;
}