.wd-form-controls {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  margin: 0 auto;
  padding: 1em 0;

  .wd-form-control__wrapper  {
      display: flex;

      ::ng-deep .mat-form-field {
          flex: 1;
          font-size: 1rem;

          // .mat-input-element {
          //     color: $wd-tab-text-color;
          // }
          // .mat-form-field-label {
          //     color: $wd-tab-text-color;
          // }
          // .mat-form-field-underline {
          //     background-color: $wd-tab-text-color;
          // }
          // .mat-form-field-ripple {
          //     background-color: $wd-tab-text-color;
          // }
          // .mat-form-field-required-marker {
          //     color: $wd-tab-text-color;
          // }
      }

      ::ng-deep .mat-form-field.mat-focused {
          .mat-form-field-label {
              color: $wd-control-input-color;
          }
          .mat-form-field-ripple {
              background-color: $wd-control-input-color;
          }
          .mat-form-field-required-marker {
              color: $wd-control-input-color;
          }
          .mat-input-element {
              color: $wd-control-input-color;
          }
      }

      ::ng-deep .mat-form-field.mat-form-field-invalid {
          .mat-input-element {
              color: $wd-control-invalid-color;
          }
          .mat-form-field-label {
              color: $wd-control-invalid-color;
              .mat-form-field-required-marker {
                  color: $wd-control-invalid-color;
              }
          }
          .mat-form-field-ripple {
              background-color: $wd-control-invalid-color;
          }
      }
  }
}