@use './common/variables' as vars;
@use './common/colors' as clrs;
@use './common/mixins' as mixins;

@mixin w2-dialog-title {
    &__title {
      @include mx-w2-headline(3);
      position: relative;
    }
  }
  
  @mixin w2-dialog-close-btn {
    &__close-btn {
      border-radius: 0 4px;
      height: 48px;
      position: absolute;
      right: -24px;
      top: -24px;
    }
  }
  
  @mixin w2-dialog-header {
    @include w2-dialog-title;
    @include w2-dialog-close-btn;
  }
  
  @mixin w2-dialog-controls {
    &__actions {
      justify-content: flex-end;
      min-height: 4rem;
    }
  }
  
  @mixin w2-dialog-confirm-msg {
    &__confirm {
      @include mx-w2-subtitle(1);
      align-items: center;
      background-color: clrs.$w2-white;
      border: 1px solid clrs.$w2-primary;
      border-radius: 8px;
      display: flex;
      flex: 1;
      height: 100%;
      justify-content: flex-end;
      padding: 8px 12px;
    }
  }
  
  @mixin w2-dialog-notification {
    @include utils.mx-w2-font-body(3);
    color: vars.$info;
    cursor: default;
    left: 0;
    position: absolute;
    white-space: nowrap;
  
    &:before {
      content: '\25C6';
      padding-right: .25rem;
    }
  }
  
  
  
  .notify {
    @include w2-dialog-notification;
  }