<div class="grand-total">
    <div class="grand-total__content-wrapper">
        <span class="textVertical">Total</span>
        <div class="grand-total__data-wrapper">
            <div class="grand-total__values-row">
                <span>Fill</span>
                <span>{{fillCount}}</span>
                <span>{{fillValue | amountFormat}}</span>
            </div>
            <div class="grand-total__values-row">
                <span>Credit</span>
                <span>{{creditCount}}</span>
                <span>{{creditValue | amountFormat}}</span>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="grand-total">
    <div class="grand-total__content-wrapper">
        <span class="textVertical">Total</span>
        <div class="grand-total__data-wrapper">
            <div class="grand-total__values-row">
                <span>Buy In</span>
                <span>{{buyinCount}}</span>
                <span>{{buyinValue | amountFormat}}</span>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="grand-total">
    <div class="grand-total__content-wrapper">
        <span class="textVertical">Total</span>
        <div class="grand-total__data-wrapper">
            <div class="grand-total__values-row">
                <span>Change</span>
                <span>{{buyinCount}}</span>
                <span>{{buyinValue | amountFormat}}</span>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="grand-total grand-total--col-2">
    <div class="grand-total__content-wrapper">
        <span class="textVertical">Total</span>
        <div class="grand-total__data-wrapper">
            <div class="grand-total__values-row">
                <span>Buy In</span>
                <span>{{buyinValue | amountFormat}}</span>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="grand-total grand-total--col-2">
    <div class="grand-total__content-wrapper">
        <span class="textVertical">Total</span>
        <div class="grand-total__data-wrapper">
            <div class="grand-total__values-row">
                <span>Change</span>
                <span>{{buyinValue | amountFormat}}</span>
            </div>
        </div>
    </div>
</div>


