@import '../../../styles/variables', '../../../styles/mixins';

$black-alpha5: rgba(0, 0, 0, .05);
$black-alpha35: rgba(0, 0, 0, .35);
$black-alpha65: rgba(0, 0, 0, .65);
$black-alpha85: rgba(0, 0, 0, .85);
$white-alpha15: rgba(255, 255, 255, .15);

$block-surface-color:       $w-primary;
$block-reverse-color:       $white;
$block-text-color:          $black;
$block-height:              5rem;
$block-border:              2px solid $block-surface-color;

@mixin tbl-grand-total {
    position: relative;
    width: 100%;
    display: flex;

    &--col-2 &__values-row span {
        &:first-child {
            flex: 2;
        }

        &:last-child {
            flex: 3;
        }
    }

    &__content-wrapper {
        @include set-font-family();
        background-color: $block-surface-color;
        border-radius: $border-radius2;
        display: flex;
        flex: 1;
        height: $block-height;

        span {
            padding: 0 .4em;
            white-space: pre;
            @include include-font-style(1.2em, $font-base-weight, 1);
        }

        .textVertical {
            @include include-font-style($font-h4-size, 800, 1);
            color: $black-alpha65;
            transform: rotate(-90deg) translate(-18px, 15px);
            padding: 0;
            width: 2.5em;
            height: 2em;
        }
    }
  
    &__data-wrapper {
        display:grid;
        border: $block-border;
        width: 100%;
    }
  
    &__labels-row {
        display: flex;
        align-items: center;
        @include include-font-style($font-h5-size, $font-base-weight, 1.5);
        background-color: $black;
        color: $w-primary-light;
    }
  
    &__values-row {
        display: flex;
        background-color: $block-reverse-color;
    }

    &__data-wrapper,
    &__labels-row,
    &__values-row {
        border-top-right-radius: $border-radius2;
        border-bottom-right-radius: $border-radius2;
    }
}

  
.grand-total {
    @include tbl-grand-total;
    max-width: 45vw;

    &__values-row {
        min-height: 32px;
        
        span {
            @include include-font-style($font-h4-size, $font-base-weight, 1);
            color: $block-text-color;
            border-right: $block-border;
            height: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex: 1;

            &:first-child {
                justify-content: flex-start;
                padding-left: 1em;
            }
            
            &:last-child {
                border-right: none;
            }
        }
    }

    &__values-row + &__values-row {
        border-top: $block-border;
    }
}



hr {
    border-color: $black-alpha5;
    margin: 1em 0;
}